<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sus</title>
    <style>
      .button {
background-color: green;
border: thick;
text-align: center;
display: inline-block;
      }
    </style>
  </head>
  <body>
    <a href='http://localhost:3000/game' class="button">Play</a>
  </body>
</html>
