<nav class="sidebar sidebar_block sidebar_internal_color sidebar_right_animation sidebar_top sidebar_internal_color" style="z-index: 3; width: 250px; font-weight: bold; display: none; right: 0px;" id="sidebar">
    <a href="javascript:void()" onclick="sidebar_close()" class="sidebar_item sidebar_button sidebar_center sidebar_internal_padding">CLOSE</a>
    <a href="/student" onclick="w3_close()" class="sidebar_item sidebar_button sidebar_center sidebar_internal_padding">Student Panel</a>
    <a href="/controlpanel" onclick="w3_close()" class="sidebar_item sidebar_button sidebar_center sidebar_internal_padding">Teacher Controls</a>
    <a href="/virtualbar" onclick="w3_close()" class="sidebar_item sidebar_button sidebar_center sidebar_internal_padding">Virtual Bar</a>
    <a href="/help" onclick="w3_close()" class="sidebar_item sidebar_button sidebar_center sidebar_internal_padding">Help Ticket Creation</a>
</nav>

<header class="sidebar_container sidebar_top sidebar_color sidebar_font sidebar_padding">
    <span class="sidebar_padding sidebar_left">Formbar.js</span>
    <a href="javascript:void(0)" class="sidebar_right sidebar_button" onclick="sidebar_open()">☰</a>
</header>