<dialog id="breakDialog" class="contentBox">
	<div id="onBreak">
		<p style="margin-top: 0;">You are on a break</p>
		<button class="quickButton" onclick="endBreak()">End Break</button>
	</div>
</dialog>