<dialog id="breakDialog" class="contentBox revampDiv">
	<div id="onBreak">
		<p style="margin-top: 0;">You are on a break</p>
		<button class="quickButton revampButton" onclick="endBreak()" style="margin: auto;">End Break</button>
	</div>
</dialog>

<% if(currentUser.break) { %>
	<script>document.getElementById('breakDialog').showModal()</script>
<% } %>