<style>
    body {
        padding-top: 72px;
    }
</style>
<header id="formbarHeader">
    <a href="/" id="headerLogo">Formbar</a>
    <a href="/" class="headerTab">Panel</a>
    <a href="/plugins" class="headerTab">Plugins</a>
    <a href="/" class="headerTab" onclick="(()=>{socket.emit('leaveClass')})()">Leave Class</a>
    <a href="/" class="headerTab" onclick="(()=>{socket.emit('logout')})()">Logout</a>
</header>