<style>
  body {
    padding-top: 72px;
  }
</style>
<header id="formbarHeader">
  <a href="/" id="headerLogo"><h1>Formbar</h1><p id="version">v 1.1.0</p></a>
  <% if (locals.currentUser) { %>
    <ul>
    <% if (currentUser.permissions >= MOD_PERMISSIONS) { %>
      <li><a href="/controlPanel" class="headerTab revampButton">Panel</a></li>
      <% } %>
        <% if (currentUser.permissions>= MANAGER_PERMISSIONS) { %>
          <li><a href="/managerPanel" class="headerTab revampButton">Manager</a></li>
          <% } %>
            <% if (!currentUser.classPermissions) { %>
              <% if (currentUser.permissions>= TEACHER_PERMISSIONS) { %>
                <li><a href="/manageClass" class="headerTab revampButton">Manage Class</a></li>
                <% } %>
                  <li><a href="/selectClass" class="headerTab revampButton">Join Class</a></li>
                  <% } %>
                      <% if (currentUser.classPermissions) { %>
                        <li><button href="/" class="headerTab revampButton" title="Classes" onclick="leaveClass()">
                          Classes</button></li>
                          <li>
                          <button href="/" class="headerTab revampButton" title="Leave Class" onclick="leaveClassroom()">Leave Class</button></li>
                        <% } %>
                          <% } %>
                          </ul>
                          <a href="/profile" class="circularButton" title="LM/DM">
                            <img src="/img/person.svg" title="Profile">
                          </a>
                          <button onclick="toggleTheme()" id="lmdmBtn" class="circularButton" title="LM/DM">
                            <img id="lmdmIcon" src="/img/sun.svg" title="Light/Dark Mode Toggle">
                          </button>
                          <button href="/" id="logoutButton" class="circularButton" onclick="logout()">
                            <img id="logoutIcon" src="/img/logout.svg" title="Logout">
                          </button>
                          <button id="muteButton" class="circularButton" onclick="toggleMuteSound()"><img id="muteIcon" src="/img/volume.svg" title="Sound On"></button>
                          <button id="unmuteButton" class="circularButton" onclick="toggleMuteSound()" hidden><img id="unmuteIcon" src="/img/mute.svg" title="Sound Off"></button>
</header>
<script>
  let lmdmIcon = document.getElementById("lmdmIcon");

  //document.body.style.backgroundColor = getCookie("theme")
  if (getCookie("theme") == "white") {
    document.getElementById('lmdm').href = '/css/lightmode.css';
    lmdmIcon.src = "/img/moon.svg"
  } else if (getCookie("theme") == "dark") {
    document.getElementById('lmdm').href = '/css/darkmode.css';
    lmdmIcon.src = "/img/sun.svg"
  }

  function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length >= 2) return parts.pop().split(';').shift();
  }

  var nextYear = new Date().getFullYear() + 1;

  function toggleTheme() {
    let theme = getCookie("theme");
    if (!theme) theme = "white"; // If no theme cookie, default to white
    if (theme === "white") {
      document.cookie = "theme=dark;expires=Fri, 1 Jul " + nextYear + " 23:59:59 GMT; path=/";
      document.getElementById('lmdm').href = '/css/darkmode.css';
      lmdmIcon.src = "/img/sun.svg"
    } else {
      document.cookie = "theme=white;expires=Fri, 1 Jul " + nextYear + " 23:59:59 GMT; path=/";
      document.getElementById('lmdm').href = '/css/lightmode.css';
      lmdmIcon.src = "/img/moon.svg";
    }
  }

  function logout() {
    if (confirm('Are you sure you want to logout?')) {
      socket.emit('logout')
    }
  }

  function leaveClass() {
    if (confirm('Are you sure you want to change classes? This will remove you from the current class session.')) {
      socket.emit('leaveClass')
    }
  }

  function leaveClassroom() {
    if (confirm('Are you sure you want to leave the classroom?')) { 
      socket.emit('leaveClassroom') 
    }
  }

  if (currentUser && currentUser.activeClasses.length > 0 && currentUser.permissions >= MOD_PERMISSIONS) {
      const muteButton = document.getElementById("muteButton");
      muteButton.style.display = "block";
  }
</script>