<style>
  body {
    padding-top: 72px;
  }
</style>
<header id="formbarHeader">
  <a href="/" id="headerLogo">Formbar</a>
  <% if (locals.currentUser) { %>
    <% if (currentUser.classPermissions) { %>
      <a href="/" class="headerTab">Panel</a>
      <% } %>
        <% if (currentUser.permissions>= MANAGER_PERMISSIONS) { %>
          <a href="/managerPanel" class="headerTab">Manager</a>
          <% } %>
            <% if (!currentUser.classPermissions) { %>
              <% if (currentUser.permissions>= TEACHER_PERMISSIONS) { %>
                <a href="/manageClass" class="headerTab">Manage Class</a>
                <% } %>
                  <a href="/selectClass" class="headerTab">Join Class</a>
                  <% } %>
                    <% if (currentUser.classPermissions>= STUDENT_PERMISSIONS) { %>
                      <a href="/plugins" class="headerTab">Plugins</a>
                      <% } %>
                        <% if (currentUser.classPermissions) { %>
                          <button href="/" class="headerTab" onclick="(()=>{socket.emit('leaveClass')})()">Leave
                            Class</button>
                          <% } %>
                            <button href="/" class="headerTab" onclick="(()=>{socket.emit('logout')})()">Logout</button>
                            <% } %>
                              <button onclick="changeTheme()" class="headerTab">LM/DM</button>
                              <p id="version">v 1.0.0</p>
</header>
<script>
  //document.body.style.backgroundColor = getCookie("theme")
  if (getCookie("theme") == "white") {
    document.getElementById('lmdm').href = 'css/lightmode.css';
  } else if (getCookie("theme") == "dark") {
    document.getElementById('lmdm').href = 'css/darkmode.css';
  }

  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
  var nextYear = new Date().getFullYear() + 1;
  function changeTheme() {
    let theme = getCookie("theme");
    if (theme == "white") {
      document.cookie = "theme=dark;expires=Fri, 1 Jul " + nextYear + " 23:59:59 GMT";
      document.getElementById('lmdm').href = 'css/darkmode.css';
    } else {
      document.cookie = "theme=white;expires=Fri, 1 Jul " + nextYear + " 23:59:59 GMT";
      document.getElementById('lmdm').href = 'css/lightmode.css';
    }
    console.log(document.getElementById('lmdm'))
  }
</script>