<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%- title %>
  </title>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="icon" href="">
  <style>
    /* #homeLink {
      position: absolute;
      left: 8px;
      top: 8px;
      color: var(--light-red);
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }

    .light #homeLink {
      color: var(--color-red);
    }

    #homeLink:hover {
      color: var(--main-color);
    } */
    body {
      background: var(--bg-darker);
      overflow: hidden;
      text-align: center;
      margin: 0;
    }

    h1 {
      text-align: center;
      margin-top: 12px;
    }

    h2 {
      margin-top: 32px;
    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }

    #quickmenu {
      text-align: center;
      justify-content: center;
      margin: auto;
      margin-bottom: 16px;
    }

    #quickmenu .quickButton {
      width: 300px;
    }

    #content,
    .quickButton,
    #indexContent {
      border-style: solid;
      border-width: 2px;
      margin: auto;
      background-color: var(--bg-color);
    }

    #content {
      /* width: fit-content; */
      /* max-width: 600px; */
      width: 600px;
      padding: 10px;
      border-radius: 10px;
      overflow: auto;
      position: relative;
      text-align: center;
      background-color: #eff3d8;
    }

    .quickButton {
      display: inline-block;
      margin: 0 4px;
      padding: 5px;
      border-radius: 8.75px;
      background-color: #d6ead4;
      color: #00738c;
    }

    .quickButton:hover {
      background-color: #00738c;
      color: #d6ead4;
    }

    .classic #content,
    .classic .quickButton {
      border-color: var(--light-blue);
    }

    #playStop .quickButton {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #d6ead4;
      color: #00738c;
    }

    #nowPlaying {
      text-align: center;
      color: #00738c;
    }

    #permChanges {
      text-align: center;
    }

    #forgotPassword {
      display: block;
      margin: auto;
      margin-top: 8px;
      width: 256px;
      text-align: left;
    }

    #noPoll {
      text-align: center;
    }

    #virtualBar {
      width: calc(100% - 32px);
    }

    #text {
      width: 10ch;
      padding: 0 4px;
      border: 1px white;
      border-style: solid solid none;
      background: black;
      font: 32px monospace;
      text-transform: uppercase;
      overflow: hidden;
    }

    #pixBox {
      width: 100%;
      height: 64px;
      box-sizing: border-box;
      border: 1px solid white;
      display: flex;
      justify-content: space-around;
      user-select: none;
    }

    #colorContent {
      background-color: #eff3d8;
    }

    #permChanges {
      color: #00738c;
    }

    #headerText {
      color: #00738c;
    }

    #endPoll {
      position: absolute;
      left: 47.5%;
    }

    #filterBoxes {
      color: #00738c;
    }

    .textColorContent {
      color: #00738c;
    }

    #indexContent {
      /* width: fit-content; */
      /* max-width: 600px; */
      width: 600px;
      padding: 10px;
      border-radius: 10px;
      overflow: auto;
      position: relative;
      text-align: center;
      background-color: #eff3d8;
    }

    #indexContent .quickButton {
      width: 95%;
    }

    #indexContent .quickButton:hover {
      background-color: #00738c;
      color: #d6ead4;
    }

    /* Custom radio button code */

    :root {
      --form-control-color: #00738c;
    }

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    #pollControl {
      display: grid;
      place-content: center;
      min-height: 20px;
    }

    .form-control {
      font-family: system-ui, sans-serif;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.1;
      display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;
    }

    .form-control+.form-control {
      margin-top: 1em;
    }

    .form-control:focus-within {
      color: var(--form-control-color);
    }

    input[type="radio"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: var(--form-background);
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid currentColor;
      border-radius: 50%;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center;
    }

    input[type="radio"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--form-control-color);
      background-color: CanvasText;
    }

    input[type="radio"]:checked::before {
      transform: scale(1);
    }

    input[type="radio"]:focus {
      outline: max(2px, 0.15em) solid currentColor;
      outline-offset: max(2px, 0.15em);
    }

    /* Code for header/sidebar */
    .sidebar {
      height: 100%;
      width: 200px;
      background-color: #d6ead4;
      position: fixed !important;
      z-index: 1;
      overflow: auto;
    }

    .sidebar_container {
      padding: 0.01em 16px;
    }

    .sidebar_container::before,
    .sidebar_container::after {
      content: "";
      display: table;
      clear: both;
    }

    .sidebar_top {
      position: fixed;
      width: 100%;
      z-index: 1;
      top: 0;
    }

    .sidebar_color {
      color: #00738c !important;
      background-color: #d6ead4 !important;
    }

    .sidebar_internal_color {
      color: #d6ead4 !important;
      background-color: #00738c !important;
    }

    .sidebar_font {
      font-size: 24px !important;
    }

    .sidebar_internal_font {
      font-size: 18px !important;
    }

    .sidebar_padding {
      padding-top: 16px !important;
      padding-bottom: 16px !important;
    }

    .sidebar_internal_padding {
      padding-top: 32px !important;
      padding-bottom: 32px !important;
    }

    .sidebar_left {
      float: left !important;
    }

    .sidebar_right {
      float: right !important;
    }

    .sidebar_button {
      display: inline-block;
      margin: 0 4px;
      padding: 5px;
      border-radius: 8.75px;
      background-color: #d6ead4;
      color: #00738c;
    }
    
    .sidebar_block .sidebar_item {
      width: 100%;
      display: block;
      padding: 8px 16px;
      text-align: left;
      border: none;
      white-space: normal;
      float: none;
      outline: 0;
    }

    .sidebar_block .sidebar_center .sidebar_item {
      text-align: center;
    }

    /* Sidebar animations */
    .sidebar_right_animation {
      position: relative;
      animation: animateright 0.4s;
    }

    @keyframes animateright {
      from {
        right: -300px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }
  </style>

  <script>
    function sidebar_open() {
      document.getElementById("sidebar").style.display = "block";
      document.getElementById("overlay").style.display = "block";
    };
    
    function sidebar_close() {
      document.getElementById("sidebar").style.display = "none";
      document.getElementById("overlay").style.display = "none";
    };
  </script>
</head>




</html>