<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
      {% block style %}{% endblock %}

  </head>

  <body class="{% block color %}{% endblock %}">
    {% block main %}{% endblock %}
  </body>

  {% block script %}{% endblock %}
</html>
