<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="icon" href="">
  <style>
    /* #homeLink {
      position: absolute;
      left: 8px;
      top: 8px;
      color: var(--light-red);
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }

    .light #homeLink {
      color: var(--color-red);
    }

    #homeLink:hover {
      color: var(--main-color);
    } */
    body {
      background: var(--bg-darker);
      overflow: hidden;
    }
    h1 {
      text-align: center;
      margin-top: 12px;
    }

    h2 {
      margin-top: 32px;
    }
    #quickmenu {
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 16px;
    }
    #content,
    .quickButton {
      border-style: solid;
      border-width: 2px;
      margin: auto;
      background-color: var(--bg-color);
    }
    #content {
      /* width: fit-content; */
      /* max-width: 600px; */
      width: 600px;
      padding: 10px;
      border-radius: 10px;
      overflow: auto;
      position: relative;
    }
    .quickButton {
      display: inline-block;
      width: 50px;
      margin: 0 4px;
      padding: 5px;
      border-radius: 8.75px;
    }
    .classic #content,
    .classic .quickButton {
      border-color: var(--light-blue);
    }
  </style>

</head>




</html>
