<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <link rel="icon" href="">
  <style>
    /* #homeLink {
      position: absolute;
      left: 8px;
      top: 8px;
      color: var(--light-red);
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
    }

    .light #homeLink {
      color: var(--color-red);
    }

    #homeLink:hover {
      color: var(--main-color);
    } */
    body {
      background: var(--bg-darker);
      overflow: hidden;
      text-align: center;
    }
    h1 {
      text-align: center;
      margin-top: 12px;
    }

    h2 {
      margin-top: 32px;
    }
    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    #quickmenu {
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 16px;
    }
    #content,
    .quickButton {
      border-style: solid;
      border-width: 2px;
      margin: auto;
      background-color: var(--bg-color);
    }
    #content {
      /* width: fit-content; */
      /* max-width: 600px; */
      width: 600px;
      padding: 10px;
      border-radius: 10px;
      overflow: auto;
      position: relative;
      text-align: center;
    }
    .quickButton {
      display: inline-block;
      margin: 0 4px;
      padding: 5px;
      border-radius: 8.75px;
    }
    .classic #content,
    .classic .quickButton {
      border-color: var(--light-blue);
    }
    #playStop .quickButton {
      position: absolute;
      top: 50%;
      left: 50%;
    }
    #nowPlaying {
      text-align: center;
    }
    #allMusic {
      position: absolute;
      top: 50%;
      left: 50%;
    }
    #permChanges {
      text-align: center;
    }
    #forgotPassword {
      display: block;
      margin: auto;
      margin-top: 8px;
      width: 256px;
      text-align: left;
    }
    #noPoll {
      text-align: center;
    }
    #virtualBar {
      width: calc(100% - 32px);
    }

    #text {
      width: 10ch;
      padding: 0 4px;
      border: 1px white;
      border-style: solid solid none;
      background: black;
      font: 32px monospace;
      text-transform: uppercase;
      overflow: hidden;
    }

    #pixBox {
      width: 100%;
      height: 64px;
      box-sizing: border-box;
      border: 1px solid white;
      display: flex;
      justify-content: space-around;
      user-select: none;
    }
  </style>

</head>




</html>
