<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
      {% block style %}{% endblock %}
      <style>
        #homeLink {
          position: absolute;
          left: 8px;
          top: 8px;
          color: var(--light-red);
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
        }

        .light #homeLink {
          color: var(--color-red);
        }

        #homeLink:hover {
          color: var(--main-color);
        }
      </style>
  </head>

  <body class="{% block color %}{% endblock %}">
    {% block main %}{% endblock %}
  </body>

  <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/header.js')}}"></script>
  {% block script %}{% endblock %}
</html>
