<div id="vbContainer">
    <canvas id='virtualbar'></canvas>
</div>

<script src="js/chart.js"></script>
<script>
    let noPoll;
    let virtualBar = document.getElementById("virtualbar");
    let vbContainerOuter = document.getElementById("vbContainerOuter");
    let mychart = virtualBar.getContext("2d");
    let pollsData = {}
    let timeData = {}
    let doughnutChart = new Chart(mychart, {
        type: 'pie',
        data: {
            labels: [],
            datasets: [{
                backgroundColor: [],
                data: []
            },
            {
                backgroundColor: ["blue", "white"],
                data: [],
                type: "pie",
                options: {
                    //disable the labels appearing on the pie chart's data
                    plugins: {
                        legend: {
                            labels: {
                                display: false,
                            }
                        }
                    }
                }
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                    labels: {
                        font: {
                            size: (document.documentElement.clientWidth + document.documentElement.clientHeight) / 100
                        },
                        color: 'black'
                    }
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            return context.dataset.label;
                        }
                    }
                }
            },
            elements: {
                arc: {
                    borderColor: "black"
                }
            },
            cutout: '0%',
        }
    })

    // Calls for data
    let loaded = false
    socket.emit('classUpdate')

    // Gets data from server
    socket.on('classUpdate', (classroomData) => {
        loaded = true;

        const newPollData = classroomData.poll
        if (deepObjectEqual(newPollData, pollsData)) return

        if (!newPollData.status && Object.keys(newPollData.responses).length == 0) {
            if (!timeData.active) {
                if (noPoll) noPoll.style.display = ''

                vbContainerOuter.style.display = "none";
            }

            doughnutChart.data.datasets[0].data = []
            doughnutChart.data.labels = []
        } else {
            if (noPoll) noPoll.style.display = 'none'
            vbContainerOuter.style.display = "block";

            // Reset virtual bar
            doughnutChart.data.datasets[0].backgroundColor = []
            doughnutChart.data.datasets[0].data = []
            doughnutChart.data.labels = []

            let totalStudents = newPollData.totalResponders
            let totalResponses = newPollData.totalResponses;

            // make the polls blind unless all students answered
            if (totalStudents == totalResponses || currentUser.classPermissions >= TEACHER_PERMISSIONS) {
                newPollData.blind = false
            }

            let labelsArray = []
            let pollArray = []

            // Build labels and data from the responses array
            if (newPollData.blind) {
                labelsArray.push('Responses')
                // Sum all response counts for blind mode
                let totalResponseCount = 0;
                for (const pollData of newPollData.responses || []) {
                    totalResponseCount += pollData.responses || 0;
                }
                pollArray.push(totalResponseCount);
                doughnutChart.data.datasets[0].backgroundColor.push('#FFAA00')
            } else {
                // Normal mode - show each response option
                for (const pollData of newPollData.responses || []) {
                    labelsArray.push(pollData.answer)
                    pollArray.push(pollData.responses || 0)
                    doughnutChart.data.datasets[0].backgroundColor.push(pollData.color)
                }
            }

            // Add "No Response" option
            labelsArray.push('No Response')
            pollArray.push(newPollData.totalResponders - newPollData.totalResponses)
            doughnutChart.data.datasets[0].backgroundColor.push('#E1E1E1')

            doughnutChart.data.labels = labelsArray
            doughnutChart.data.datasets[0].data = pollArray
        }

        pollsData = newPollData
        doughnutChart.update()
    })

    // If the user is rate limited from sockets, then the data may not populate in the control panel immediately
    // Therefore, we will keep emitting the classUpdate event until we get the data
    const checkLoadedInterval = setInterval(() => {
        if (loaded) {
            clearInterval(checkLoadedInterval);
        }
        socket.emit('classUpdate');
    }, 1000);

    // socket.emit('vbTimer')
    socket.on('vbTimer', (newTimeData) => {
        if (deepObjectEqual(newTimeData, timeData)) return

        let pieChart = doughnutChart.data.datasets[1]
        let time = newTimeData.timeLeft
        let timePassed = newTimeData.startTime - newTimeData.timeLeft
        let sound = newTimeData.sound
        let active = newTimeData.active
        //turn the time into minutes and seconds
        let minutes = Math.floor(time / 60)
        let seconds = time % 60
        if (seconds < 10) {
            seconds = "0" + seconds
        }
        let timeString = minutes + ":" + seconds

        if (active) {
            vbContainerOuter.style.display = "block";
            if (time > 0) {
                pieChart.data = [time, timePassed]
                doughnutChart.data.datasets[1].label = `${minutes}:${seconds}`
                doughnutChart.data.label = `${minutes}:${seconds}`
                pieChart.backgroundColor = ["blue", "white"]
            } else {
                pieChart.data = [timePassed]
                doughnutChart.data.datasets[1].label = timeString
                pieChart.backgroundColor = ["red"]
            }
        } else {
            if (!pollsData.status && Object.keys(pollsData.responses).length == 0) {
                vbContainerOuter.style.display = "none";
            }
            pieChart.data = []
        }

        timeData = newTimeData
        doughnutChart.update()
    })
</script>