## Environmental variables for the Formbar
# For the email API
EMAIL_USER = 'SampleUser@SampleAddress.com'
EMAIL_PASSWORD = 'S@mpleP@ssw0rd!'
LOCATION = 'http://localhost:420'
# For the Google API
GOOGLE_CLIENT_ID = 'example-id.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET = 'example-client_secret'