{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Password Reset{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  #content {
    text-align: center;
  }

  h2 {
    margin-top: 0;
  }

  button {
    margin: 16px 2px;
  }

  input {
    display: block;
    margin: auto;
    font-size: 20px !important;
    width: 256px;
    height: 36px !important;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 0;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}purple{% endblock %}

<!-- Main content here -->
{% block main %}
<button onclick="window.history.back();">🡄 Cancel</button>
<h2>Enter your password</h2>
<form action="{{ forward }}" method="POST" style="margin-bottom: 16px;">
  <input type="password" id="passwordBox" name="password" class="box" placeholder="Password" value="">
  <input type="submit" id="submitButton" class="button unselectable" onsubmit="return false;" value="Continue">
  <input type="hidden" name="action" value="{{ action }}">
</form>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
<script>
  document.getElementById("passwordBox").oninput = function() {
    let sb = document.getElementById("submitButton");
    if (this.value) {
      sb.classList.remove("unselectable");
      sb.onsubmit = () => true;
    } else {
      sb.classList.add("unselectable");
      sb.onsubmit = () => false;
    }
  };
</script>
{% endblock %}
