{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Password Reset{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  #content {
    text-align: center;
  }

  h2 {
    margin-top: 0;
  }

  button {
    margin: 16px 2px;
  }

  input {
    display: block;
    margin: auto;
    font-size: 20px !important;
    width: 256px;
    height: 36px !important;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 0;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}purple{% endblock %}

<!-- Main content here -->
{% block main %}
<h2>Change your password</h2>
<form method="POST" style="margin-bottom: 16px;">
  <input type="text" id="usernameBox" name="username" class="box hidden" placeholder="Name" value="" autocomplete="off">
  <input type="password" id="oldPasswordBox" name="oldPassword" class="box hidden" placeholder="Old password" value="">
  <input type="password" id="newPasswordBox" name="newPassword" class="box" placeholder="New password" value="" required>
  <input type="submit" id="submitButton" class="button unselectable" onsubmit="return false;">
</form>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
<script>
  let ub = document.getElementById("usernameBox");
  let op = document.getElementById("oldPasswordBox");
  let np = document.getElementById("newPasswordBox");
  let sb = document.getElementById("submitButton");

  if ("{{ loggedIn }}" == "True") {
    ub.value = "";
    ub.disabled = true;
    op.classList.remove("hidden");
    op.required = true;
    sb.value = "Change";
  } else {
    ub.classList.remove("hidden");
    ub.required = true;
    sb.value = "Request change";
  }

  function checkIfBlank() {
    if (np.value && (("{{ loggedIn }}" == "True" && op.value) || ("{{ loggedIn }}" == "False" && ub.value))) {
      sb.classList.remove("unselectable");
      sb.onsubmit = () => true;
    } else {
      sb.classList.add("unselectable");
      sb.onsubmit = () => false;
    }
  }

  ub.oninput = checkIfBlank;
  op.oninput = checkIfBlank;
  np.oninput = checkIfBlank;
</script>
{% endblock %}
