{% extends 'header_fullscreen.html' %}

{% block title %}API Data for Debugging{% endblock %}
{% block style %}
<style>
  #buttonContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    background: var(--bg-darker);
  }

  button {
    margin: 5px;
  }

  #data {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px - 24px);
    box-sizing: border-box;
    padding: 8px;
  }

  #updateBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    padding: 7px 14px;
    box-sizing: border-box;
    background: linear-gradient(to right, var(--theme-color), var(--theme-color) 50%, var(--bg-dark-highlight) 50%);
    font-size: 14px;
    line-height: 14px;
    text-align: right;
  	background-size: 200% 200%;
    animation: fillBar 3s linear infinite;
  }

  @keyframes fillBar {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}red{% endblock %}

{% block main %}
  <div id="buttonContainer"></div>

  <div id="data"></div>

  <div id="updateBar">Updating in <span id="timeLeft">3</span></div>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
<script>
  let urls = [
    "/bgm",
    "/fightermatches",
    "/ip",
    "/me",
    "/mode",
    "/newpasswords",
    "/permissions",
    "/phrase",
    "/pix",
    "/quizname",
    "/students",
  ];
  let timeLeft = 3;
  let dataURL = "/pix";

  urls.forEach(url => document.getElementById("buttonContainer").innerHTML += `<button id="${url}" onclick="update('${url}')">/api${url}</button>`);

  function countdown() {
    document.getElementById("timeLeft").innerHTML = timeLeft--;
  }

  function update(newURL = dataURL) {
    urls.forEach(url => {
      let el = document.getElementById(url);
      if (url == newURL) el.classList.add("pressed");
      else el.classList.remove("pressed");
    });
    dataURL = newURL;

    //Update the data
    let newRequest = new XMLHttpRequest();
    newRequest.open("GET", "/api" + newURL);
    newRequest.onload = () => document.getElementById("data").innerText = newRequest.responseText;
    newRequest.send(null);

    //Reset the update time
    timeLeft = 3;
  }

  update();
  countdown();
  setInterval(update, 3000);
  setInterval(countdown, 1000);
  </script>
{% endblock %}
