{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- For pages that take up the whole screen, change this to 'header_fullscreen.html' -->

<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{{ style|safe }}{% endblock %}

<!-- Change theme color here -->
{% block color %}{{ color or 'purple' }}{% endblock %}

<!-- Main content here -->
{% block main %}
{{ content|safe }}
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}{% endblock %}
