{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Help{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  body {
    text-align: center;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}yellow{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}

<!-- Main content here -->
{% block main %}
<h1>Ask For Help</h1>
<form method="POST">
    <textarea name="message" class="box" rows="4" cols="40" placeholder="Message (optional)"></textarea><br>
    <br>
    <input type="submit" class="button" value="Send ticket">
</form>
{% endblock %}
