{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Leaderboards{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style>
    body {
      text-align: center;
    }

    #game {
      width: 300px;
      display: inline-block;
      margin: 8px;
      padding: 2px;
      vertical-align: middle;
      background: var(--dark-gray);
      font-size: 28px;
    }

    .arrow {
      position: relative;
      top: 3.5px;
      font-size: 24px;
      color: var(--theme-color);
      cursor: pointer;
      user-select: none;
    }

    .arrow:active {
      color: white;
    }

    #scores {
      margin: 16px 0;
    }

    table {
      margin: auto;
    }

    table, th, td {
      font-size: 20px;
    }

    th, td {
      width: 200px;
      padding: 2px;
      text-align: center;
    }
  </style>
{% endblock %}

<!-- Extra style declarations here -->
{% block color %}green{% endblock %}

<!-- Main content here -->
{% block main %}
  <h1>Leaderboards</h1>
  <span class="arrow" onclick="previous();">◀</span>
  <span id="game"></span>
  <span class="arrow" onclick="next();">▶</span>
  <div id="scores"></div>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}
  <script>
    //Get scores from the database
    let data = "{{ data }}".replaceAll("&#34;", "\"");
    data = JSON.parse(data);

    let games = [
      //First is object/endpoint name, second is displayed name
      ["2048", "2048"],
      ["bitshifter", "Bitshifter"],
      ["hangman", "Hangman"],
      ["minesweeper", "Minesweeper"],
      ["speedtype", "Speed Typer"],
      ["ttt", "Tic-tac-toe"],
      ["towerdefense", "Tower Defense"],
      ["fighter", "Turn-Based Fighter"],
      ["wordle", "Wordle"]
    ];
    let game;
    if ("{{ game }}") game = games.find(game => game[0] == "{{ game }}");
    else game = games[0];
    switchGame(game);

    async function switchGame(newGame) {
      document.getElementById("game").innerText = newGame[1];

      let gameData = data.filter(item => item[1] == newGame[0] && item[3]); //Get all scores for the game that are above 0


      if (gameData.length) {
        let metric;
        switch (newGame[0]) {
          case "fighter":
          case "ttt":
            metric = "Wins";
            break;
          case "towerdefense":
            metric = "Maps & achievements";
            break;
          case "minesweeper":
            metric = "Time";
            break;
          default:
            metric = "Score";
        }
        if (metric == "Time") gameData.reverse();
        document.getElementById("scores").innerHTML = `
          <table id="table">
            <tr>
              <th>Name</th>
              <th>${metric}</th>
            </tr>
          </table>
        `;

        //Keep one score per username
        let scoreList = [];
        gameData.forEach((score, i) => {
          if (!scoreList.find(item => item[2] == score[2])) scoreList.push(score);
        });
        scoreList = scoreList.slice(0, 10); //Get the first 10 items

        scoreList.forEach(score => {
          document.getElementById("table").innerHTML += `
            <tr>
              <td>${score[2]}</td>
              <td>${(metric == "Time") ? `${Math.floor(score[3] / 60)}:${score[3] % 60 < 10 ? "0" + score[3] % 60 : score[3] % 60}` : score[3]}</td>
            </tr>
          `;
        });
      } else {
        document.getElementById("scores").innerHTML = "<h2>No scores for this game yet</h2>";
      }
    }

    function previous() {
      game = games[games.indexOf(game) - 1] || games.at(-1);
      switchGame(game);
    }

    function next() {
      game = games[games.indexOf(game) + 1] || games[0];
      switchGame(game);
    }
  </script>
{% endblock %}
