{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Alert{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{{ style|safe }}{% endblock %}

<!-- Change theme color here -->
{% block color %}purple{% endblock %}

<!-- Main content here -->
{% block main %}
{{ content|safe }}
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
  <script>
    let message = "{{ message }}";
    let forward = "{{ forward }}";

    //This decodes HTML entities
    var el = document.createElement("textarea");
    el.innerHTML = message;
    message =  el.value;

    let lastPage = document.referrer && new URL(document.referrer);

    alert(message);
    if (forward) location.href = forward;
    else if (!lastPage || (lastPage.pathname == "/login" && window.location.pathname != "/login")) location.href = "/";
    else window.history.back();
  </script>
{% endblock %}
