{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar (Basic Mode){% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  body {
    font-size: 18px;
  }

  #topButtons {
    width: fit-content;
    margin: auto;
  }

  #topButtons * {
    margin: 0 8px;
    font-size: 24px;
    font-weight: bold;
    border-width: 2px !important;
  }

  .light #topButtons * {
    color: var(--color-purple);
  }

  .light #topButtons .pressed {
    background: var(--color-purple);
    border-color: var(--color-purple);
    color: white;
  }

  #formbar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 74px;
    text-align: center;
  }

  #tutd, #abcd {
    width: 480px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  h1 {
    color: var(--theme-color);
    font-size: 32px;
    margin: 0 0 4px;
  }

  h2 {
    margin: 0;
  }

  .thumbButton,
  .letterButton {
    height: 120px;
    margin: 8px;
    border-radius: 40px !important;
  }

  .highlight:hover {
    transform: none !important;
    box-shadow: none !important;
  }

  #otherDiv button {
    width: 180px;
    margin: 8px;
    font-size: 28px;
    font-weight: bold;
    border-width: 2px !important;
    border-radius: 9999px !important;
  }

  .smallImg {
    width: 33px;
  }

  #input[type="color"] {
    height: 23px;
  }

  h3 {
    margin: 0 0 10px;
    font-size: 26px;
    color: var(--theme-color);
  }

  #randomMusic {
    margin: 0 4px 0 0;
  }

  #nowPlaying {
    font-size: 18px;
  }

  #playPauseMusic, #restartMusic, #stopMusic {
    margin: 0;
  }

  #text {
    text-transform: uppercase;
    font-family: monospace;
  }

  #color2Div:not(.hidden) {
    display: inline-block;
  }

  #chat {
    position: fixed;
    left: 0;
    top: 74px;
    width: 100%;
    height: calc(100% - 74px);
    border: 1px solid var(--light-blue);
    border-style: solid none none;
    z-index: 999;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}light{% endblock %}

<!-- Main content here -->
{% block main %}
  <div id="topButtons">
    <button id="formbarButton" class="pressed">Formbar</button>
    <button id="chatButton">Chat</button>
  </div>

  <div id="formbar">
    <div id="tutdDiv" class="hidden">
      <img src="{{ url_for('static', filename='img/advanced/thumbButton0.png') }}" id="thumbButton0" class="thumbButton button inline popOut moreDepth greenColor" title="Up" onclick="thumbsVote(0);" tabindex="0"><br>
      <img src="{{ url_for('static', filename='img/advanced/thumbButton1.png') }}" id="thumbButton1" class="thumbButton button inline popOut moreDepth cyanColor" title="Wiggle" onclick="thumbsVote(1);" tabindex="0"><br>
      <img src="{{ url_for('static', filename='img/advanced/thumbButton2.png') }}" id="thumbButton2" class="thumbButton button inline popOut moreDepth redColor" title="Down" onclick="thumbsVote(2);" tabindex="0">
      <br><br>
    </div>
    <div id="abcdDiv" class="hidden">
      <img src="{{ url_for('static', filename='img/advanced/letterButton0.png') }}" id="letterButton0" class="letterButton button inline popOut moreDepth redColor" title="Vote A" onclick="letterVote(0);" tabindex="0"><br>
      <img src="{{ url_for('static', filename='img/advanced/letterButton1.png') }}" id="letterButton1" class="letterButton button inline popOut moreDepth blueColor" title="Vote B" onclick="letterVote(1);" tabindex="0"><br>
      <img src="{{ url_for('static', filename='img/advanced/letterButton2.png') }}" id="letterButton2" class="letterButton button inline popOut moreDepth yellowColor" title="Vote C" onclick="letterVote(2);" tabindex="0"><br>
      <img src="{{ url_for('static', filename='img/advanced/letterButton3.png') }}" id="letterButton3" class="letterButton button inline popOut moreDepth greenColor" title="Vote D" onclick="letterVote(3);" tabindex="0">
      <br><br>
    </div>
    <div id="essayDiv" class="hidden">
      <textarea id="essay" rows="6" cols="25" placeholder="Type your essay here" oninput="checkResponse();"></textarea><br>
      <button id="submitResponse" class="inline popOut unselectable">Submit</button>
      <br><br>
    </div>
    <div id="otherDiv" class="hidden">
      <button id="help" class="inline popOut moreDepth" title="Send the teacher a help ticket">Help!</button><br>
      <button id="break" class="inline popOut moreDepth" title="Request a bathroom break">Bathroom!</button>
      <br><br>
    </div>
    <div id="soundDiv" class="hidden">
      <h1>Sound effects</h1>
      <input type="text" class="line" id="sound" placeholder="Filename" list="sfxFiles">
      <datalist id="sfxFiles"></datalist>
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendSound();">
      <br><br>
    </div>
    <div id="musicDiv" class="hidden">
      <h1>Play music</h1>
      <img src="{{ url_for('static', filename='img/advanced/random.png') }}" id="randomMusic" class="smallImg" title="Random" onclick="randomBGM()"><input type="text" id="music" class="line" placeholder="Filename" list="bgmFiles">
      <datalist id="bgmFiles"></datalist>
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendMusic();"><br>
      <label for="volume">Volume: </label><input type="range" id="volume" min="0.1" max="1" step="0.1">
      <span id="volNumber"></span>
      <div id="nowPlaying" class="hidden">Now playing: <b id="nowPlayingTitle" title="Song"></b></div>
      <div id="musicControls" class="hidden">
        <img src="{{ url_for('static', filename='img/advanced/pause.png') }}" class="smallImg" id="playPauseMusic" title="Pause" onclick="playPauseMusic();">
        <img src="{{ url_for('static', filename='img/advanced/restart.png') }}" class="smallImg" id="restartMusic" title="Restart" onclick="restartMusic();">
        <img src="{{ url_for('static', filename='img/advanced/stop.png') }}" class="smallImg" id="stopMusic" title="Stop" onclick="stopMusic();">
      </div>
      <br><br>
    </div>
    <div id="textDiv" class="hidden">
      <h1>Change text</h1>
      Text color: <input type="color" id="fgColor" class="button inline popOut" value="#404040"><br>
      Background: <input type="color" id="bgColor" class="button inline popOut"><br>
      <input type="text" class="line" id="text" placeholder="Phrase">
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendText();">
      <br><br>
    </div>
    <div id="colorDiv" class="hidden">
      <h1>Change color</h1>
      <input type="radio" id="hideSegment" name="segment" checked onclick="hideSegment();" style="margin-left: 0;"><label for="hideSegment">Entire bar</label>
      <input type="radio" id="showSegment" name="segment" style="margin-left: 8px;" onclick="showSegment();"><label for="showSegment">Segment</label>
      <br>
      <div id="segment" class="hidden" style="margin-bottom: 8px;">
        <input type="number" id="segmentStart" class="line" min="0" value="0" onchange="validNumber(this);"> –
        <input type="number" id="segmentEnd" class="line" min="0" onchange="validNumber(this);">
      </div>
      <input type="radio" id="hideColor2" name="gradient" checked onclick="hideColor2();" style="margin-left: 0;"><label for="hideColor2">Single color</label>
      <input type="radio" id="showColor2" name="gradient" style="margin-left: 8px;" onclick="showColor2();"><label for="showColor2">Gradient</label>
      <br>
      <div style="display: inline-block;">
        <h3 id="color1Heading" class="hidden" style="margin-bottom: 0;">Color 1</h3>
        <input type="color" id="color1" class="button inline popOut">
      </div>
      <div id="color2Div" class="hidden" style="margin-left: 8px;">
        <h3 style="margin-bottom: 0;">Color 2</h3>
        <input type="color" id="color2" class="button inline popOut">
      </div>
      <img src="{{ url_for('static', filename='img/advanced/checkMark.png') }}" class="smallImg" title="Submit" onclick="sendColor();">
      <br><br>
    </div>
  </div>

  <iframe src="/chat?mobile=true" id="chat" class="hidden"></iframe>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
  <script>
    ////Check for break, fix buttons
    function init() {
      showEnabled();
      updateVotes();
      checkForHelpTicket();
      nowPlaying();
      updateVolume();
      disableVolume();
      listSounds("{{ sfx }}");
      listMusic("{{ bgm }}");
      segmentNumbers();
    };
    getApiData(true);

    function update() {
      showEnabled();
      checkIfRemoved();
      updateVotes();
      checkForHelpTicket();
      nowPlaying();
      updateVolume();
      disableVolume();
    };
    setInterval(getApiData, 1000);

    function showSection(toShow) {
      if (toShow == "formbar") {
        document.getElementById("chat").classList.add("hidden");
        document.getElementById("formbar").classList.remove("hidden");
        document.getElementById("chatButton").classList.remove("pressed");
        document.getElementById("formbarButton").classList.add("pressed");
        document.body.classList.remove("blue");
        document.body.classList.add("light");
      } else if (toShow == "chat") {
        document.getElementById("formbar").classList.add("hidden");
        document.getElementById("chat").classList.remove("hidden");
        document.getElementById("formbarButton").classList.remove("pressed");
        document.getElementById("chatButton").classList.add("pressed");
        document.body.classList.remove("light");
        document.body.classList.add("blue");
      }
    }

    document.getElementById("formbarButton").onclick = () => showSection("formbar");
    document.getElementById("chatButton").onclick = () => showSection("chat");

    document.getElementById("help").onclick = requestHelp;
    document.getElementById("break").onclick = requestBreak;

    function showEnabled() {
      let tutdDiv = document.getElementById("tutdDiv");
      let abcdDiv = document.getElementById("abcdDiv");
      let essayDiv = document.getElementById("essayDiv");
      let otherDiv = document.getElementById("otherDiv");
      let soundDiv = document.getElementById("soundDiv");
      let musicDiv = document.getElementById("musicDiv");
      let textDiv = document.getElementById("textDiv");
      let colorDiv = document.getElementById("colorDiv");

      let mode = modeRes.mode;
      let myPerms = meRes.perms;
      let studentPerms = permsRes.student;

      if (mode == "tutd" && myPerms == permsRes.student) tutdDiv.classList.remove("hidden");
      else tutdDiv.classList.add("hidden");

      if (mode == "abcd" && myPerms == permsRes.student) abcdDiv.classList.remove("hidden");
      else abcdDiv.classList.add("hidden");

      if (mode == "text" && permsRes.student) essayDiv.classList.remove("hidden");
      else essayDiv.classList.add("hidden");

      if (myPerms == permsRes.student) otherDiv.classList.remove("hidden");
      else otherDiv.classList.add("hidden");

      let sfxPerm = permsRes.sfx;
      let bgmPerm = permsRes.bgm;
      let ledPerm = permsRes.bar;

      if (myPerms <= sfxPerm) soundDiv.classList.remove("hidden");
      else soundDiv.classList.add("hidden");
      if (myPerms <= bgmPerm) musicDiv.classList.remove("hidden");
      else musicDiv.classList.add("hidden");
      if (myPerms <= ledPerm) {
        textDiv.classList.remove("hidden");
        colorDiv.classList.remove("hidden");
      } else {
        textDiv.classList.add("hidden");
        colorDiv.classList.add("hidden");
      }
    }
  </script>
{% endblock %}
