{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Home{% endblock %}

<!-- Extra style declarations here -->
{% block style %}{% endblock %}

<!-- Extra javascript here -->
{% block script %}
{% endblock %}

<!-- Main content here -->
{% block main %}
<h1>Progress List</h1>
<div id="progList">

</div>
<script type="text/javascript">
    function sendCheck(el) {
        let request = new XMLHttpRequest();
        request.open("GET", '/progress?check=' + el.value);
        request.onload = function() {
            // console.log(request.response);
        };
        request.send();
    }

    function popList() {
        var progress = JSON.parse('{{ progress | tojson }}')
        let listString = document.createElement('ol')
        for (let i = 0; i < progress.task.length; i++) {
            let nextRow = document.createElement('li')
            nextRow.innerHTML = `<input type="checkbox" id="check${i}" name="check${i}" value="${i}" onclick="sendCheck(this)"><b>${progress.task[i]}</b><ul><li>${progress.desc[i]}</li></ul>`
            listString.appendChild(nextRow)
        }
        document.getElementById('progList').appendChild(listString)
    }
    popList()
</script>
{% endblock %}
