{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Choose Formbar Homepage{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  #content {
    text-align: center;
  }

  form {
    max-width: 400px;
    margin: auto;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
  }

  h3 {
    display: inline;
  }

  label {
    text-align: left;
  }

  span {
    display: inline-block;
    margin-left: 25px;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}purple{% endblock %}

<!-- Main content here -->
{% block main %}
  <h1>Choose your default homepage</h1>
  <h2>You can change this later.</h2>
  <br>
  <form method="post">
    <label>
      <div>
        <input type="radio" id="standard" name="page" value="standard"> <h3>Standard</h3><br>
        <span>A menu with links to other pages. Recommended for new users.</span><br>
      </div>
    </label><br>
    <label>
      <div>
        <input type="radio" id="advanced" name="page" value="advanced"> <h3>Advanced</h3><br>
        <span>A compact page that includes all features.</span><br>
      </div>
    </label><br>
    <label>
      <div>
        <input type="radio" id="quickpanel" name="page" value="quickpanel"> <h3>Quick panel</h3><br>
        <span>A page where you can easily access the most-used features. There are separate versions for students and teachers.</span><br>
      </div>
    </label><br>
    <input type="submit" class="button" value="OK">
  </form>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
  <script>
    let checked = ("{{ pm }}" == "None") ? "standard" : "{{ pm }}";
    document.getElementById(checked).checked = true;
  </script>
{% endblock %}
