{% extends 'header_content.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Formbar Thumbspanel{% endblock %}

{% block color %}classic{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  #content {
    width: 600px;
    text-align: center;
  }

  .container1-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .container2-flex {
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
  }


  .bigbutton, .smallbutton {
      margin: auto;
      padding: 10px;
      width: 100px;
      height: 100px;
      border-radius: 20px;
      border: 2px solid var(--bg-dark-blue);
      background-color: var(--dark-gray);
      font-size: 1.2em;
      font-weight: bolder;
      text-align: center;
      box-shadow: 8px 8px var(--dark-gray);
      cursor: pointer;
  }

  .smallbutton {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    font-size: 0.6em;
  }

  .bigbutton a {
    margin: auto;
    vertical-align: middle;
  }

  .bb-green {
      background-color: #bfb;
  }

  .bb-yellow {
      background-color: #ffb;
  }

  .bb-blue {
      background-color: #bff;
  }

  .bb-red {
      background-color: #fbb;
  }

  .bigbutton:hover, .smallbutton:hover {
      background-color: #ffffff;
  }
</style>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}


<!-- Main content here -->
{% block main %}
{{ prompt|safe }}
<h2 style="margin-top: 0;">Thumbs</h2>
<div class="container1-flex">
    <div class="bigbutton bb-green" onclick="window.location = '/tutd?thumb=up';">
        Up
    </div>
    <div class="bigbutton bb-blue" onclick="window.location = '/tutd?thumb=wiggle';">
        Wiggle
    </div>
    <div class="bigbutton bb-red" onclick="window.location = '/tutd?thumb=down';">
        Down
    </div>
    <div class="bigbutton bb-yellow" onclick="window.location = '/tutd?thumb=oops';">
        Remove
    </div>
</div>
<h2>Letters</h2>
<div class="container1-flex">
    <div class="bigbutton bb-green" onclick="window.location = '/abcd?vote=a';">
        A
    </div>
    <div class="bigbutton bb-blue" onclick="window.location = '/abcd?vote=b';">
        B
    </div>
    <div class="bigbutton bb-red" onclick="window.location = '/abcd?vote=c';">
        C
    </div>
    <div class="bigbutton bb-yellow" onclick="window.location = '/abcd?vote=d';">
        D
    </div>
</div>
<h2>Essay</h2>
<div class="container1-flex">
  <form action="/essay" method="POST" style="text-align: center;">
    <textarea name="essay" rows="4" cols="40" placeholder="Type your essay here"></textarea><br><br>
    <input type="submit" class="button">
  </form>
</div>
<h2>Other</h2>
<div class="container1-flex" style="width: 50%; transform: translateX(50%);">
  <div class="bigbutton bb-red" onclick="window.location = '/help';">
      Help!<br>(/help)
  </div>
  <div class="bigbutton bb-yellow" onclick="window.location = '/break';">
      Bathroom!<br>(/break)
  </div>
</div>
{% endblock %}
