{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- For pages that take up the whole screen, change this to 'header_fullscreen.html' -->

<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Poopy Checkers{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
<style>
  #content {
    text-align: center;
  }

  #opponent {
    width: 240px;
    height: 40px;
    padding: 4px;
    font-size: 18px;
    text-align: center;
  }
</style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}green{% endblock %}

<!-- Main content here -->
{% block main %}
  <h1>Tic-tac-toe</h1>
  <form>
    <input type="text" id="opponent" class="box" name="opponent" placeholder="Enter opponent's username"><br>
    <br>
    <input type="submit" class="button" value="Go to game">
    <input type="hidden" id="advanced" name="advanced">
  </form>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
<script>
  document.getElementById("advanced").value = urlParams.get("advanced");
</script>
{% endblock %}
