* {
	scrollbar-width: thin;
	scrollbar-color: white transparent;
}

body {
	background: linear-gradient(135deg, #072438 30%, #000c15 100%);
	color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	color: white !important;
}

a.link {
	color: var(--light-blue) !important;
	text-decoration-color: var(--light-blue) !important;
}

.headerText {
	color: white !important;
}

h1#noPoll.textColorContent, h1#headerText.textColorContent {
	color: var(--light-cyan) !important;
}

input {
	background-color: #323232;
	color: #ffffff;
}

.headBox {
	color: #ffffff !important;
}

#select {
	background-color: #323232;
	color: #ffffff;
}

#colorContent {
	background-color: #323232;
	color: #ffffff;
}

select option {
	color: #000000;
}

#users details{
	color: #000000;
}

#newPasswordBox.loginBox,
#confirmPasswordBox.loginBox,
#tagBox {
	border-color: #000000;
	color: #000000;
}

#pollForm button {
	color: white !important;
  	border: 2px solid #fff4;
}

canvas {
	opacity: 50%;
}


#loginHeader {
	color: #fff9 !important;
}

#content {
	background: var(--darkMode-menu-bg);
	border: 2px solid var(--darkMode-menu-border);
}

input[type="checkbox"]:checked:hover,
button.pressed:not(.includingButton).revampButton:hover {
	background: var(--darkMode-button-pressed-hover-bg) !important;
}

input[type="checkbox"]:checked,
button.pressed:not(.includingButton) {
	background: var(--darkMode-button-pressed-bg) !important;
}

.permissionOff,
.permissionOn {
	color: white !important;
}

.permissionOn {
	color: black !important;
}

input[type="checkbox"],
.revampButton,
#studentTags span.revampTag {
	background-color: var(--darkMode-button-bg);
	border: 2px solid var(--darkMode-button-border);
	outline: 2px solid #0004;
}

div.verticalLine {
	height: 80%;
	min-width: 2px;
	max-width: 2px;
	background: #fffa;
	margin: 0 25px;
}


.revampButton:not(.revampWithText):hover {
	background-color: var(--darkMode-button-hover-bg);
}

div.helpIconInformation.revampDivAlt img {
	filter: invert(0) !important;
}

div.helpIconInformation.revampDivAlt {
	color: black !important;
}

.circularButton,
.squareButton,
.mobileCircular {
	background-color: var(--darkMode-button-bg) !important;
	border: 2px solid var(--darkMode-button-border) !important;
	outline: 2px solid #0004;
}

.circularButton:hover:not(.accordionButton),
.squareButton:hover,
.mobileCircular:hover {
	background-color: var(--darkMode-button-hover-bg) !important;
}

#formbarHeader {
	background: linear-gradient(to right, #00256e, #390085);
}

#quickMenu,
.customOptions {
	background: var(--darkMode-menu-bg);
	border: 2px solid var(--darkMode-menu-border);
	color: white !important;
}

#quickMenu * {
	color: white !important;
}


#users div:not(#reasons, #reasons *, #alerts *, .userButtonDiv) {
	background: var(--darkMode-menu-bg);
	border: 2px solid var(--darkMode-menu-border);
}

.revampDiv {
	background: var(--darkMode-menu-bg);
	border: 2px solid var(--darkMode-menu-border);
	outline: 2px solid #fff4;
}

.revampDivAlt {
	border: 2px solid var(--lightMode-menu-border);
	background: var(--lightMode-menu-bg);
	outline: 2px solid #0004;
}


#news section {
	background: var(--darkMode-menu-bg);
	border: 2px solid var(--darkMode-menu-border);
}

#startClass {
	color: black !important;
	background-color: rgb(39, 164, 39);
}

#endClass {
	--theme-color: hsl(0, 100%, 12%);
	background-color: hsl(0, 66%, 46%);
}

#pollPrompt {

}

dialog {
	color: white !important;
}

td, th {
	border-bottom: 3px solid var(--darkMode-menu-border);
}

.newClassPage {
	background-color: var(--darkMode-menu-bg);
	border-color: var(--darkMode-menu-border);
}


td.permissionCell,
th.permissionHeader {
	border: 3px solid var(--darkMode-menu-border);
}