@media screen and (orientation: portrait) {
    :root {
        --fullViewportWidth: 100vw;
        --fullViewportHeight: 100vh;
    }

    @supports (width: 100dvw) and (height: 100dvh) {
        :root {
            --fullViewportWidth: 100dvw;
            --fullViewportHeight: 100dvh;
        }
    }
    
    body {
        width: var(--fullViewportWidth);
        height: var(--fullViewportHeight);
        overflow: hidden;
    }

    #content.loginContentBox {
        width: 100%;
        height: max-content;
        overflow: hidden;
    }

    #content.loginContentBox div.buttons {
        gap: 0;
    }

    input#emailBox,
    input#displayNameBox,
    input#passwordBox {
        width: 100%;
    }

    #permissionsTable {
        table-layout: fixed;
    }

    div.defaultPermSelect {
        left: 20px !important;
        right: 20px !important;
        bottom: 20px !important;
    }

    th.permissionHeader {
        padding: 10px 0 !important;
    }

    .permissionOff,
    .permissionOn {
        padding: 0 !important;
        font-size: 4cqw !important;
    }

    a#headerLogo h1 {
        font-size: 3vh;
    }

    body > #studentVBar #vbContainer {
        width: 50% !important;
        height: unset !important;
        aspect-ratio: 1 !important;
    }

    a#headerLogo p#version {
        display: none !important;
    }

    .circularButton {
        width: 40px !important;
        height: 40px !important;
    }

    .mobileMenuButton.circularButton {
        display: flex;
    }

    .revampButton {
        font-size: 2vh !important;
    }

    header#formbarHeader {
        width: 100%;
        margin: 0;
        left: 0;
        right: 0;
        border-radius: 0 !important;
    }

    div#news {
        margin: 0;
        width: 100%;
        padding: 10px;
    }

    .headBox button {
        padding: 1em !important;
    }

    header#formbarHeader ul {
        display: none;
    }

    #studentVBar {
        flex-direction: column;
        margin-top: 10vh;
        gap: 20px;
        width: 100% !important;
        height: calc(100% - 120px) !important;
    }

    #VBOptions {
        background: none !important;
        border: none !important;
        outline: none !important;
    }

    canvas#virtualbar {
        aspect-ratio: 1 !important;
        height: unset !important;
    }

    #helpBreak {
        padding: 0 !important;
        justify-content: end !important;
        gap: 20px !important;
    }

    #quickMenu div div#vbContainer {
        pointer-events: none;
        min-height: 48px;
        min-width: 48px;
        max-width: 48px;
        max-height: 48px;
        position: absolute;
        right: 5px;
        padding: 5px;
    }

    #pollResForm {
        margin-top: 10px;
    }

    #pollResForm > .responses {
        max-height: 7.5rem !important;
    }

    #pollResForm .response {
        gap: 5px !important;
        width: 100%;
    }

    #pollResForm .response > input.answerName {
        width: 100% !important;
    }

    #quickMenu.dividedThree {
        width: 100% !important;
    }

    #pollResForm .pollInfo {
        width: 100%;
        justify-content: start !important;
        gap: 5px !important;
        height: min-content !important;
    }

    #newPoll {
        width: 100%;
    }

    #pollDetails {
        cursor: auto !important;
        flex-direction: row !important;
    }

    #VBDiv #vbContainerOuter {
        display: none !important;
    }

    #content.joinClass {
        width: 100%;
    }

    #content .joinClassForm {
        width: 100%;
    }

    #joinKey {
        width: 100%;
    }

    #profileInformation {
        width: 100% !important;
    }

    #news section {
        padding: 20px !important;
    }

    #news section div.titleSection {
        padding-left: 0 !important;
    }

    #news section div.titleSection h1 {
        margin-top: 0 !important;
        font-size: 9cqw !important;
    }
    
    #news section div.titleSection h6 {
        font-size: 4cqw !important;
    }
    
    #news section article ul {
        line-height: 6cqw !important;
        font-size: 4cqw !important;
    }

    #content {
        width: 100% !important;
    }

    #quickMenu {
        width: calc(100% - 16px) !important;
        margin-left: 0 !important;
    }

    #quickMenu.fullWidth {
        width: 100% !important;
    }

    #usersMenu.tabContent #users {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }

    #usersMenu.tabContent #users div.user {
        width: 100% !important;
    }

    .usersMenuBox {
        width: 100% !important;
    }

    .headerText {
        font-size: 5cqw !important
    }

    .backButton.dialogBack {
        position: fixed;
        top: 20px;
        left: 20px;
    }

    #ipMenu.tabContent {
        flex-direction: column;
    }

    #whitelistedMembers {
        width: 100% !important;
    }

    #quickMenu button {
        white-space: nowrap;
    }

    #whitelist:not(button),
    #blacklist:not(button) {
        margin-top: 10px !important;
    }

    #whitelist *,
    #blacklist * {
        width: 100%;
    }

    #ticket,
    #otherText {
        width: 100% !important;
    }

    #managerPanel-userDialog[open] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        padding: 20px 50px !important;
    }
    #managerPanel-userDialog[open] > p {
        margin-top: 0 !important;
        font-weight: bold;
        font-size: 2vh !important;
    }

    .revampButton.mobileHasIcon img {
        display: block !important;
        filter: invert(1);
    }

    .mobileCircular.mobileHasIcon img {
        width: 100%;
        height: 100%;
    }

    .revampButton.mobileHasIcon#endClass img, 
    .revampButton.mobileHasIcon#startClass img {
        filter: none !important;
    }

    .revampButton.mobileHasIcon p {
        display: none !important;
    }

    div#controlFooter {
        min-height: 80px !important;
    }

    #usersMenu.tabContent.controlPanel.default.userMenuCp {
        height: 0px !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    details.controlStudent {
        overflow: unset;
        min-width: unset;

    }

    div.transactionButtons button {
        width: 4cqh !important;
        height: 4cqh !important;
    }

    #classesMenu {
        flex-direction: column !important;
    }

    div.transactionHistory {
        width: 100% !important;
    }
    
    #classLinks {
        width: 100% !important;
    }

    .urlCell {
        font-size: 12px;
    }

    .manageHeader {
        flex-wrap: wrap;
    }

    .userButtonDiv {
        flex-direction: column;
        gap: 5px;
        padding: 15px 0;
    }

    div.verticalLine {
        max-width: 80% !important;
        min-width: 80% !important;
        min-height: 2px;
        max-height: 2px;
        margin: 25px 0 !important;
    }

    #VBDiv {
        width: 100% !important;
    }

	#VBDiv #newMemberListControlPanel {
		display: flex !important;
  		flex-direction: column !important;
	}

    div.sideBySide {
        height: calc(100% - 100px) !important;
    }

    #newMemberListControlPanel {
        overflow: scroll !important;
    }

    .mobileCircular {
        padding: 5px !important;
        height: 40px !important;
        width: 40px !important;
        aspect-ratio: 1 !important;
        background-color: var(--lightMode-button-bg) !important;
        border-radius: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        cursor: pointer !important;
        border: 2px solid var(--lightMode-button-border) !important;
        transform-origin: center !important;
        transition: 
            0.2s transform ease-in-out !important;
    }

    header#quickMenu.dividedThree {
        flex-direction: column;
        gap: 5px !important;
    }

    header#quickMenu.dividedThree div {
        height: 100%;
        width: 100%;
        font-size: 3cqw;
    }

    div#pollDetails img {
        display: none !important; 
    }

    div#timeDiv {
        display: none !important;
    }

    div.timeInfo button {
        margin: 0 !important;
    }

    #VBOptions .options:not(.activeControlTab) {
        transition: none !important;
    }

    #links {
        display: flex !important;
        width: 100% !important;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    #links .linkButton {
        width: 100% !important;
        font-size: 4cqw !important;
        padding: 10px !important;
    }

    div#mobileNavigation {
        display: flex;
        z-index: 3;
        position: absolute;
        background: #000a;
        backdrop-filter: blur(10px);
        height: var(--fullViewportWidth);
        width: var(--fullViewportHeight);
        left: 0;
        top: 0;
        padding: 80px 10% 20px 10%;
        transition: opacity 0.3s ease, filter 0.3s ease;
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 10px;
        filter: blur(20px);
        opacity: 0;
        pointer-events: none;
    }

    div#mobileNavigation.open {
        opacity: 1;
        filter: blur(0);
        pointer-events: all;
    }

    div#mobileNavigation ul {
        flex: 1 1 auto;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    div#mobileNavigation ul li {
        height: 100%;
        max-height: 60px;
    }

    div#mobileNavigation ul li > * {
        gap: 10px;
        width: 100%;
        height: 100%;
        text-align: left !important;  
        justify-content: start;
    }

    div#mobileNavigation > :not(ul) {
        flex: 1 1 auto;
        max-height: 60px;
        text-align: left !important;  
        justify-content: start;
        gap: 10px;
    }

    div#mobileNavigation img {
        height: 50% !important;
        aspect-ratio: 1;
    }

    div.mobileNavSpacer {
        flex: 1 1 auto;
    }

    #permissionsList {
        display: flex !important;
        width: unset !important;
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    #pollPrompt {
        font-size: 4vh !important;
        white-space: nowrap;
    }

    #permissions.tabContent,
    #tags.tabContent,
    #settingsMenu.tabContent,
    #bannedStudentsMenu.tabContent,
    #previousPollsMenu.tabContent,
    #pollsMenu.tabContent,
    #sortingFilterMenu.tabContent,
    #timerMenu.tabContent,
    #helpMenu.tabContent {
        position: absolute !important;
        top: 0;
        left: 0;
        padding: 20px !important;
        width: var(--fullViewportWidth);
        height: var(--fullViewportHeight);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #000a;
        backdrop-filter: blur(10px);
        z-index: 20;
        overflow: scroll;
    }
    
    .mobileMenuHeader {
        position: absolute;
        margin: 0;
        top: 40px;
        font-size: 2em;
        color: white;
    }

    .extrasHeader {
        top: 20px !important;
        right: 20px;
    }
    

    #helpMenu.tabContent {
        padding-top: 7em !important;
    }

    #previousPollsMenu.tabContent {
        justify-content: start;
        padding-top: 80px !important;
    }

    #pollOptions {
        font-size: 3.5cqw;
    }

    #pollOptions.customOptions {
        align-items: stretch;
        margin: 0 !important;
    }

    #pollOptions.customOptions button {
        font-size: 3cqw !important;
        padding: 5px;
    }

    #publicPolls:not(button),
    #userPolls:not(button) {
        width: 100% !important;
        display: flex;
        flex-wrap: nowrap !important;
        justify-content: start !important;
        flex-direction: column;
        align-items: stretch;
        overflow: scroll;
        height: 50vh;
        margin-top: 10px;
        mask-image: linear-gradient(to bottom, #0000 0%, black 10%, black 70%, #0000 100%);
        padding: 20px 15px !important;
    }

    #publicPolls:not(button) div.customPoll, 
    #userPolls:not(button) div.customPoll {
        width: 100% !important;
    }

    #permissions.tabContent > button.backButton,
    #tags.tabContent > button.backButton,
    #bannedStudentsMenu.tabContent > button.backButton,
    #settingsMenu.tabContent > button.backButton,
    #previousPollsMenu.tabContent > button.backButton,
    #pollsMenu.tabContent > button.backButton,
    #sortingFilterMenu.tabContent > button.backButton,
    #timerMenu.tabContent > button.backButton,
    #helpMenu.tabContent > button.backButton {
        top: 10px;
        left: 10px;
        z-index: 3;
    }

    #tagOptions,
    #tagsList {
        width: 80vw !important;
    }

    #vbOptionsNext,
    #vbOptionsLast {
        width: auto !important;
        padding: 10px !important;
    }
    
    
    #pollResForm input[type="checkbox"] {
        width: 3em !important;
        height: 3em !important;
        vertical-align: middle;
    }


    #newPoll {
        padding-bottom: 0 !important;
        height: unset !important;
    }

    #settingsFunc {
        width: 100%;
    }

    .pollChangers {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        flex-direction: row;
    }

    .pollOptionsEditorOption,
    #save-poll {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    div.settingsFuncClassName * {
        width: 100%;
    }

    #previousPolls {
        display: flex !important;
        flex-direction: column;
        width: 100%;
    }

    label.permissionLabel {
        font-size: 5cqw;
        justify-content: space-between;
        text-align: left;
        width: 100%;
        gap: 20px;
    }

    div.mobileSpacer {
        display: block !important;
        flex: 1 1 auto;
    }

    *.hideMobile {
        display: none !important;
    }

    *.showMobile {
        display: flex !important;
    }

    *.showMobileCell {
        display: table-cell !important;
    }

    #apiKeyButton button {
        margin-right: 0;
        width: 36px;
        height: 36px;
    }

    .ongoingButtons {
        gap: 20px !important;
    }

    .customOptions {
        margin: 0;
        width: 100% !important;
    }

    div#content {
        z-index: 0;
    }

    button#loadPoll {
        margin: auto !important;
    }

    div#timerMenu.tabContent div#timeDiv {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    div#timerMenu.tabContent div#timeDiv p {
        display: none;
    }
    div#timerMenu.tabContent div#timeDiv input {
        padding: 1em !important;
    }

    div.helpInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: start;
        align-items: center;
        height: 100%;
        overflow: scroll;
    }

    div.helpInfo div.spacer {
        min-height: 30px;
    }

    div.tabContent .headerText {
        color: white;
    }

    div.helpInfo > p {
        color: white;
        text-align: left;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
        font-weight: 500;
    }

    div.helpIconInformation.revampDivAlt {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        color: white;
    }

    div.helpIconInformation.revampDivAlt img {
        height: 100%;
        filter: invert(1);
    }

    div.helpInformation {
        flex: 1 1 auto;
        text-align: left;
    }

    div.helpInformation p {
        margin: 0;
    }

    div.helpInformation p.helpDesc {
        font-size: 0.75rem;
        opacity: 0.75;
    }

    p#apiKey {
        min-width: 0 !important;
        overflow: auto !important;
    }

    div.pogMeter {
        right: 0 !important;
        bottom: -90px !important;
        width: 100% !important;
        height: 80px !important;
        top: unset !important;
        transform: unset !important;
    }

    #pogMeter {
        width: 100% !important;
        height: 80px !important;
    }

    #pogMeter > #pogMeterFill {
        background: linear-gradient(to right, #3f69bb, #a763ff) !important;
        mask-image: linear-gradient(to right, black 0%, black var(--pogPercent), transparent var(--pogPercent), transparent 100%);
    }
}

@media screen and (max-width: 1280px) and (orientation: landscape) {
    body {
        
    }

    .revampButton {
        font-size: 1.5cqw !important;
    }

    #formbarHeader {
        height: 50px !important;
    }

    h1 {
        font-size: 4vh !important;
    }

    .circularButton:not(.accordionButton) {
        width: 40px !important;
        height: 40px !important;
    }
    
    details.controlStudent {
        min-width: unset;
    }

    div.sideBySide {
        height: calc(100% - 100px) !important;
    }

	#VBDiv #newMemberListControlPanel {
		display: flex !important;
  		flex-direction: column !important;
        overflow: auto !important;
	}
    
}