@media screen and (orientation: portrait) {
    body {
        width: 100dvw;
        height: 100dvh;
        overflow: hidden;
    }

    #content.loginContentBox {
        width: 100%;
        height: max-content;
        overflow: hidden;
    }

    #content.loginContentBox div.buttons {
        gap: 0;
    }

    input#emailBox,
    input#displayNameBox,
    input#passwordBox {
        width: 100%;
    }

    a#headerLogo h1 {
        font-size: 3vh;
    }

    a#headerLogo p#version {
        display: none !important;
    }

    .circularButton {
        width: 40px !important;
        height: 40px !important;
    }

    .mobileMenuButton.circularButton {
        display: flex;
    }

    .revampButton {
        font-size: 2vh !important;
    }

    header#formbarHeader {
        padding-right: 10px;
    }

    div#news {
        margin: 0;
        width: 100%;
    }

    header#formbarHeader ul {
        display: none;
    }

    #studentVBar {
        flex-direction: column;
        margin-top: 100px;
        gap: 20px;
        width: 100% !important;
        height: calc(100% - 120px) !important;
    }

    canvas#virtualbar {
        aspect-ratio: 1 !important;
        height: unset !important;
    }

    #helpBreak {
        padding: 0 !important;
        justify-content: start !important;
        gap: 20px !important;
    }

    div#studentVBar div#vbContainer {
        height: min-content !important;
    }
}

@media screen and (max-height: 600px) {
    /* Smaller screens */
}