/* --- GENERAL --- */

:root {
	/*All pages can use this set of colors*/

	--color-red: #bf0000;
	--color-brown: #802000;
	--color-orange: #ff4000;
	--color-gold: #fa0;
	--color-yellow: #ffbf00;
	--color-green: #00bf00;
	--color-cyan: #009fbf;
	--color-blue: #0040bf;
	--color-purple: #bf00ff;
	--color-pink: #ff4080;
	--dark-gray: #555;

	--light-red: #ff6860;
	--light-brown: #bf6040;
	--light-orange: #ff8f40;
	--light-yellow: #ffdf40;
	--light-green: #80ff80;
	--light-cyan: #80ffff;
	--light-blue: #bfcfff;
	--light-purple: #df80ff;
	--light-pink: #ff80bfff;
	--light-gray: #ccc;

	--bg-dark: #333;
	--bg-darker: #222;
	--bg-dark-highlight: #444;
	--bg-dark-red: #400;
	--bg-dark-yellow: #430;
	--bg-dark-green: #243;
	--bg-dark-blue: #000922;
	--bg-dark-purple: #423;

	--bg-light: #d0c8e0;
	--bg-light-blue: #def;
}

body {
	font: 16px "Segoe UI", sans-serif;
	padding: 8px;
	text-align: center;
	--theme-color: var(--color-blue);
	transition: background-color 0.5s, color 0.5s;
}

a {
	text-decoration: none;
}

* {
	accent-color: var(--theme-color);
}

input {
	font-size: inherit;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="url"],
textarea,
select {
	background: var(--emphasis-color);
	font-size: inherit;
	font-family: inherit;
	border: 1px solid;
	margin: 2px 1px;
	resize: none;
}

input[type="number"] {
	width: 48px;
}

input[type="checkbox"] {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

button,
.quickButton {
	border-radius: 8px;
	font-size: inherit;
	font-family: inherit;
	background-color: var(--bg-light-blue);
	color: var(--theme-color);
	border: .3vh solid var(--theme-color);
	margin: 2px 1px;
	cursor: pointer;
	transition-duration: 0.2s;
	transition-property: width, transform, box-shadow, background-color, color;
}

.breakButton,
.helpButton {
	border-radius: 8px;
	font-size: 150%;
	font-family: inherit;
	background-color: var(--bg-light-blue);
	color: var(--theme-color);
	border: 2px solid var(--theme-color);
	margin: 2px 1px;
	cursor: pointer;
	transition-duration: 0.2s;
	transition-property: width, transform, box-shadow, background-color, color;
	width: 200px;
	height: 100px;
}

/*Pop-out effect*/
:is(button, .quickButton):not(.unselectable, .pressed):where(:hover, :focus-visible),
:is(button.tab.unselectable, .quickButton.tab.unselectable):where(:hover, :focus-visible) {
	transform: translate(3px, -3px);
	box-shadow: -1.5px 1.5px color-mix(in hsl, var(--theme-color) 70%, hsl(0, 0%, 0%) 30%), -3px 3px color-mix(in hsl, var(--theme-color) 70%, hsl(0, 0%, 0%) 30%);
}

:is(button, .quickButton):not(.unselectable):active {
	background: var(--theme-color);
	color: white;
	transform: none !important;
	box-shadow: none !important;
}

/*Shows that the button is currently active*/
button.pressed,
.quickButton.pressed {
	background-color: var(--theme-color);
	border: 2px solid #000000;
	box-shadow: inset 0 0 5px rgb(0, 0, 0);
	color: white;
}

dialog {
	box-shadow: 3px 3px 10px black;
}

/*Shows that the element can't be interacted with*/
.unselectable:not(.tab) {
	opacity: 50%;
	cursor: not-allowed;
}

/*Makes the element invisible*/
.hidden {
	display: none !important;
}

/*Makes the element take up the entire screen*/
.fullScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 8px;
}

/*Centers the element horizontally within its parent*/
.hCentered {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

/*Centers the element vertically within its parent*/
.vCentered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*Centers the element horizontally and vertically*/
.centered,
.hCentered.vCentered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#colorContent {
	background-color: var(--bg-light);
}

.textColorContent {
	color: var(--theme-color);
}

#content {
	/* width: fit-content; */
	/* max-width: 600px; */
	width: 600px;
	margin: auto;
	padding: 100px 10px 10px;
	background: white;
	overflow: auto;
	position: relative;
	text-align: center;
}

.contentBox {
	position: absolute;
	border: solid 2px black;
	border-radius: 10px;
	padding: 20px !important;
	font-size: 20px;
	z-index: 99;
}

.contentBox h1 {
	font-size: 40px;
}

#formbarHeader {
	position: fixed;
	width: 110%;
	height: fit-content;
	align-items: center;
	z-index: 1;
	top: 0;
	left: -5%;
	display: flex;
	justify-content: center;
	background: linear-gradient(to right, var(--color-blue), var(--color-purple));
	box-shadow: 0 3px 10px black;
	user-select: none;
	animation: gradient 5s ease infinite;
	background: linear-gradient(-30deg, var(--color-blue), var(--color-purple));
	background-size: 400% 400%;
	transition: filter 0.5s;
}

#lmdmBtn, #logoutButton, #muteButton, #unmuteButton {
	position: fixed;
	right: 1%;
	border-radius: 100%;
	width: 45px;
	height: 45px;
}

#lmdmBtn:hover {}

#logoutButton:hover {}

#lmdmIcon, #logoutIcon, #muteIcon, #unmuteIcon {
	position: absolute;
	left: 20%;
	top: 22%;
	width: 25px;
	height: 25px;
}

#logoutButton {
	left: 1%;
}

#muteButton {
	right: 5%;
}

#unmuteButton {
	right: 5%;
}

#logoutIcon {
	left: 25%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

#version {
	color: var(--light-gray);
	padding-left: 10px;
}

a.headerTab {
	padding: 12px 16px;
	font-size: 1.5vi;
	color: white;
	cursor: pointer;

}

.headerTab {
	padding: 12px 16px;
	font-size: 1.5vi;
	cursor: pointer;
}

.headerTab:hover,
.headerTab:focus {
	background-color: #00000055;
	color: white;
}

#headerLogo {
	padding: 8px 16px 10px;
	font-size: 24px;
	font-family: 'Arial Black';
	color: white;
	text-decoration: underline dotted;
	cursor: pointer;
}

.previousPollResponse {
	display: block;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: var(--bg-light-blue);
	color: black;
	font-weight: bold;
}

.headerText {
	color: var(--theme-color);
}

/* Custom radio button code */

*,
*:before,
*:after {
	box-sizing: border-box;
}

#pollControl {
	display: inline-flex;
	place-content: center;
	min-height: 20px;

}

.form-control {
	font-family: system-ui, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
}

.form-control+.form-control {
	margin-top: 1em;
}

.form-control:focus-within {
	color: var(--theme-color);
}

input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--form-background);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--theme-color);
	background-color: CanvasText;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="radio"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

/* --- LOGIN --- */

.loginBox {
	width: 256px;
	height: 30px;
	display: block;
	margin: auto !important;
	margin-top: 8px !important;
	text-align: left;
	font-size: 16px;
}

/* --- HOMEPAGE --- */

#indexGrid {
	display: grid;
	grid-template-columns: repeat(2, 270px);
	gap: 15px;
	justify-content: center;
}

#indexGrid .quickButton {
	width: 100%;
	padding: 20px;
	font-size: 24px;
	margin: 0;
	transition-duration: 0ms;
}

#indexGrid .breakButton {
	width: 150%;
	padding: 20px;
	font-size: 30px;
	margin: 0;
	transition-duration: 0ms;
}

#indexGrid .quickButton:hover,
#indexGrid .quickButton:focus-visible {
	background: linear-gradient(to right, var(--color-blue), var(--color-purple));
	color: white;
	border-color: transparent;
	border-width: 2px 0;
	transform: none;
	box-shadow: none;
}

#requestBreakDialog,
#sharePollDialog {
	width: 300px;
	height: 300px;
}

#requestHelpDialog {
	overflow: hidden;
	height: 350px;
}

#otherText {
	font-size: 14px;
	margin-top: 15px;
}

#takeBreak, #takeHelp {
	position: absolute;
	width: 100%;
	bottom: 20px;
}

#takeBreak #cancel, #takeHelp #cancel {
	--theme-color: hsl(0, 0%, 20%);
	background-color: white;
	margin-right: 10px;
}

#takeBreak #cancel:active, #takeHelp #cancel:active {
	background-color: var(--theme-color);
}

/* --- STUDENT PANEL --- */
#pollForm {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	align-items: flex-start;
}

#pollForm label {
	margin: 1em auto 0;
	filter: brightness(75%);
	user-select: none;
}


/* --- CONTROL PANEL --- */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes alertWiggle {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(5deg) scale(2);
	}

	50% {
		transform: rotate(-5deg) scale(2);
	}

	75% {
		transform: rotate(5deg) scale(2);
	}

	100% {
		transform: rotate(0deg) scale(1);
	}
}

#studentVBar {
	display: flex;
	justify-content: center;
	margin-bottom: 2vh;
	align-items: center;
}

#studentVBar #vbContainer {
	width: 50% !important;
	height: 85vh !important;
}

#helpBreak {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
}

#pollContent {
	width: 100%;
}

details {
	max-height: 4rem;
	overflow: hidden;
	transition: max-height 250ms ease-in-out;
}

details[open] {
	max-height: 100vh;
}

details[open] #reasons {
	transform: translateY(-80%);
}

#reasons {
	transform: translateY(80%);
	box-shadow: 0 10px 17px rgba(0, 0, 0, 0.78);
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	animation: fadeIn 0.5s;
	position: absolute;
	border-radius: 5px;
	padding: 5px;
	transition: transform 250ms ease-in-out;
	display: flex;
	background-color: #f0f0f0;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1vi;
	max-width: 25cqw;
	max-height: 150px;
}

#response {
	width: 100%;
	word-break: break-all;
}

#quickMenu {
	padding: .1vh 1vw;
	font-size: 1cqw;
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-left: 25%;
	border: .3vh var(--theme-color) solid;
	margin-bottom: 2vh;
	align-items: center;
}

#quickMenu p {
	margin: 0;
	color: var(--theme-color);
	font-weight: bold;
}

#quickMenu #settingsMenu {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 2.5cqw;
	height: 2.5cqw;
}

#quickMenu #settingsMenu img {
	width: 1.5cqw;
	height: 1.5cqw;
	pointer-events: none;
}

#quickMenu p {
	display: inline;
}

#VBDiv {
	display: flex;
	justify-content: center;
	margin-bottom: 2vh;
}

#VBDiv #vbContainer {
	width: 25% !important;
	height: auto !important;
}

#VBOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: none;
}

.options {
	justify-content: space-evenly;
	border-radius: 10px;
	margin: 1vh;
	width: 100%;
}

#settingsTab {
	display: flex;
	padding: 1.5vh;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius: 10px;
	margin: 1vh;
	width: 100%;
	border: 3px solid var(--theme-color);
}

#settingsTab h2 {
	width: 100%;
	font-size: 2cqw;
}

#settingsTab button {
	width: 25%;
	height: 5vh;
}

hr {
	border: 0;
	border-top: 5px solid var(--theme-color);
}

.headerText {
	margin: 0;
}

.headBox {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1vh;
	max-height: 25vh;
	overflow-y: auto;
	gap: 1vh;
}

.headBox button {
	width: auto;
	min-width: 100px;
	height: auto;
	margin: 1vh;
	font-size: 1.5cqw;
	padding: 0.25em 1em;
	border-radius: 5px;
}

.ongoingPollOptions {
	margin-bottom: 2vh;
}

.ongoingPollOptions,
.options {
	display: flex;
	align-items: center;
	font-size: 1.5cqw;
	border: var(--theme-color), 3px, solid;
}

.options .headBox {
	padding: 1vh 0;
	color: var(--theme-color);
	font-weight: bold;
	border-left: 3px solid var(--theme-color);
}

.options h2 {
	font-size: 2cqw;
	width: 10cqw;
}

#save-poll {
	background-color: hsl(120, 94%, 74%);
	border-color: hsl(120, 100%, 12%);
	color: hsl(120, 100%, 12%);
}

#resetAnswerNames {
	background-color: yellow;
	border-color: black;
	color: black;
}

#resetColors {
	background-color: yellow;
	border-color: black;
	color: black;
}

#userPolls:not(button), #classPolls:not(button), #publicPolls:not(button) {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.customPoll {
	border: 3px solid var(--theme-color);
	width: 15cqw;
	padding-bottom: 2vh;
	border-radius: 10px;
	margin-bottom: 1vh;
}

.customPoll button {
	width: 5cqw;
}

#pollResForm {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 2cqw;
}

#pollResForm .response {
	display: flex;
	justify-content: center;
	font-size: 1cqw;
}

#pollResForm .response button {
	background-color: hsl(0, 94%, 74%);
	color: hsl(0, 100%, 12%);
	border-color: hsl(0, 100%, 12%);
}

#pollResForm button {
	width: 2.2cqw;
	font-size: 1.5cqw;
	text-align: center;
}

#pollResForm #addPollRes {
	font-family:'Times New Roman', Times, serif;
	font-weight:900;
	background-color: hsl(120, 94%, 74%);
	color: hsl(120, 100%, 12%);
	border-color: hsl(120, 100%, 12%);
}

#pollResForm #pollBox {
	width: 300px;
}

#pollResForm input {
	text-align: center;
}

#pollResForm div, #pollResForm h1 {
	width: 100%;
}

.headerText input {
	transform: scale(1.25);
}

.ongoingPollOptions #timeDiv {
	padding: 1vh 0;
	width: 30%;
	color: var(--theme-color);
	font-weight: bold;
	border-right: 3px solid var(--theme-color);
}

.ongoingPollOptions #timeDiv p,
.ongoingPollOptions #timeDiv input {
	display: inline;
	color: var(--theme-color);
	font-weight: bold;
	text-align: center;
}

#settingsMenu textarea, #settingsMenu input {
	color: var(--theme-color);
	height: 2cqw;
	resize: vertical;
	font-weight: bold;
	white-space: normal;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}

.ongoingPollOptions #timeDiv input::-webkit-outer-spin-button,
.ongoingPollOptions #timeDiv input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ongoingPollOptions .ongoingButtons,
.options .headBox {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#pollOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1.5vh;
}

#pollOptions h2 {
	width: 100%;
}

#pollOptions button {
	width: 25%;
	height: 5vh;
}

div .tabContent {
	padding-bottom: 5vh;
}

#startClass {
	--theme-color: hsl(120, 100%, 12%);
	background-color: hsl(120, 94%, 74%);
}

#endClass {
	--theme-color: hsl(0, 100%, 12%);
	background-color: hsl(0, 94%, 74%);
}

#users {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#users details[id^="student"],
#users div[id^="student"] {
	box-shadow: 0 0 0px black;
	border: 3px var(--theme-color) solid;
	border-radius: 5px;
	width: 25%;
	font-size: larger;
	margin-top: 2.5vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-bottom: 15cqh;
	height: fit-content;
	background-color: var(--bg-light-blue);
	min-width: 300px;
}

#users details[id^="student"][open] #studentTags {
	width: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
	max-height: max-content;
}

#previousPolls {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#studentTags {
	order: 3;
	display: flex;
	justify-content: space-evenly;
	margin-left: auto;
	width: 70%;
}

#tagOptions div {
	display: flex;
	justify-content: center;
}

#settingsFunc div {
	display: flex;
	justify-content: center;
}

#studentTags span{
	border: 3px var(--theme-color) solid;
	font-size: 1cqw;
	text-align: center;
	margin: 1px;
}

div.break {
	margin-bottom: 3%;
}

#users details[id^="student"] summary {
	padding: 1vh;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	list-style-type: '';
}

#users details[id^="student"] summary:not(:first-child:nth-child(2)){
	justify-content: center;
}

#checkbox_student {
	order: 1;
	margin-right: 10px;
}

#users details[id^="student"][open] summary {
	border-bottom: 3px var(--theme-color) solid;
}

#users details[id^="student"] #alerts {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transform: translateY(-150%);
	width: 25%;
	font-size: 2cqw;
}

#users details[id^="student"] #alerts * {
	animation-name: alertWiggle;
	animation-duration: 0.5s;
}

#users div:not(#reasons, #reasons *, #alerts *) {
	padding: 1vh 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-bottom: 3px var(--theme-color) solid;
}

#users div:last-child:not(#reasons, #reasons *, #alerts *) {
	border-bottom: none;
}


#users span:empty, #users div:empty {
	display: none !important;
}

#users #roomTags {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

#saveButton {
	background-color: var(--light-green);
	width: 310px;
	margin-top: 10px;
}

#users #roomTags button:not(#saveButton) {
	background-color: #cf8d37;
	color: #f0f0f0;
	font-weight: 600;
	min-width: 100px;
	box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

#users #roomTags button:not(#saveButton) {
	padding-bottom: 6px;
}

#users #roomTags button.pressed {
	background-color: #ffd8a5 !important;
	color: white !important;
	box-shadow: 0 0 5px rgb(255, 255, 255) !important;
	border: 2px solid #ffffff;
}

.banUser, .kickUser {
	--theme-color: hsl(0, 100%, 12%);
	background-color: hsl(0, 94%, 74%);
}

.break,
.break summary {
	border-color: #ffff00 !important;
}

#breakReason button {
	border: 3px solid #ffff00 !important;
}

.help,
.help summary {
	border-color: #ff0000 !important;
}

#helpReason button {
	border: 3px solid #ff0000 !important;
}

.offline,
.offline summary {
	border-color: var(--dark-gray) !important;
}


#permissionsList {
	display: flex;
	justify-content: space-evenly;
	border-radius: 10px;
	margin: 1vh;
	width: 100%;
	font-size: 1.5cqw;
}

#helpReason, #breakReason {
	display: inline-block;
	overflow-wrap: break-word;
	text-align: center;
	border-radius: 5px;
	max-width: 400px;
	height: 100%;
	margin: 5px;
}

#helpReason p, #breakReason p {
	font-size: 1.1cqw;
}

#helpReason:empty, #breakReason:empty, #response:empty {
	display: none !important;
}

/* news page */
article {
	margin: 0 auto;
	max-width: 500px;
}

#news {
	justify-content: center;
	font-size: 24px;
}

/* google button DO NOT TOUCH IT THATS MEAN */
.gsi-material-button {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-appearance: none;
	background-color: WHITE;
	background-image: none;
	border: 1px solid #747775;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #1f1f1f;
	cursor: pointer;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	height: 40px;
	letter-spacing: 0.25px;
	outline: none;
	overflow: hidden;
	padding: 0 12px;
	position: relative;
	text-align: center;
	-webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
	transition: background-color .218s, border-color .218s, box-shadow .218s;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	max-width: 400px;
	min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
	height: 20px;
	margin-right: 12px;
	min-width: 20px;
	width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
	-webkit-align-items: center;
	align-items: center;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	height: 100%;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
	-webkit-transition: opacity .218s;
	transition: opacity .218s;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.gsi-material-button:disabled {
	cursor: default;
	background-color: #ffffff61;
	border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
	opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
	opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
	background-color: #303030;
	opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
	-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
	background-color: #303030;
	opacity: 8%;
}