/* --- GENERAL --- */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url(./mobile.css);

* {
	scrollbar-width: thin;
	scrollbar-color: black transparent;
}

:root {
	/*All pages can use this set of colors*/

	--color-red: #bf0000;
	--color-brown: #802000;
	--color-orange: #ff4000;
	--color-gold: #fa0;
	--color-yellow: #ffbf00;
	--color-green: #00bf00;
	--color-cyan: #009fbf;
	--color-blue: #0040bf;
	--color-purple: #bf00ff;
	--color-pink: #ff4080;
	--dark-gray: #555;

	--light-red: #ff6860;
	--light-brown: #bf6040;
	--light-orange: #ff8f40;
	--light-yellow: #ffdf40;
	--light-green: #80ff80;
	--light-cyan: #80ffff;
	--light-blue: #bfcfff;
	--light-purple: #df80ff;
	--light-pink: #ff80bfff;
	--light-gray: #ccc;

	--bg-dark: #333;
	--bg-darker: #222;
	--bg-dark-highlight: #444;
	--bg-dark-red: #400;
	--bg-dark-yellow: #430;
	--bg-dark-green: #243;
	--bg-dark-blue: #000922;
	--bg-dark-purple: #423;

	--bg-light: #d0c8e0;
	--bg-light-blue: #def;

	--formbarAccent1: #033fc0;
	--formbarAccent2: #6f00ff;

	--borderRadius: 10px;





	--lightMode-body-bg: linear-gradient(135deg, #b8e1ff 30%, #699bbe 100%);
	--darkMode-body-bg: linear-gradient(135deg, #072438 30%, #000c15 100%);

	--lightMode-menu-bg: #fff7;
	--lightMode-menu-border: #fffa;
	--darkMode-menu-bg: #0007;
	--darkMode-menu-border: #fff2;

	--lightMode-border: #fff5;
	--darkMode-border: #fff2;

	--lightMode-button-bg: #0008;
	--lightMode-button-border: #0004;
	--lightMode-button-hover-bg: #000b;
	--lightMode-button-pressed-bg: #013fbf99;
	--lightMode-button-pressed-hover-bg: #3269d699;

	--darkMode-button-bg: #d5e5ff33;
	--darkMode-button-border: #fff4;
	--darkMode-button-hover-bg: #83868c33;
	--darkMode-button-pressed-bg: #004ce394;
	--darkMode-button-pressed-hover-bg: #286aee94;

	--button-hover-scale: 1.025;
}

body {
	overflow: hidden;
	font: 16px "Outfit", Arial, sans-serif;
	padding: 8px;
	text-align: center;
	--theme-color: var(--color-blue);
	transition: background-color 0.5s, color 0.5s;
	width: calc(100dvw - 16px);
	height: calc(100dvh - 16px);
	background: linear-gradient(135deg, #b8e1ff 30%, #699bbe 100%);
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-black);
}

p {
	color: var(--color-black);
}

.messageBody {
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

a {
	text-decoration: none;
}

* {
	accent-color: var(--theme-color);
	font-family: 'Outfit', Arial, Helvetica, sans-serif !important;
}

input {
	font-size: inherit;
} 	

input[type="number"] {
	width: 48px;
}

input[type="checkbox"] {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

.pollOptionIcon {
	width: 2rem;
	height: 2rem;
	filter: invert();
}

.breakButton,
.helpButton,
button#remove {
	width: 230px;
	height: 100%;
}

button#remove {
    max-width: max-content;
    margin: auto;
    padding: 0 50px;
}

.breakButton:hover,
.helpButton:hover,
button#remove:hover {
	background-color: #122f5f99;
	transform: scale(var(--button-hover-scale));
}

button#remove {
	width: 100%;
	height: 55px;
}

/*Shows that the button is currently active*/
button.pressed,
.quickButton.pressed,
.revampButton.pressed {
	background: var(--lightMode-button-pressed-bg);
	color: white;
}

button.pressed:hover,
.quickButton.pressed:hover,
.revampButton.pressed:hover {
	background: var(--lightMode-button-pressed-hover-bg) !important;
}

textarea#resTextBox {
	width: 100%;
}

#backgroundDarken {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: #0000;
	backdrop-filter: blur(0px);
	z-index: 5;

	pointer-events: none;
	transition: 0.2s ease-in-out background, 0.2s ease-in-out backdrop-filter;
}

#backgroundDarken.open {
	background: #000a;
	backdrop-filter: blur(5px);
}

#virtualbar {
	filter: drop-shadow(2px 2px 6px #000a);
}

dialog {
	/* background: red; */
	box-shadow: 3px 3px 10px black;
}

/*Shows that the element can't be interacted with*/
.unselectable:not(.tab) {
	opacity: 50%;
	cursor: not-allowed;
}

/*Makes the element invisible*/
.hidden {
	display: none !important;
}

/*Makes the element take up the entire screen*/
.fullScreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 8px;
}

/*Centers the element horizontally within its parent*/
.hCentered {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

/*Centers the element vertically within its parent*/
.vCentered {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*Centers the element horizontally and vertically*/
.centered,
.hCentered.vCentered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#colorContent {
	display: flex;
	flex-direction: column;
}

#colorContent.loginPage #content,
#colorContent.selectClass #content {
	margin: auto;
}

.joinClass {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.textColorContent {
	color: var(--theme-color);
}

#content {
	height: auto;
	width: 600px;
	margin: 0 auto;
	padding: 100px 10px 10px;
	background: var(--lightMode-menu-bg);
	border: 2px solid var(--lightMode-menu-border);
	overflow: auto;
	position: relative;
	text-align: center;
}

.contentBox {
	position: absolute;
	border: solid 2px black;
	border-radius: 10px;
	padding: 20px !important;
	font-size: 20px;
	z-index: 99;
}

.contentBox h1 {
	font-size: 40px;
}

#formbarHeader {
    overflow: hidden;
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	background: linear-gradient(to right, #0040bf, #6f00ff);
	height: 60px;
	box-shadow: 0px 3px 10px black;
	color: white;
	padding: 0 20px;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 20px;
	border-radius: 0 0 10px 10px;
	z-index:5;
}

#formbarHeader ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	margin-right: 30px;
	overflow-x: auto;
	display: flex;
	justify-content: left;
	align-items: center;
	white-space: nowrap;
	margin-right: 40px;
}

#formbarHeader li {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	margin: 5px;
	height: calc(100% - 10px);
}

#formbarHeader > button:last-of-type {
	margin: 0;
}

#formbarHeader > button img {
	height: 60%;
	aspect-ratio: 1;
	object-fit: cover;
}

#muteButton,
#unmuteButton {
    display: none;
}

#logoutIcon {
	left: 25%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

#headerLogo {
	text-align: left;
	white-space: nowrap;
	margin-right: 10px;
}

#headerSpacer {
	flex: 1 1 auto;
}

#headerLogo > h1,
#headerLogo > p {
	font-family: "Outfit", sans-serif;
  	display: inline-block;
}

#headerLogo h1 {
	margin: 0;
}

#headerLogo,
#headerLogo:visited {
	text-decoration: none;
	color: unset;
}

#headerLogo p {
	display: inline-block;
	font-size: 14px;
	color: #fffa;
	margin: 0;
	margin-left: 10px;
}

.previousPollResponse {
	display: block;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: var(--bg-light-blue);
	font-weight: normal;
}

.headerText {
	color: black;
	font-size: 30px;
	font-weight: 700;
}

/* Custom radio button code */


*,
*:before,
*:after {
	box-sizing: border-box;
}

#pollControl {
	display: inline-flex;
	place-content: center;
	min-height: 20px;

}

.form-control {
	font-family: system-ui, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
}

#breakInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

#takeBreak {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#breakInputs {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-control:focus-within {
	color: var(--theme-color);
}

input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--form-background);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--theme-color);
	background-color: CanvasText;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="radio"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

/* --- LOGIN --- */

.loginBox {
	display: block;
	margin: auto;
	margin-top: 8px;
	text-align: left;
	font-size: 16px;
	width: 400px;
}

/* --- HOMEPAGE --- */

#indexGrid {
	display: grid;
	grid-template-columns: repeat(2, 270px);
	gap: 15px;
	justify-content: center;
}

#indexGrid .quickButton {
	width: 100%;
	padding: 20px;
	font-size: 24px;
	margin: 0;
	transition-duration: 0ms;
}

#indexGrid .breakButton {
	width: 150%;
	padding: 20px;
	font-size: 30px;
	margin: 0;
	transition-duration: 0ms;
}

#indexGrid .quickButton:hover,
#indexGrid .quickButton:focus-visible {
	background: linear-gradient(to right, var(--color-blue), var(--color-purple));
	color: white;
	border-color: transparent;
	border-width: 2px 0;
	transform: none;
	box-shadow: none;
}

#requestBreakDialog,
#sharePollDialog {
	width: 350px;
	height: 300px;
}

#requestHelpDialog {
	overflow: hidden;
	height: 350px;
}

#otherText {
	font-size: 14px;
	margin-top: 15px;
}

#takeBreak, #takeHelp {
	position: absolute;
	width: 100%;
	bottom: 20px;
}

#takeBreak #cancel:active, #takeHelp #cancel:active {
	background-color: var(--theme-color);
}

/* --- STUDENT PANEL --- */
#pollForm {
	flex-wrap: wrap;
	display: flex;
	gap: 10px;
	margin: auto;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 20px;
}


body:has(header#formbarHeader[style="display: none;"]) #pollPrompt {
	top: 20px;
	margin: 0;
}


#pollPrompt {
	font-size: 40px;
	position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(50%);
	padding: 10px 20px;
	color: white;
}

#pollPrompt:empty {
	display: none;
}

/* --- CONTROL PANEL --- */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes alertWiggle {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(5deg) scale(2);
	}

	50% {
		transform: rotate(-5deg) scale(2);
	}

	75% {
		transform: rotate(5deg) scale(2);
	}

	100% {
		transform: rotate(0deg) scale(1);
	}
}

#studentVBar {
	display: flex;
	justify-content: center;
	margin-bottom: 2vh;
	align-items: center;
	width: calc(100% - 16px);
	height: 100%;
}

#studentVBar #vbContainer {
	width: 50% !important;
	height: 75vh !important;
}

#studHelpAandBreak {
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
}

#helpBreak {
	position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 0 60px;
    height: 75%;
    gap: 30px;
}

#pollContent {
	width: 100%;

}

details {
	max-height: 4rem;
	overflow: visible;
	position: relative;
	transition: max-height 250ms ease-in-out;
}

details[open] {
	max-height: 100vh;
	grid-row: span 5;
}

details[id^="student-guest"][open] {
	grid-row: span 3;
}

details #reasons {
	opacity: 0;
	pointer-events: none;
}

details #reasons.open {
	top: calc(100% + 10px);
    z-index: 3;
    pointer-events: all;
    animation: fadeIn 0.25s ease-in-out 1 forwards;
}

#helpReason button, #breakReason button {
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
}

#helpReason button.noReason, #breakReason button.noReason {
	margin-top: 0;
}

#reasons {
	backdrop-filter: blur(10px);
	box-shadow: 0 10px 17px rgba(0, 0, 0, 0.78);
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1vi;
	max-width: 25cqw;
	max-height: 150px;
}

#response {
	font-weight: bold;
	margin-left: 20px;
	word-break: break-all;
}

#quickMenu {
	padding: 10px 20px;
	font-size: 1cqw;
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-left: 25%;
	border: .3vh var(--theme-color) solid;
	margin-bottom: 50px;
	align-items: center;
	background: var(--lightMode-menu-bg);
	border: 2px solid var(--lightMode-menu-border);
	border-radius: 10px;
	gap: 20px;
}

#formbarHeader > button {
	padding: 0;
}

#quickMenu button.quickButton img {
	filter: invert(1);
}

#quickMenu p {
	margin: 0;
	color: black;
	font-weight: bold;
}

#quickMenu #settingsMenu {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 52px;
	height: 52px;
}

#quickMenu #settingsMenu img {
	width: 1.5cqw;
	height: 1.5cqw;
	pointer-events: none;
}

#quickMenu p {
	display: inline;
}

#VBDiv {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#VBDiv #vbContainer {
	max-width: 400px;
	padding: 20px;
	height: auto !important;
}

#VBDiv #vbContainerOuter {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	padding: 20px;
	height: auto !important;
}

#VBOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.options {
	justify-content: space-evenly;
	border-radius: 10px;
}

#settingsTab {
	display: flex;
	padding: 1.5vh;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius: 10px;
	margin: 1vh;
	width: 100%;
	border: 3px solid var(--theme-color);
}

#settingsTab h2 {
	width: 100%;
	font-size: 2cqw;
}

#settingsTab button {
	width: 25%;
	height: 5vh;
}

hr {
	border: 0;
	border-top: 5px solid var(--theme-color);
}

.headerText {
	margin: 0;
}

.headBox {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 1vh;
	overflow-y: auto;
}

.headBox button {
	width: auto;
	min-width: 100px;
	height: auto;
	margin: 1vh;
	font-size: 26px;
	padding: 0.25em 1em;
	white-space: nowrap;
}

.ongoingPollOptions {
	margin-bottom: 2vh;
}

.ongoingPollOptions,
.options {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 1.5cqw;
	justify-content: center;
	gap: 20px;
	padding: 90px 20px;
}

.options .headBox {
	padding: 1vh 0;
	color: var(--theme-color);
	font-weight: bold;
}

.options h2 {
	font-size: 2cqw
}

#userPolls:not(button), #classPolls:not(button), #publicPolls:not(button) {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.customPoll {
	border: 3px solid var(--theme-color);
	width: 15cqw;
	border-radius: 10px;
	margin-bottom: 1vh;
}

.customPoll.revampDiv {
	width: max-content;
	padding: 20px;
    display: flex;
    flex-direction: column;
}

.customPoll button {
	width: 5cqw;
}

#poll {
	width: 80%;
	margin: auto;
}

#pollResForm {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	flex-direction: row;
	height: 100%;
}

#pollResForm .response {
	display: flex;
	justify-content: center;
	font-size: 1cqw;
	gap: 20px;
	position: relative;
}

input[type='checkbox'] {
	cursor: pointer;
}

#pollResForm button {
	text-align: center;
}

#addPollRes {
	height: min-content;
}

#pollResForm .pollInfo,
#pollResForm .responses {
	padding-top: 0;
	position: relative;
	max-height: 100%;
	overflow: scroll;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

#pollResForm .responses {
	justify-content: start !important;
}

#pollResForm .pollInfo h2,
#pollResForm .responses h2 {
	margin: 15px 0;
}

#pollResForm button#removeAnswer {
	aspect-ratio: 1;
	padding: 0;
	height: 44px;
}

#pollResForm button#removeAnswer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: invert(1);
	pointer-events: none;
}

#pollResForm .response > input {
	text-align: center;
}

.headerText input {
	transform: scale(1.25);
}

#timeDiv {
	padding: 1vh 0;
	width: 30%;
	color: var(--theme-color);
	font-weight: bold;
}

#timeDiv p,
#timeDiv input {
	display: inline;
	color: var(--theme-color);
	font-weight: bold;
	text-align: center;
}

#settingsMenu textarea, #settingsMenu input {
	color: var(--theme-color);
	resize: vertical;
	font-weight: bold;
	white-space: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#controlFooter .ongoingButtons,
.options .headBox {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	overflow: visible;
}

#pollOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1.5vh;
}

#pollOptions h2 {
	width: 100%;
}

#pollOptions button {
	width: 25%;
	height: 5vh;
}

div .tabContent {
	padding-bottom: 5vh;
}

#startClass,
.startClass {
	--theme-color: hsl(120, 100%, 12%) !important;
	color: black !important;
	background-color: hsl(120, 94%, 74%) !important;
}

#endClass,
.endClass {
	--theme-color: hsl(0, 100%, 12%) !important;
	background-color: hsl(0, 94%, 74%) !important;
	color: black !important;
}

.endClass img,
.startClass img {
	filter: invert(0) !important;
}

.usersMenuBox {
	margin: auto;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

#users {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

#users details[id^="student"],
#users div[id^="student"] {
	box-shadow: 0 0 0px black;
	border: 3px var(--theme-color) solid;
	border-radius: 5px;
	width: 25%;
	font-size: larger;
	margin-top: 2.5vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-bottom: 15cqh;
	height: fit-content;
	background-color: var(--bg-light-blue);
	min-width: 300px;
}

#users details[id^="student"][open] #studentTags {
	width: 100%;
	justify-content: space-evenly;
	flex-wrap: wrap;
	max-height: max-content;
}

#previousPolls {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-evenly;
}

#studentTags {
	order: 3;
	display: flex;
	justify-content: space-evenly;
}

#tagOptions div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#settingsFunc {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#settingsFunc div {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
}

#studentTags span{
	border: 3px var(--theme-color) solid;
	font-size: 1cqw;
	text-align: center;
	margin: 1px;
}

div.break {
	margin-bottom: 3%;
}

#users details[id^="student"] summary {
	padding: 1vh;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	list-style-type: '';
}

#users details[id^="student"] summary:not(:first-child:nth-child(2)){
	justify-content: center;
}

#checkbox_student {
	order: 1;
	margin-right: 10px;
}

#users details[id^="student"][open] summary {
	border-bottom: 3px var(--theme-color) solid;
}

#users details[id^="student"] #alerts {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transform: translateY(-150%);
	width: 25%;
	font-size: 2cqw;
}

#newMemberListControlPanel details[id^="student"] #alerts * {
	animation-name: alertWiggle;
	animation-duration: 0.5s;
    pointer-events: none;
}

#users div:not(#reasons, #reasons *, #alerts *) {
	padding: 1vh;
	display: flex;
	flex-wrap: wrap;
	border-radius: var(--borderRadius);
	background: var(--lightMode-menu-bg);
	border: 2px solid var(--lightMode-menu-border);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: min-content;
}

#users div:not(#reasons, #reasons *, #alerts *) p {
	font-size: 20px;
}

#users div:not(#reasons, #reasons *, #alerts *) label {
	font-style: italic;
	opacity: 0.75;
}

#users span:empty, #users div:empty {
	display: none !important;
}

#users #roomTags {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

#saveButton {
	background-color: var(--light-green);
	width: 310px;
	margin-top: 10px;
}

#users #roomTags button:not(#saveButton) {
	background-color: #cf8d37;
	color: #f0f0f0;
	font-weight: 600;
	min-width: 100px;
	box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

#users #roomTags button:not(#saveButton) {
	padding-bottom: 6px;
}

#users #roomTags button.pressed {
	background-color: #ffd8a5 !important;
	color: white !important;
	box-shadow: 0 0 5px rgb(255, 255, 255) !important;
	border: 2px solid #ffffff;
}

.banUser, .kickUser {
	--theme-color: hsl(0, 100%, 12%);
	background-color: hsl(0, 94%, 74%);
}

.break,
.break summary {
	border-color: #ffff00 !important;
}

#breakReason button {
	border: 3px solid #ffff00 !important;
}

.help,
.help summary {
	border-color: #ff0000 !important;
}

#helpReason button {
	border: 3px solid #ff0000 !important;
}

.offline,
.offline summary {
	border-color: var(--dark-gray) !important;
}


#permissionsList {
	display: grid;
	justify-content: space-evenly;
	border-radius: 10px;
	margin: 1vh;
	width: 80%;
	font-size: 1.5cqw;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin: auto;		
}

#helpReason, #breakReason {
	display: inline-block;
	overflow-wrap: break-word;
	text-align: center;
	border-radius: 5px;
	max-width: 400px;
	height: 100%;
	margin: 5px;
}

#helpReason p, #breakReason p {
	font-size: 1.1cqw;
}

#helpReason:empty, #breakReason:empty, #response:empty {
	display: none !important;
}

/* news page */
article {
	margin: 0 auto;
	max-width: 80%;
}

article ul {
	line-height: 40px;
}

/* google button DO NOT TOUCH IT THATS MEAN */
.gsi-material-button {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-appearance: none;
	background-color: WHITE;
	background-image: none;
	border: 1px solid #747775;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #1f1f1f;
	cursor: pointer;
	font-family: 'Roboto', arial, sans-serif;
	font-size: 14px;
	height: 40px;
	letter-spacing: 0.25px;
	outline: none;
	overflow: hidden;
	padding: 0 12px;
	position: relative;
	text-align: center;
	-webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
	transition: background-color .218s, border-color .218s, box-shadow .218s;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	max-width: 400px;
	min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
	height: 20px;
	margin-right: 12px;
	min-width: 20px;
	width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
	-webkit-align-items: center;
	align-items: center;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	height: 100%;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
	-webkit-transition: opacity .218s;
	transition: opacity .218s;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.gsi-material-button:disabled {
	cursor: default;
	background-color: #ffffff61;
	border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
	opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
	opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
	background-color: #303030;
	opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
	-webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
	background-color: #303030;
	opacity: 8%;
}


#loginHeader {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 15vh;
	color: #0009;
	width: 100%;
    

    
        top: 5vh;
        font-size: 10vh;

}

#content div.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
    gap: 20px;
}

::placeholder {
	color: black;
	opacity: 0.5;
}

button:disabled {
	opacity: 0.5 !important;
	cursor: not-allowed !important;
}

button:disabled:hover {
	transform: none !important;
}

.revampButton {
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	cursor: pointer;
	font-family: "Outfit", sans-serif;
	color: white !important;
	background-color: var(--lightMode-button-bg);
	border: 2px solid var(--lightMode-button-border);
	outline: 2px solid #fff4;
	border-radius: 10px;
	font-size: 24px;
	padding: 5px 20px;
	transform-origin: center; 	
	transition: 
		0.2s background-color ease-in-out,
		0.2s transform ease-in-out;
}



.revampButton img {
	filter: invert(1);
}

.revampButton:not(.revampWithText):hover {
	background-color: var(--lightMode-button-hover-bg);
	transform: scale(var(--button-hover-scale));
}

.revampButton.revampWithText {
	cursor: text !important;
}

.circularButton,
.squareButton {
	height: 48px;
	width: 48px;
	aspect-ratio: 1;
	background-color: var(--lightMode-button-bg);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 2px solid var(--lightMode-button-border);
	margin-right: 10px;
	transform-origin: center;
	transition: 
		0.2s transform ease-in-out;
	outline: 2px solid #fff4;
	
}

.squareButton {
	border-radius: var(--borderRadius);
}

.circularButton:hover {
	background-color: var(--lightMode-button-hover-bg);
	transform: scale(var(--button-hover-scale));
}

.circularButton img {
	width: 70% !important;
	height: 70% !important;
	filter: invert(1);
}

.squareButton img {
	width: 95% !important;
	height: 95% !important;
	filter: invert(1);
}

.sensitiveInfo:first-of-type {
	margin-top: 50px;
}

.sensitiveInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.revampButton#forgotPassword {
	margin-top: 20px;
	font-style: italic;
	font-size: 20px;
    width: max-content;
}


.revampButton.warningButton,
.squareButton.warningButton,
.circularButton.warningButton {
	background-color: var(--color-red) !important;
	color: white !important;
	border: 2px solid var(--light-red) !important;
}

.revampButton.warningButton:hover,
.squareButton.warningButton:hover,
.circularButton.warningButton:hover {
	background-color: var(--bg-dark-red) !important;
}


.revampButton.acceptButton,
.circularButton.acceptButton {
	background-color: hsl(120, 94%, 74%);
	color: white !important;
	border: 2px solid var(--color-green);
	color: black !important;
}

.revampButton.acceptButton:hover,
.circularButton.acceptButton:hover {
	background-color: hsl(120, 94%, 44%) !important;
}

#news {
	width: 100%;
	margin: auto;
	padding: 40px 15%;

	overflow: scroll;
	height: calc(100vh - 60px);
	font-size: 24px;
}

#news section {
	width: 100%;
	border-radius: var(--borderRadius);
	border: 2px solid var(--lightMode-menu-border);
	background: var(--lightMode-menu-bg);

	padding: 10px;
}

#news section:not(:last-of-type) {
	margin-bottom: 50px;
}

#news section div.titleSection {
	width: 100%;
	text-align: left;
	padding-left: 40px;
}

#news section div.titleSection h1,
#news section div.titleSection h6 {
	margin: 0;
}

#news section div.titleSection h1 {
	margin-top: 20px;
	font-size: 64px;
}

#news section div.titleSection h6 {
	font-weight: normal;
	font-style: italic;
	font-size: 20px;
	margin-left: 5px;
	color: #000d;
}

#news section article h3 {
	font-size: 32px;
	margin-bottom: 0;
}

a.link,
a.link:visited {
	font-style: oblique;
	color: var(--theme-color);
	font-weight: bold;
	text-decoration: 3px underline var(--theme-color);
	text-underline-offset: 8px;
}

#news ul li:not(:last-of-type) {
	margin-bottom: 20px;
}

.ipListToggle {
	margin: 20px 0;
}

#quickMenu button.revampButton {
	width: 100%;
}

#newIp {
	margin-right: 20px;
}

.revampDiv {
	padding: 10px;
	border-radius: var(--borderRadius);
	border: 2px solid var(--lightMode-menu-border);
	background: var(--lightMode-menu-bg);
	outline: 2px solid #0004;
}

.revampDivAlt {
	padding: 10px;
	border-radius: var(--borderRadius);
	border: 2px solid var(--darkMode-menu-border);
	background: var(--darkMode-menu-bg);
	outline: 2px solid #fff4;
}

.revampDiv.spaceBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#ipMenu.tabContent {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
}

#whitelistedMembers {
	width: 320px;
}

#whitelistedMemberList {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;

	gap: 10px;
	padding-bottom: 10px;
}

.whitelistIp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 20px;
	padding: 0 10px;
}

.whitelistIp p {
	margin: 0;
	font-size: 20px;
	white-space: nowrap;
}

#whitelistHeader {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	padding: 0 10px;
}

.ipMenuDiv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#whitelist.tabContent,
#blacklist.tabContent {
	padding-bottom: 0;
}

.pluginsHeader {
	font-size: 64px;
}

#classesMenu,
#classesMenu form,
#createClassMenu,
#createClassMenu form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

#classesMenu .buttonsHolder {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	gap: 20px;
}

#classesMenu .buttonsHolder button,
#classesMenu .buttonsHolder input {
	width: 100%;
}

#classesMenu form,
#createClassMenu form {
	gap: 30px;
}

#VBDiv {
	gap: 20px;
	height: 100%;
}

#VBDiv #vbContainer,
#VBDiv #newMemberListControlPanel,
#VBDiv #VBOptions {

	width: 100%;
	height: auto !important;
}

#VBDiv #VBOptions {
	position: relative;
	max-width: 400px;
	padding: 90px 20px;
	height: auto !important;
}

body.controlPanelNewBody {
	display: flex;
	flex-direction: column;
}

body.nooverflow {
    overflow: hidden !important;
}

div.userMenuCp {
	flex: 1 1 auto;
	height: calc(100% - 100px);
}

div#controlFooter {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 1.5cqw;
	justify-content: left;
	gap: 20px;
}

div.sideBySide {
	height: 0;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 20px;
	flex: 1 1 auto;
}

#VBOptions .options {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#vbOptionsLast,
#vbOptionsNext {
	z-index: 5;
	padding: 0;
	white-space: nowrap;
	gap: 10px;
  	width: 200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

#toolbarOptions {
	z-index: 5;
	padding: 0;
	white-space: nowrap;
	gap: 10px;
  	width: 200px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
}

#vbOptionsLast img,
#vbOptionsNext img {
	height: 80%;
	filter: invert(1);
}

#vbOptionsLast p,
#vbOptionsNext p {
	color: #fffa;
	font-style: italic;
}

#vbOptionsLast {
	top: 20px;
}

#vbOptionsNext {
	bottom: 20px;
}

#VBOptions .options:not(.activeControlTab) {
	opacity: 0;
	pointer-events: none;
	transition: 0.1s ease-in-out opacity, 0.1s ease-in-out transform;
	transform: scale(0.95);
}

#VBOptions .options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	transform: scale(1);
}

#VBDiv #newMemberListControlPanel {
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
	padding-top: 70px;
	padding-left: 20px;
	padding-right: 20px;
	grid-auto-rows: min-content;
	overflow: auto;
}

#VBDiv #newMemberListControlPanel h1 {
	position: absolute;
	top: 0;
	left: 30px;
}

.controlStudent {
	flex-direction: column;
	cursor: pointer;
	max-height: unset;
	height: min-content;
	padding: 0 !important;
	flex-shrink: 0 !important;
}

.controlStudent summary {
	padding: 10px;
}

body:not(:has(header#formbarHeader[style="display: none;"])) {
	padding-top: 72px;
}



#vbContainerOuter:has(#vbContainer[style="display: none;"]) {
	display: none !important;
}

#quickMenu.dividedThree {
	width: 100%;
	margin-left: 0;
	margin-bottom: 20px;
	padding: 0;
	background: none;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
}

#quickMenu.dividedThree div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 5px;
}

#quickMenu.dividedThree div.classInfo {
	justify-content: space-evenly;
}

#quickMenu.dividedThree div.timerInfo {
	justify-content: space-evenly;
}


div.upDown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

div.leftRight {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 5px;
}

div.revampDiv button#settingsMenu img {
	filter: invert(1) !important;
}

details > #permissions,
details > #extraButtons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	margin-top: 10px;
	padding: 10px;
  	padding-top: 0;
}

input.inputtedTime.revampButton.revampWithText {
	width: 100px;
	-moz-appearance:textfield;
}

input.revampButton.revampWithText {
	-moz-appearance:textfield;
}

input.inputtedTime.revampButton.revampWithText + p {
	font-size: 36px;
	color: black !important;
}

button#timerButton[hidden], 
button#timerStopButton[hidden] {
	display: none !important;
}

.permissionLabel {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

div#settingsMenu.tabContent {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 0;
}

div#tags.tabContent,
div#permissions.tabContent {
	height: 100%;
}

div#pollPreview {
    z-index: 5;
	position: absolute;
	top: var(--mouseY);
	left: var(--mouseX);
	backdrop-filter: blur(20px);
	box-shadow: 0px 0px 5px #0005;
	width: 300px;

	opacity: 0;
	pointer-events: none;

	transition: 0.2s ease-in-out opacity;

	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 20px;
}

div#pollPreview.open {
	opacity: 1;
}

#pollDetails {
	cursor: help;
	position: relative;
}

#pollDetails:not(.tutorialDone) img {
	width: 28px;
	pointer-events: none;
	height: 28px;
	position: absolute;
	bottom: 20%;
	right: 20%;
	animation: showHoverableDetailsX 3s cubic-bezier(.77,0,.18,1) infinite, showHoverableDetailsY 3s cubic-bezier(.22,.61,.36,1) infinite;
}

#pollDetails.tutorialDone img { display: none; }

@keyframes showHoverableDetailsX {
	0% {
		right: 0;
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	70% {
		opacity: 0;
		right: 20%;
	}
	100% {
		opacity: 0;
	}
}

@keyframes showHoverableDetailsY {
	0% {
		bottom: -20%;
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	70% {
		opacity: 0;
		bottom: 20%;
	}
	100% {
		opacity: 0;
	}
}

div#errorDialog {
	width: auto;
	height: 50px;
	background-color: var(--color-red);
	color: white !important;
	border: 2px solid var(--light-red);
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 15px;
	bottom: 15px;
	padding: 10px;
	max-width: 35vw;
	gap: 10px;
	border-radius: 10px;
	transform: translateY(100%);
	opacity: 0;
	pointer-events: none;
}

div#errorDialog img {
	filter: invert(1);
	height: 100%;
	aspect-ratio: 1;
}

div#errorDialog div.errorDetails {
	text-align: left;
}

div#errorDialog div.errorDetails p {
	margin: 0;
}

div#errorDialog div.errorDetails p#errorCode {
	font-size: 0.75rem;
	opacity: 0.75;
}

div#errorDialog.shown {
	animation: showError 0.5s ease-in-out forwards;
}

@keyframes showError {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

button.edit-custom-poll,
button.start-custom-poll {
	width: auto;
}

.circularButton[hidden] {
	display: none !important;
}

.previousPoll.revampDiv span#date {
	font-size: 16px;
	font-style: italic;
	opacity: 0.5;
	margin-left: 10px;
}

.previousPoll {
	max-height: none;
	height: min-content;
}

.controlStudent summary {
	/* flex-wrap: wrap; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: row;
	gap: 10px;
}

.customOptions {
	padding: 10px 20px;
	font-size: 1cqw;
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-left: 25%;
	border: .3vh var(--theme-color) solid;
	margin-bottom: 50px;
	align-items: center;
	background: var(--lightMode-menu-bg);
	border: 2px solid var(--lightMode-menu-border);
	border-radius: 10px;
	gap: 20px;
	flex-direction: row;
	flex-wrap: nowrap !important;
}

.customOptions button {
	width: 100% !important;
	height: auto !important;
}

.backButton {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 5px;
	width: 60px;
}

.backButton img {
	filter: invert(1);
	height: 80%;
}

.backButton * {
	pointer-events: none;
}

#pollsMenu {
    height: calc(100% - 100px);
}

#settingsMenu,
#previousPollsMenu {
	position: relative;
}
/* 2000 lines!!! */

.custom-poll-name {
	font-weight: bold;
	font-size: 32px;
	margin-top: 0;
    flex: 1 1 auto;
}

#pollBox {
	width: 100%;
}

.customPollButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	gap: 10px;
}


#pollResForm #responses {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 10px;
}

.colorPicker {
	position: absolute;
	width: min-content !important;
	z-index: 5;
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.colorPicker .buttonsDiv {
	display: flex;
	gap: 20px;
	flex-direction: row;
	justify-content: stretch;
	align-items: stretch;
}

.IroColorPicker {
	display: flex !important;
	justify-content: center;
	align-items: stretch;
}

.IroColorPicker .colorsDiv {
	width: 50px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 30px;
}

.IroColorPicker .colorsDiv .oldColor, 
.IroColorPicker .colorsDiv .newColor {
	width: 100%;
	height: 100%;
}

.IroColorPicker .colorsDiv .oldColor {
	border-top-left-radius: var(--borderRadius);
  	border-top-right-radius: var(--borderRadius);
}

.IroColorPicker .colorsDiv .newColor {
	border-bottom-left-radius: var(--borderRadius);
  	border-bottom-right-radius: var(--borderRadius);
}


#generalOptions .options {
	padding: 0;
}

.pollOptionsEditor.revampDiv {
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 60px;
	transition: 0.2s ease-in-out max-height;
}

.pollOptionsEditor.revampDiv:not(.open) *:not(#openCloseMoreOptions, #openCloseMoreOptions *):not(h2) {
	opacity: 0;
	transition: 0.2s ease-in-out opacity;
}

.pollOptionsEditor.open {
	max-height: 100%;
}

.pollOptionsEditor.revampDiv.open *:not(#openCloseMoreOptions):not(h2) {
	opacity: 1;
}

.pollOptionsEditorOption input {
	font-size: 2cqw;
}

.pollOptionsEditorHeader {
	margin-top: 0;
	font-weight: 900;
}

.pollOptionsEditorOption {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.pollOptionsEditorOption h2 {
	text-align: left;
	flex: 1 1 auto;
	margin: 0;
}

.mobileMenuButton {
    display: none;
}

#profileInformation {
    margin: auto;
    width: max-content;
    padding: 20px;
	position: relative;
}

#apiKeyButton {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

div#profileInformation h1 {
    font-size: 32px;
}

p#displayName,
p#email,
p#digipogs,
p#userId,
p#apiKey,
p#pin {
    margin: 20px auto;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

p#pin {
	justify-content: start !important;
}

button img {
	pointer-events: none
}

#permissions.tabContent,
#tags.tabContent {
	position: relative;
}

#loadPoll {
	margin: auto;
}

#users .user p {
	pointer-events: none;
}

#users .user.hasInfo {
	cursor: pointer;
	grid-row: span 3;
}

#users .user.hiddenInfo *:not(p) {
	display: none;
	grid-row: unset;
}

#addIpForm {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.joinClassForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#newPoll.tabContent {
    height: 100%;
}

#save-poll {
    width: 100%;
    white-space: nowrap;
}

#mobileNavigation {
	display: none;
}

.logButton {
	font-size: 2cqmin !important;
	overflow: hidden;
	width: 100%;
	max-width: 290px;
	height: 75px;
	text-align: center;
}

.revampButton p {
	margin: 0;
}

.revampButton * {
	pointer-events: none;
}

.revampButton.mobileHasIcon img {
	display: none;
}

.pollDetailsText {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

div.mobileSpacer {
	display: none;
}

*.showMobile {
	display: none;
}



*:not(details)[hidden] {
	display: none !important;
}

#ticket,
#otherText {
	resize: none;
}

#editPin {
	z-index: 15;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#editPinForm {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.editPinInputs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 20px;
}

.pogMeter {
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.pogMeter p {
	margin: 0;
    margin-bottom: 15px;
}


#userSortBoxes.options.sortManager {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-bottom: 20px;
	padding: 0 !important;
}

#pogMeter {
	height: 430px;
    width: 80px;
	padding: -0;
    overflow: hidden;
}

#pogMeterFill {
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #3f69bb, #a763ff);
	mask-image: linear-gradient(to top, black 0%, black var(--pogPercent), transparent var(--pogPercent), transparent 100%);
}

.endBreakButton {
	margin-top: 0 !important;
}

.permSwitch {
  	grid-column: span 2;
}

#digipogButtons {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 5px;
	padding: 10px;
}

.digipogAward {
	width: 50% !important;
	padding: 0 !important;
}

.digipogSend {
	flex-grow: 1;
}

.activePollButton {
	box-shadow: 0px 0px 15px 5px var(--color);
}

#openCloseMoreOptions {
	position: absolute;
	height: 60px;
	width: 60px;
	padding: 5px;
	top: -80px;
}

div.tagsHolder {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	max-height: 60vh;
	padding-right: 10px;
}

div#tagsList {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	padding: 10px;
	gap: 10px;
	max-height: 400px;
	overflow: auto;
}

div#tagsList:empty::after {
	content: "No tags added";
	font-style: italic;
	opacity: 0.5;
}

div#tagsList div {
	height: 40px;
	font-size: 1.25rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

div#tagsList div button {
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1.25rem;
	border-radius: 10px;
	margin-right: 0;
}

div#tagOptions, 
div#tagsList {
	width: 500px;
}

.answerWeight {
	width: 50px;
	padding: 0;
}

button.filter,
button.sort {
	position: relative;
}

button.filter.pressed img,
button.sort div {
	position: absolute;
	height: 80%;
	right: 5%;
	aspect-ratio: 1;
}

button.sort img {
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
}

button.sort img.sortAscendDescendBG {
	opacity: 0.25;
}