Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@Eshimmel 
csmith1188
/
formbar
Public
Code
Issues
25
Pull requests
Discussions
Actions
Projects
3
Wiki
Security
Insights
formbar/formapp/templates/2048.html
@csmith1188
csmith1188 idk
Latest commit d81c5ff on Apr 7
 History
 2 contributors
@Oiroizoi@csmith1188
855 lines (779 sloc)  21.4 KB

{% extends 'header.html' %}
<!-- ^^ This means add this file to the end of the contents of header.html -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}2048{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style>
    html {
      height: 100%;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
    }

    p {
      color: black;
      font-family: "microsoft yahei";
      font-weight: bold;
      left: -10px;

    }

    body, #content {
      background-color: var(--bg-dark);
      color: white;
      font-family: "Times New Roman", Times, serif;
    }

    .container {
      margin: auto;
      width: 452px;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    .logo {
      width: 40%;
      font-size: 70px;
      font-weight: bold;
      color: var(--color-green);
      float: left;
      position: relative;
      top: 10px;
    }

    .scoreBar {
      width: 50%;
      float: right;
      background: #fff;
      color: #111;

      padding: 10px;
      position: relative;
      margin-top: 10px;
    }

    .scoreBar:before {
      content: "";
      display: block;
      border-width: 20px;
      border-color: transparent #fff transparent transparent;
      border-style: solid;
      position: absolute;
      top: 50%;
      left: -40px;
      margin-top: -20px;
    }

    #score, #highScore {
      font-size: 30px;
      color: #7f7e83;
    }

    #highScore {
      position: absolute;
      right: 10px;
      top: 28px;
    }

    #addScore {
      display: inline-block;
      font-size: 30px;
      color: #999;
      opacity: .8;
      top: 4px;
      right: 0;
    }

    #addScore.show {
      opacity: .8;
      transition: all .5s ease;
      -ms-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -webkit-transition: all .5s ease;

    }

    #addScore.hide {
      opacity: 0;
      transition: all .5s ease;
      -ms-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -webkit-transition: all .5s ease;
    }

    #gameOver {
      position: fixed;
      color: var(--light-red);
      left: 50%;
      transform: translateX(-50%);
      top: 27%;
      font-size: 32px;
      display: none;
    }

    #stage {
      background: var(--bg-darker);
      cursor: move;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      position: absolute;
      width: 450px;
      height: 450px;
      top: 55%;
      left: 0;
      margin-top: -200px;
      border: 1px solid #eee;
      z-index: 1;
    }

    #undo {
      position: relative;
      z-index: 2;
    }

    #cover {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0.1;
      cursor: move;
    }

    .row0 {
      top: 10px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .row1 {
      top: 120px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .row2 {
      top: 230px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .row3 {
      top: 340px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .cell0 {
      left: 10px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .cell1 {
      left: 120px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .cell2 {
      left: 230px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .cell3 {
      left: 340px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    span {
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      text-align: center;
      line-height: 100px;
      cursor: move;
      background: #fff;
      font-size: 43px;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
    }

    div {
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;

    }

    .num2 {
      background: #FFFFFF;
      color: #7f7e83;
      font-size: 100px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num4 {
      background: #FFFFFF;
      color: #005744;
      font-size: 100px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome */
    }

    .num8 {
      background: #FFFFFF;
      color: #7f7e83;
      font-size: 100px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
    }

    .num16 {
      background: #FFFFFF;
      color: #005744;
      font-size: 80px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
    }

    .num32 {
      background: #FFFFFF;
      color: #7f7e83;
      font-size: 80px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .num64 {
      background: #FFFFFF;
      color: #005744;
      font-size: 80px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .num128 {
      background: #FFFFFF;
      color: #7f7e83;
      font-size: 52px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .num256 {
      background: #FFFFFF;
      color: #005744;
      font-size: 52px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .num512 {
      background: #FFFFFF;
      color: #7f7e83;
      font-size: 52px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .num1024 {
      background: #FFFFFF;
      color: #005744;
      font-size: 52px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .num2048 {
      background: #FFFFFF;
      color: #7f7e83;
      font-size: 52px;

      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .num4096 {
      background: #FFFFFF;
      color: #005744;
      font-size: 52px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    #newGameButton {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 87%;
      padding: 8px 16px;
      font: 30px "Times New Roman", Times, serif;
      border-radius: 12px;
      background: var(--bg-darker);
      color: var(--color-green);
      border: 2px solid;
      cursor: pointer;
      z-index: 3;
    }

    #newGameButton:hover {
      background: var(--bg-dark-highlight);
    }

    .newButtonAnimation:not(:hover) {
      animation: oscillate 1.5s infinite;
    }

    @keyframes oscillate {
      0% {
        background: var(--bg-darker);
      }
      50% {
        background: var(--bg-dark-highlight);
      }
      100% {
        background: var(--bg-darker);
      }
    }

    @keyframes myfirst {
      0% {
        opacity: 0;
        transform: scale(0)
      }

      50% {
        opacity: .5;
        transform: scale(1.5)
      }

      100% {
        opacity: 1;
        transform: scale(1)
      }
    }

    @-moz-keyframes myfirst

    /* Firefox */
      {
      0% {
        opacity: 0;
        -moz-transform: scale(0)
      }

      50% {
        opacity: .5;
        -moz-transform: scale(1.5)
      }

      100% {
        opacity: 1;
        -moz-transform: scale(1)
      }
    }

    @-webkit-keyframes myfirst

    /* Safari or Chrome */
      {
      0% {
        opacity: 0;
        -webkit-transform: scale(0)
      }

      50% {
        opacity: .5;
        -webkit-transform: scale(1.5)
      }

      100% {
        opacity: 1;
        -webkit-transform: scale(1)
      }
    }

    #quickmenu {
      display: none;
    }

    #content {
      /*Paste this to make a full-screen page*/
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      max-width: 100%; /*For some reason, this only works if max-width is present*/
      height: 100%;
      box-sizing: border-box;
      border-radius: 0;
      background-color: transparent;
    }
  </style>
{% endblock %}

<!-- Extra javascript here -->
{% block script %}{% endblock %}

<!-- Main content here -->
{% block main %}
  <div id="cover"></div>
  <div class="container">
    <div class="logo">2048
    SPARTANS</div>
    <div class="scoreBar">
      <label>Score</label><br>
      <label id="score">0</label>
      <div id="addScore"></div>

      <label style="position: absolute; right: 10px; top: 10px;">High score</label><br>
      <label id="highScore">0</label>
    </div>
    <div id="gameOver">GAME OVER!</div>
    <div id="stage"></div>
    <!--<div id="gameOver hide">-->
    <!--<div class="overText">GameOver!</div>-->
    <!--</div>-->
    <button id="newGameButton" onclick="window.location.reload();">New game</button>
  </div>
  <script>
    if (localStorage.getItem("2048HighScore")) document.getElementById("highScore").innerHTML = localStorage.getItem("2048HighScore");

    var gameObj = {
      points: {
        score: 0,
        history: [],
        status: 1
      },
      stage: [],
      intiStage: function() {
        for (var cell = 0; cell < 4; cell++) {
          this.stage[cell] = [];
          for (var row = 0; row < 4; row++) {
            this.stage[cell][row] = {
              boxObj: null,
              position: [cell, row]
            };
          }
        }

      },

      empty: function() {
        var emptyList = [];
        for (var row = 0; row < 4; row++) {
          for (var cell = 0; cell < 4; cell++) {
            if (this.stage[cell][row].boxObj == null) {
              emptyList.push(this.stage[cell][row]);
            }
          }
        }
        return emptyList;
      },
      newBox: function() {
        var _this = this;


        var box = function(obj) {
          var num = Math.random() > 0.9 ? 4 : 2;
          this.value = num;
          this.parent = obj;
          this.domObj = function() {
            var domBox = document.createElement('span');
            domBox.innerText = num;
            domBox.textContent = num;
            domBox.className = 'row' + obj.position[0] + ' ' + 'cell' + obj.position[1] + ' ' + 'num' + num;
            var root = document.getElementById('stage');
            root.appendChild(domBox);
            return domBox;
          }();
          obj.boxObj = this;
        }
        var emptyList = this.empty();
        if (emptyList.length) {
          var randomIndex = Math.floor(Math.random() * emptyList.length);
          new box(emptyList[randomIndex]);
          return true;
        }
      },
      isEnd: function() {
        var emptyList = this.empty();
        if (!emptyList.length) {
          for (var i = 0; i < 4; i++) {
            for (var j = 0; j < 4; j++) {
              var obj = this.stage[i][j];
              var objLeft = (j == 0) ? {
                boxObj: {
                  value: 0
                }
              } : this.stage[i][j - 1];
              var objRight = (j == 3) ? {
                boxObj: {
                  value: 0
                }
              } : this.stage[i][j + 1];
              var objUp = (i == 0) ? {
                boxObj: {
                  value: 0
                }
              } : this.stage[i - 1][j];
              var objDown = (i == 3) ? {
                boxObj: {
                  value: 0
                }
              } : this.stage[i + 1][j];
              if (obj.boxObj.value == objLeft.boxObj.value ||
                obj.boxObj.value == objDown.boxObj.value ||
                obj.boxObj.value == objRight.boxObj.value ||
                obj.boxObj.value == objUp.boxObj.value) {
                return false
              }
            }
          }
          return true;
        }
        return false;
      },
      gameOver: function() {
        document.getElementById("gameOver").style.display = "block";
        document.getElementById("cover").style.cursor = "not-allowed";
        document.getElementById("newGameButton").classList.add("newButtonAnimation");
      },
      moveTo: function(obj1, obj2) {
        obj2.boxObj = obj1.boxObj;
        obj2.boxObj.domObj.className = 'row' + obj2.position[0] + ' ' + 'cell' + obj2.position[1] + ' ' + 'num' + obj2.boxObj.value;
        //            obj1.boxObj.domObj.parentNode.removeChild(obj1.boxObj.domObj);
        obj1.boxObj = null;
      },
      addTo: function(obj1, obj2) {
        obj2.boxObj.domObj.parentNode.removeChild(obj2.boxObj.domObj);
        obj2.boxObj = obj1.boxObj;
        obj1.boxObj = null;
        obj2.boxObj.value = obj2.boxObj.value * 2;
        obj2.boxObj.domObj.className = 'row' + obj2.position[0] + ' ' + 'cell' + obj2.position[1] + ' ' + 'num' + obj2.boxObj.value;
        obj2.boxObj.domObj.innerText = obj2.boxObj.value;
        obj2.boxObj.domObj.textContent = obj2.boxObj.value;
        this.points.score += obj2.boxObj.value;
        var scoreBar = document.getElementById('score');
        scoreBar.innerText = this.points.score;
        scoreBar.textContent = this.points.score;
        var highScoreBar = document.getElementById('highScore');
        var highScore = localStorage.getItem("2048HighScore");
        if (this.points.score > highScore) {
          highScoreBar.innerText = this.points.score;
          highScoreBar.textContent = this.points.score;
          highScoreBar.style.color = "#f04040"
          localStorage.setItem("2048HighScore", this.points.score);
        }
        return obj2.boxObj.value;


      },
      clear: function(x, y) {
        var can = 0;
        for (var i = 0; i < 4; i++) {
          var fst = null;
          var fstEmpty = null;
          for (var j = 0; j < 4; j++) {
            var objInThisWay = null;
            switch ("" + x + y) {
              case '00':
                objInThisWay = this.stage[i][j];
                break;
              case '10':
                objInThisWay = this.stage[j][i];
                break;
              case '11':
                objInThisWay = this.stage[3 - j][i];
                break;
              case '01':
                objInThisWay = this.stage[i][3 - j];
                break;
            }
            if (objInThisWay.boxObj != null) {
              if (fstEmpty) {
                this.moveTo(objInThisWay, fstEmpty)
                fstEmpty = null;
                j = 0;
                can = 1;
              }
            } else if (!fstEmpty) {
              fstEmpty = objInThisWay;
            }
          }
        }
        return can;
      },

      move: function(x, y) {
        var can = 0;
        can = this.clear(x, y) ? 1 : 0;
        var add = 0;
        for (var i = 0; i < 4; i++) {
          for (var j = 0; j < 3; j++) {
            var objInThisWay = null;
            var objInThisWay2 = null;
            switch ("" + x + y) {
              case '00': {
                objInThisWay = this.stage[i][j];
                objInThisWay2 = this.stage[i][j + 1];
                break;
              }
              case '10': {
                objInThisWay = this.stage[j][i];
                objInThisWay2 = this.stage[j + 1][i];
                break;
              }

              case '11': {
                objInThisWay = this.stage[3 - j][i];
                objInThisWay2 = this.stage[2 - j][i];
                break;
              }
              case '01': {
                objInThisWay = this.stage[i][3 - j];
                objInThisWay2 = this.stage[i][2 - j];
                break;
              }
            }
            if (objInThisWay2.boxObj && objInThisWay.boxObj.value == objInThisWay2.boxObj.value) {
              add += this.addTo(objInThisWay2, objInThisWay);
              this.clear(x, y);
              //                    j++;
              can = 1;
            }
            //                console.log(this.stage);
          }
        }
        if (add) {
          var addscore = document.getElementById('addScore');
          addscore.innerText = "+" + add;
          addscore.textContent = "+" + add;
          addscore.className = "show";
          setTimeout(function() {
            addscore.className = "hide";
          }, 500);
        }
        if (can) {
          this.newBox();
        }
        if (this.isEnd()) {
          this.gameOver();
        }
      },

      inti: null
    }
    var controller = function() {
      var startX = 0;
      var startY = 0;
      var ready = 0;
      this.start = function(x, y) {
        ready = 1;
        startX = x;
        startY = y;
      };
      this.move = function(x, y) {
        if (x - startX > 100 && ready) {
          gameObj.move(0, 1);
          ready = 0;
        } else if (startX - x > 100 && ready) {
          gameObj.move(0, 0);
          ready = 0;
        } else if (startY - y > 100 && ready) {
          gameObj.move(1, 0);
          ready = 0;
        } else if (y - startY > 100 && ready) {
          gameObj.move(1, 1);
          ready = 0;
        }
      }
      this.end = function(x, y) {
        ready = 0;
      }
      return {
        start: this.start,
        move: this.move,
        end: this.end
      }
    }();

    function disableSelection(target) {
      if (typeof target.onselectstart != "undefined") //IE route
        target.onselectstart = function() {
          return false
        }
      else if (typeof target.style.MozUserSelect != "undefined") //Firefox route
        target.style.MozUserSelect = "none"
      else //All other route (ie: Opera)
        target.onmousedown = function() {
          return false
        }
      target.style.cursor = "default"
    }
    window.onload = function() {
      gameObj.intiStage();
      gameObj.newBox();
      //    gameObj.newBox();
      var stage = document.getElementById('stage');
      document.onmousedown = function(e) {
        var event = e || window.event;
        var obj = event.target || event.srcElement;
        var x = event.clientX;
        var y = event.clientY;
        controller.start(x, y);
      }
      document.onmousemove = function(e) {
        var event = e || window.event;
        var obj = event.target || event.srcElement;
        var x = event.clientX;
        var y = event.clientY;
        controller.move(x, y);
      }
      document.onmouseup = function(e) {
        var event = e || window.event;
        var obj = event.target || event.srcElement;
        var x = event.clientX;
        var y = event.clientY;
        controller.end(x, y);
      }

      function keyDown(e) {
        var currKey = 0,
          e = e || event;
        currKey = e.keyCode || e.which || e.charCode;
        var keyName = String.fromCharCode(currKey);
        switch (currKey) {
          case 37:
            gameObj.move(0, 0);
            break;
          case 38:
            gameObj.move(1, 0);
            break;
          case 39:
            gameObj.move(0, 1);
            break;
          case 40:
            gameObj.move(1, 1);
            break;
        }
        //        alert("key code: " + currKey + " Character: " + keyName);
      }
      document.onkeydown = keyDown;
      //    disableSelection(document.body);
    }
  </script>
{% endblock %}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
