<%- header %>
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
<%- title %>

<!-- Extra style declarations here -->

  <style>
    html {
      height: 100%;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
    }

    p {
      color: black;
      font-family: "microsoft yahei";
      font-weight: bold;
      left: -10px;

    }

    body, #content {
      background-color: var(--bg-dark);
      color: white;
    }

    .container {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 452px;
      height: 100%;
      overflow: hidden;
    }

    .logo {
      position: absolute;
      left: 0;
      top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .logo > span {
      position: static;
      font-size: 100px;
      background: white;
      font-family: monospace;
      font-weight: 600;
    }

    #logo2 {
      color: var(--color-blue);
    }

    #logo0 {
      color: var(--color-cyan);
    }

    #logo4 {
      color: var(--color-green);
    }

    #logo8 {
      color: var(--color-yellow);
    }

    .scoreBar {
      position: absolute;
      left: 0;
      top: 140px;
      width: 100%;
      height: 108px;
      display: flex;
      justify-content: space-evenly;
    }

    .scoreContainer, .highScoreContainer {
      width: 175px;
      box-sizing: border-box;
      background: var(--dark-gray);
      padding: 10px;
      text-align: center;
    }

    #score, #highScore {
      font-size: 30px;
    }

    #addScore {
      font-size: 20px;
      color: var(--light-gray);
    }

    #addScore.show {
      opacity: .8;
      transition: all .5s ease;
      -ms-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -webkit-transition: all .5s ease;

    }

    #addScore.hide {
      opacity: 0;
      transition: all .5s ease;
      -ms-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -webkit-transition: all .5s ease;
    }

    #newBest {
      font-size: 20px;
      color: var(--light-red);
    }

    #gameOver {
      position: fixed;
      color: var(--light-red);
      left: 50%;
      transform: translateX(-50%);
      top: 29%;
      font-size: 32px;
      display: none;
    }

    #stage {
      background: var(--bg-darker);
      cursor: move;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      position: absolute;
      width: 450px;
      height: 450px;
      top: 57%;
      left: 0;
      margin-top: -200px;
      border: 1px solid var(--light-gray);
      z-index: 1;
    }

    #undo {
      position: relative;
      z-index: 2;
    }

    #cover {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0.1;
      cursor: move;
    }

    .row0 {
      top: 10px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .row1 {
      top: 120px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .row2 {
      top: 230px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .row3 {
      top: 340px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .cell0 {
      left: 10px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .cell1 {
      left: 120px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .cell2 {
      left: 230px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    .cell3 {
      left: 340px;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
    }

    span {
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      text-align: center;
      line-height: 100px;
      cursor: move;
      background: #fff;
      font-size: 43px;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
    }

    div {
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;

    }

    .blank {
      background: var(--bg-dark);
    }

    .num2 {
      color: var(--color-blue);
      font-size: 100px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num4 {
      color: var(--color-cyan);
      font-size: 100px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num8 {
      color: var(--color-green);
      font-size: 100px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num16 {
      color: var(--color-yellow);
      font-size: 75px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num32 {
      color: var(--color-orange);
      font-size: 75px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num64 {
      color: var(--color-red);
      font-size: 75px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num128 {
      box-shadow: inset 0 0 10px 3px var(--color-red);
      color: var(--color-blue);
      font-size: 50px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num256 {
      box-shadow: inset 0 0 10px 3px var(--color-red);
      color: var(--color-cyan);
      font-size: 50px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num512 {
      box-shadow: inset 0 0 10px 3px var(--color-red);
      color: var(--color-green);
      font-size: 50px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num1024 {
      box-shadow: inset 0 0 10px 3px var(--color-red);
      color: var(--color-yellow);
      font-size: 50px;
      padding: 10px;
      box-sizing: border-box;
      line-height: 40px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      overflow-wrap: break-word;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num2048 {
      box-shadow: inset 0 0 10px 3px var(--color-red);
      color: var(--color-orange);
      font-size: 50px;
      padding: 10px;
      box-sizing: border-box;
      line-height: 40px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      overflow-wrap: break-word;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    .num4096 {
      box-shadow: inset 0 0 10px 3px var(--color-red);
      color: black;
      font-size: 50px;
      padding: 10px;
      box-sizing: border-box;
      line-height: 40px;
      background: white;
      font-family: monospace;
      font-weight: 600;
      overflow-wrap: break-word;
      transition: all .2s ease;
      -ms-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      -webkit-transition: all .2s ease;
      animation: myfirst .5s;
      -moz-animation: myfirst .5s;
      /* Firefox */
      -webkit-animation: myfirst .5s;
      /* Safari or Chrome or opera */
    }

    #newGameButton {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      top: 88%;
      width: fit-content;
      height: fit-content;
      padding: 7px 14px;
      font-size: 28px;
      border-radius: 28px;
      background: var(--bg-darker);
      color: var(--theme-color);
      border: 2px solid;
      cursor: pointer;
      z-index: 3;
    }

    #newGameButton:hover {
      background: var(--bg-dark-highlight);
    }

    .newButtonAnimation:not(:hover) {
      animation: oscillate 1.5s infinite;
    }

    @keyframes oscillate {
      0% {
        background: var(--bg-darker);
      }
      50% {
        background: var(--bg-dark-highlight);
      }
      100% {
        background: var(--bg-darker);
      }
    }

    @keyframes myfirst {
      0% {
        opacity: 0;
        transform: scale(0)
      }

      50% {
        opacity: .5;
        transform: scale(1.5)
      }

      100% {
        opacity: 1;
        transform: scale(1)
      }
    }

    @-moz-keyframes myfirst

    /* Firefox */
      {
      0% {
        opacity: 0;
        -moz-transform: scale(0)
      }

      50% {
        opacity: .5;
        -moz-transform: scale(1.5)
      }

      100% {
        opacity: 1;
        -moz-transform: scale(1)
      }
    }

    @-webkit-keyframes myfirst

    /* Safari or Chrome */
      {
      0% {
        opacity: 0;
        -webkit-transform: scale(0)
      }

      50% {
        opacity: .5;
        -webkit-transform: scale(1.5)
      }

      100% {
        opacity: 1;
        -webkit-transform: scale(1)
      }
    }

    #quickmenu {
      display: none;
    }

    #content {
      /*Paste this to make a full-screen page*/
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      max-width: 100%; /*For some reason, this only works if max-width is present*/
      height: 100%;
      box-sizing: border-box;
      border-radius: 0;
      background-color: transparent;
    }
  </style>




<!-- Main content here -->

  <div id="cover"></div>
  <div class="container">
    <div class="logo">
      <span id="logo2">2</span>
      <span id="logo0">0</span>
      <span id="logo4">4</span>
      <span id="logo8">8</span>
    </div>
    <div class="scoreBar">
      <div class="scoreContainer">
        <label>Score</label><br>
        <label id="score">0</label>
        <div id="addScore"></div>
      </div>
      <div class="highScoreContainer">
        <label>High score</label><br>
        <label id="highScore">0</label><br>
        <div id="newBest"></div>
      </div>
    </div>
    <div id="gameOver">GAME OVER!</div>
    <div id="stage">
      <span class="row0 cell0 blank"></span>
      <span class="row0 cell1 blank"></span>
      <span class="row0 cell2 blank"></span>
      <span class="row0 cell3 blank"></span>
      <span class="row1 cell0 blank"></span>
      <span class="row1 cell1 blank"></span>
      <span class="row1 cell2 blank"></span>
      <span class="row1 cell3 blank"></span>
      <span class="row2 cell0 blank"></span>
      <span class="row2 cell1 blank"></span>
      <span class="row2 cell2 blank"></span>
      <span class="row2 cell3 blank"></span>
      <span class="row3 cell0 blank"></span>
      <span class="row3 cell1 blank"></span>
      <span class="row3 cell2 blank"></span>
      <span class="row3 cell3 blank"></span>
    </div>
    <!--<div id="gameOver hide">-->
    <!--<div class="overText">GameOver!</div>-->
    <!--</div>-->
  </div>
  <button id="newGameButton" onclick="window.location.reload();">New game</button>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/socket.io.min.js"></script>
<script src="/static/js/header.js"></script>


<script>
  {
    document.getElementById("highScore").innerHTML = 0;

    let gameObj = {
      points: {
        score: 0,
        history: [],
        status: 1
      },
      stage: [],
      intiStage: function() {
        for (let cell = 0; cell < 4; cell++) {
          this.stage[cell] = [];
          for (let row = 0; row < 4; row++) {
            this.stage[cell][row] = {
              boxObj: null,
              position: [cell, row]
            };
          }
        }

      },

      empty: function() {
        let emptyList = [];
        for (let row = 0; row < 4; row++) {
          for (let cell = 0; cell < 4; cell++) {
            if (this.stage[cell][row].boxObj == null) {
              emptyList.push(this.stage[cell][row]);
            }
          }
        }
        return emptyList;
      },
      newBox: function() {
        let _this = this;


        let box = function(obj) {
          let num = Math.random() > 0.9 ? 4 : 2;
          this.value = num;
          this.parent = obj;
          this.domObj = function() {
            let domBox = document.createElement('span');
            domBox.innerText = num;
            domBox.textContent = num;
            domBox.className = 'row' + obj.position[0] + ' ' + 'cell' + obj.position[1] + ' ' + 'num' + num;
            let root = document.getElementById('stage');
            root.appendChild(domBox);
            return domBox;
          }();
          obj.boxObj = this;
        }
        let emptyList = this.empty();
        if (emptyList.length) {
          let randomIndex = Math.floor(Math.random() * emptyList.length);
          new box(emptyList[randomIndex]);
          return true;
        }
      },
      isEnd: function() {
        let emptyList = this.empty();
        if (!emptyList.length) {
          for (let i = 0; i < 4; i++) {
            for (let j = 0; j < 4; j++) {
              let obj = this.stage[i][j];
              let objLeft = (j == 0) ? {
                boxObj: {
                  value: 0
                }
              } : this.stage[i][j - 1];
              let objRight = (j == 3) ? {
                boxObj: {
                  value: 0
                }
              } : this.stage[i][j + 1];
              let objUp = (i == 0) ? {
                boxObj: {
                  value: 0
                }
              } : this.stage[i - 1][j];
              let objDown = (i == 3) ? {
                boxObj: {
                  value: 0
                }
              } : this.stage[i + 1][j];
              if (obj.boxObj.value == objLeft.boxObj.value ||
                obj.boxObj.value == objDown.boxObj.value ||
                obj.boxObj.value == objRight.boxObj.value ||
                obj.boxObj.value == objUp.boxObj.value) {
                return false
              }
            }
          }
          return true;
        }
        return false;
      },
      gameOver: function() {
        document.getElementById("gameOver").style.display = "block";
        document.getElementById("cover").style.cursor = "not-allowed";
        document.getElementById("newGameButton").classList.add("newButtonAnimation");
        document.onkeydown = null;
        request.open("POST", "/savescore?game=2048&score=" + this.points.score);
        request.send();
      },
      moveTo: function(obj1, obj2) {
        obj2.boxObj = obj1.boxObj;
        obj2.boxObj.domObj.className = 'row' + obj2.position[0] + ' ' + 'cell' + obj2.position[1] + ' ' + 'num' + obj2.boxObj.value;
        //            obj1.boxObj.domObj.parentNode.removeChild(obj1.boxObj.domObj);
        obj1.boxObj = null;
      },
      addTo: function(obj1, obj2) {
        obj2.boxObj.domObj.parentNode.removeChild(obj2.boxObj.domObj);
        obj2.boxObj = obj1.boxObj;
        obj1.boxObj = null;
        obj2.boxObj.value = obj2.boxObj.value * 2;
        obj2.boxObj.domObj.className = 'row' + obj2.position[0] + ' ' + 'cell' + obj2.position[1] + ' ' + 'num' + obj2.boxObj.value;
        obj2.boxObj.domObj.innerText = obj2.boxObj.value;
        obj2.boxObj.domObj.textContent = obj2.boxObj.value;
        this.points.score += obj2.boxObj.value;
        let scoreBar = document.getElementById('score');
        scoreBar.innerText = this.points.score;
        scoreBar.textContent = this.points.score;
        let highScoreBar = document.getElementById('highScore');
        let newBest = document.getElementById('newBest');
        if (this.points.score > 0) {
          highScoreBar.innerText = this.points.score;
          highScoreBar.textContent = this.points.score;
          highScoreBar.style.color = "var(--light-red)";
          newBest.innerText = "New best!";
          newBest.textContent = "New best!";
        }
        return obj2.boxObj.value;


      },
      clear: function(x, y) {
        let can = 0;
        for (let i = 0; i < 4; i++) {
          let fst = null;
          let fstEmpty = null;
          for (let j = 0; j < 4; j++) {
            let objInThisWay = null;
            switch ("" + x + y) {
              case '00':
                objInThisWay = this.stage[i][j];
                break;
              case '10':
                objInThisWay = this.stage[j][i];
                break;
              case '11':
                objInThisWay = this.stage[3 - j][i];
                break;
              case '01':
                objInThisWay = this.stage[i][3 - j];
                break;
            }
            if (objInThisWay.boxObj != null) {
              if (fstEmpty) {
                this.moveTo(objInThisWay, fstEmpty)
                fstEmpty = null;
                j = 0;
                can = 1;
              }
            } else if (!fstEmpty) {
              fstEmpty = objInThisWay;
            }
          }
        }
        return can;
      },

      move: function(x, y) {
        let can = 0;
        can = this.clear(x, y) ? 1 : 0;
        let add = 0;
        for (let i = 0; i < 4; i++) {
          for (let j = 0; j < 3; j++) {
            let objInThisWay = null;
            let objInThisWay2 = null;
            switch ("" + x + y) {
              case '00': {
                objInThisWay = this.stage[i][j];
                objInThisWay2 = this.stage[i][j + 1];
                break;
              }
              case '10': {
                objInThisWay = this.stage[j][i];
                objInThisWay2 = this.stage[j + 1][i];
                break;
              }

              case '11': {
                objInThisWay = this.stage[3 - j][i];
                objInThisWay2 = this.stage[2 - j][i];
                break;
              }
              case '01': {
                objInThisWay = this.stage[i][3 - j];
                objInThisWay2 = this.stage[i][2 - j];
                break;
              }
            }
            if (objInThisWay2.boxObj && objInThisWay.boxObj.value == objInThisWay2.boxObj.value) {
              add += this.addTo(objInThisWay2, objInThisWay);
              this.clear(x, y);
              //                    j++;
              can = 1;
            }
            //                console.log(this.stage);
          }
        }
        if (add) {
          let addscore = document.getElementById('addScore');
          addscore.innerText = "+" + add;
          addscore.textContent = "+" + add;
          addscore.className = "show";
          setTimeout(function() {
            addscore.className = "hide";
          }, 500);
        }
        if (can) {
          this.newBox();
        }
        if (this.isEnd()) {
          this.gameOver();
        }
      },

      inti: null
    }
    let controller = function() {
      let startX = 0;
      let startY = 0;
      let ready = 0;
      this.start = function(x, y) {
        ready = 1;
        startX = x;
        startY = y;
      };
      this.move = function(x, y) {
        if (x - startX > 100 && ready) {
          gameObj.move(0, 1);
          ready = 0;
        } else if (startX - x > 100 && ready) {
          gameObj.move(0, 0);
          ready = 0;
        } else if (startY - y > 100 && ready) {
          gameObj.move(1, 0);
          ready = 0;
        } else if (y - startY > 100 && ready) {
          gameObj.move(1, 1);
          ready = 0;
        }
      }
      this.end = function(x, y) {
        ready = 0;
      }
      return {
        start: this.start,
        move: this.move,
        end: this.end
      }
    }();

    function disableSelection(target) {
      if (typeof target.onselectstart != "undefined") //IE route
        target.onselectstart = function() {
          return false
        }
      else if (typeof target.style.MozUserSelect != "undefined") //Firefox route
        target.style.MozUserSelect = "none"
      else //All other route (ie: Opera)
        target.onmousedown = function() {
          return false
        }
      target.style.cursor = "default"
    }
    window.onload = function() {
      gameObj.intiStage();
      gameObj.newBox();
      //    gameObj.newBox();
      let stage = document.getElementById('stage');
      document.onmousedown = function(e) {
        let event = e || window.event;
        let obj = event.target || event.srcElement;
        let x = event.clientX;
        let y = event.clientY;
        controller.start(x, y);
      }
      document.onmousemove = function(e) {
        let event = e || window.event;
        let obj = event.target || event.srcElement;
        let x = event.clientX;
        let y = event.clientY;
        controller.move(x, y);
      }
      document.onmouseup = function(e) {
        let event = e || window.event;
        let obj = event.target || event.srcElement;
        let x = event.clientX;
        let y = event.clientY;
        controller.end(x, y);
      }

      function keyDown(e) {
        let currKey = 0;
        e = e || event;
        currKey = e.keyCode || e.which || e.charCode;
        let keyName = String.fromCharCode(currKey);
        switch (currKey) {
          case 37:
            gameObj.move(0, 0);
            break;
          case 38:
            gameObj.move(1, 0);
            break;
          case 39:
            gameObj.move(0, 1);
            break;
          case 40:
            gameObj.move(1, 1);
            break;
        }
        //        alert("key code: " + currKey + " Character: " + keyName);
      }
      document.onkeydown = keyDown;
      //    disableSelection(document.body);
    }
  }
</script>
