{% extends 'header_content.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Bitshifter{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style media="screen">
    #content {
      width: 250px;
      text-align: center;
    }

    #content > div {
      margin: 12px 0;
      line-heigt: 200%;
    }

    span {
      border: 1px solid var(--light-gray);
      padding: 0 3px;
    }

    h3 {
      margin: 0;
      display: inline-block;
    }

    #scorebox, #targetbox {
      margin-right: 8px;
    }

    #bitbox {
      width: fit-content;
      margin: 3px auto 6px;
      font-size: 20px;
    }

    #answerboxcontainer {
      height: 32px;
    }

    #checkbutt, #reload {
      width: 75px;
    }
  </style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}green{% endblock %}

<!-- Main content here -->
{% block main %}
  <div>Make your byte match the target by shifting the bits left or right, then submiting with "=="</div>
  <div id="scores" class="hidden">
    <h3>Score: <span id="scorebox">0</span></h3>
    Highest: <span id="hiscorebox"></span>
  </div>
  <br>
  <div id="setDifficulty">
    Difficulty:
    <select id="difficulty">
      <option>Easy</option>
      <option>Hard</option>
      <option>Extreme</option>
    </select>
  </div>
  <div id="timeLimit" class="hidden">
    <h3>Time left: <span id="timeLeft">60</span></h3>
  </div>
  <div id="targets" class="hidden">
    <h3>Target: <span id="targetbox"></span></h3>
    Character: <span id="charabox"></span>
  </div>
  <div id="byte" class="hidden">
    Your byte:<br>
    <span id="bitbox"></span>
  </div>
  <div id="controlsbox" class="hidden">
    <button type="button" id="leftbutt">&lt;&lt;</button>
    <button type="button" id="ritebutt">&gt;&gt;</button>
  </div>
  <div id="answerboxcontainer" class="hidden">
    <h3 id="answerbox"></h3>
  </div>
  <div>
    <button type="button" id="checkbutt">Start</button>
    <button type="button" id="reload" class="hidden" onclick="window.location.reload();">Reload</button>
  </div>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
  <script type="text/javascript">
    {
      let score = 0;
      let hiscore = {{ highScore }};
      let hexChar = ["0", "1", "2", "3", "4", "5", "6", "7","8", "9", "A", "B", "C", "D", "E", "F"];
      document.getElementById("leftbutt").onclick = left;
      document.getElementById("ritebutt").onclick = right;
      document.getElementById("checkbutt").onclick = check;
      document.getElementById('answerboxcontainer').classList.add("hidden");
      function byteToHex(b) {
        return hexChar[(b >> 4) & 0x0f] + hexChar[b & 0x0f];
      }
      function newTarget() {
        let target = Math.floor(Math.random() * 256);
        let targetHex = byteToHex(target)
        let targetString = []
        let targetChar = String.fromCharCode(target)
        let tempTarget = target;
        let timer;
        let timeLeft = 60;
        for (let i = 0; i < 8; i++) {
          targetString.splice(0,0,1&tempTarget);
          tempTarget = tempTarget >> 1
        }
        let randomSplit = Math.floor(Math.random() * 8);
        let userGuess = targetString.slice(randomSplit, 8).concat(targetString.slice(0, randomSplit))
        targetString = targetString.join('')
        userGuess = userGuess.join('')
        return {
          dec: target,
          hex: targetHex,
          arr: targetString,
          chr: targetChar,
          guess: userGuess
        }
      }
      let gameData = newTarget();
      function left() {
        gameData.guess = gameData.guess.split('')
        gameData.guess.push(gameData.guess.shift())
        gameData.guess = gameData.guess.join('')
        draw()
      }
      function right() {
        gameData.guess = gameData.guess.split('')
        gameData.guess.splice(0,0,gameData.guess.pop())
        gameData.guess = gameData.guess.join('')
        draw()
      }
      function draw() {
        let scoreBox = document.getElementById('scorebox')
        let hiscoreBox = document.getElementById('hiscorebox')
        let charaBox = document.getElementById('charabox')
        let targetBox = document.getElementById('targetbox')
        let bitBox = document.getElementById('bitbox')
        let resString = ''
        for (let i = 0; i < gameData.guess.length; i++) {
          resString += gameData.guess[i];
        }
        scoreBox.innerHTML = score;
        hiscoreBox.innerHTML = hiscore;
        charaBox.innerHTML = gameData.chr;
        targetBox.innerHTML = gameData.dec;
        bitBox.innerHTML = resString;
      }
      function check() {
        let answerBox = document.getElementById('answerbox');
        let container = document.getElementById('answerboxcontainer');
        let controlsBox = document.getElementById('controlsbox');
        let checkButton = document.getElementById("checkbutt");
        let reloadButton = document.getElementById("reload");
        let difficulty = document.getElementById("difficulty").value;
        document.getElementById("scores").classList.remove("hidden");
        document.getElementById("timeLimit").classList.remove("hidden");
        document.getElementById("targets").classList.remove("hidden");
        document.getElementById("byte").classList.remove("hidden");
        document.getElementById("setDifficulty").classList.add("hidden");
        if (controlsBox.classList.contains("hidden")) {
          draw();
          switch (difficulty) {
            case "Easy":
              timeLeft = 59
              break;
            case "Hard":
              timeLeft = 29
              break;
            case "Extreme":
              timeLeft = 14
          }
          document.getElementById("timeLeft").innerText = timeLeft;
          timer = setInterval(() => {
            if (timeLeft) {
              document.getElementById("timeLeft").innerText = --timeLeft;
            } else {
              gameOver();
            }
          }, 1000);
          container.classList.add("hidden");
          controlsBox.classList.remove("hidden");
          checkButton.innerText = "==";
          reloadButton.classList.add("hidden");
          gameData = newTarget();
          draw();
        } else {
          if (gameData.arr == gameData.guess) {
            clearInterval(timer);
            controlsBox.classList.add("hidden");
            container.classList.remove("hidden");
            checkButton.innerText = "OK";
            answerBox.innerHTML = "You win!";
            switch (difficulty) {
              case "Easy":
                score++;
                break;
              case "Hard":
                score += 2;
                break;
              case "Extreme":
                score += 4;
            }
            if (score > hiscore) hiscore = score;
            draw();
          } else {
            gameOver();
          }
        }
      }
      function gameOver() {
        clearInterval(timer);
        document.getElementById('controlsbox').classList.add("hidden");
        document.getElementById('answerboxcontainer').classList.remove("hidden");
        document.getElementById("answerbox").innerHTML = "You winn't!";
        request.open("POST", "/savescore?game=bitshifter&score=" + score);
        request.send();
        score = 0;
        document.getElementById("checkbutt").innerText = "OK";
        document.getElementById("reload").classList.remove("hidden");
      }
    }
  </script>
{% endblock %}
