{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}FlashCards{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style>
    body {
      text-align: center;
    }

    h1 {
      color: var(--light-cyan);
    }

    li {
      color: white;
    }

    p {
      color: var(--color-orange);
    }

    #header {
      text-align: center;
      padding-bottom: 30px;
      margin: auto;
      width: 550px;
    }

    #header li {
      text-align: left;
    }

    .line2 {
      display: block;
      text-align: left;
      margin-left: 20px;
    }

    #multiplechoice {
      text-align: left;
      margin: auto;
      width: 50%;
      padding-bottom: 50px;
      top: 100px;
      left: 25%;
    }

    #answerbox {
      /* border-color: white;
      border-style: dotted;
      text-align: center;
      margin: auto;
      width: 550px;
      padding-top: 50px;
      padding-bottom: 50px;
      left: 25%;
      position: absolute;
      width: 350px; */
      padding-top: 0px;
      padding-bottom: 50px;
      top: 100px;
      left: 25%;
      text-align: center;
      width: 100%;
    }

    #cardPrompt {
      text-align: center;
      margin: 20px auto -10px;
      width: 50%;
      color: white;
    }

    #button {
      position: relative;
      bottom: 30px;
    }

    #results {
      text-align: center;
      margin: auto;
      left: 25%;
      width: 50%;
      text-align: center;
    }

    #mainBody {
      text-align: center;
      width: 50%;
      margin: auto;
      position: relative;
    }

    .answerBoxFormat {
      resize: none;
    }

    #score {
      color: white;
      border-style: groove;
      border-color: var(--light-gray);
      border-width: medium;
      width: 50%;
      position: absolute;
      left: 25%
    }

    #scoreBox {
      margin-left: 750px;
      margin-right: 750px;
      top: 50px;
    }

    /* Dropdown Button */
    .dropbtn.dropbtn {
      background-color: inherit;
      font: inherit;
      color: var(--light-cyan);
      padding: 16px;
      font-size: 32px;
      border: none;
      border-radius: 4px;
    }

    #dropMenu {
      position: relative;
      margin: auto;
      height: 69px;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      bottom: 26px;
      display: inline-block;
      height: 90px;
      margin-bottom: 10px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      right: inherit;
      background-color: var(--bg-dark);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      width: 100%;
      height: fit-content;
      top: 90px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      position: relative;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: var(--bg-darker);
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: var(--dark-gray);
    }
  </style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}green{% endblock %}

<!-- Main content here -->
{% block main %}
  <div id="content">

    <div id="header">
      <h1>FlashCards</h1>
      <div id="dropMenu">
        <div class="dropdown">
          <h1><button class="dropbtn">Question Type</button></h1>
          <div class="dropdown-content">
            <a onclick="languageTypePicker('data_java')" href="#">Javascript</a>
            <a onclick="languageTypePicker('data_py')" href="#">Python</a>
            <a onclick="languageTypePicker('data_html')" href="#">HTML</a>
            <a onclick="languageTypePicker('data_nocti_written')" href="#">NOCTI Written</a>
            <a onclick="languageTypePicker('data_nocti_performance')" href="#">NOCTI Performance</a>
          </div>
        </div>
      </div>
      <div id="text">
        <li>Type the lines of code described in the prompt.</li>
        <li>If the description talks about something that would use </li>
        <li class="line2">a code block (function, conditional statement, etc), only use the first line of code.</li>
        <li>If you need to use quotes, please use <b>single quotes ( ' ' )</b></li>
        <li>The Express.js application object will always be named "app".</li>
        <li class="line2">The response and request arguments in callbacks will always be named "res" and "req".</li>
        <li>When possible, keep code on one line.</li>
      </div>
    </div>
    <div id="mainBody">
      <div id="scoreBox">
        <div id="score">

        </div>
      </div>
      <br>
      <div id="cardPrompt">

      </div>
      <br>
      <br>

      <div id="answerbox">
        <textarea rows=4 cols=40 id="cardAnswer" class="answerBoxFormat" style="white-space: pre-wrap; font-family: system, consolas;"></textarea><br>
      </div>
      <div id="multiplechoice">
        <form id="choiceAnswer">
          <input type="radio" name="choice" id="mult1" value="1">
          <label for="mult1" id=mult1choice>hey</label>
          <br>
          <input type="radio" name="choice" id="mult2" value="2">
          <label for="mult2" id=mult2choice>hey</label>
          <br>
          <input type="radio" name="choice" id="mult3" value="3">
          <label for="mult3" id=mult3choice>hey</label>
          <br>
          <input type="radio" name="choice" id="mult4" value="4">
          <label for="mult4" id=mult4choice>hey</label>
        </form>
      </div>
      <button id="button"></button>


      <div id="results">

      </div>
    </div>
  </div>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
  <script>
    var cardSubmitted = true;
    var discardPile = 0;
    var mistakePile = []

    var json_nocti_written = `{
      "generalInformationAndConcepts": [
        ["Oley Birkeland", "Which of the following errors is caused by a calculation error?", ["logical", "arithmetic", "truncation", "semantic"], "1", "2"],
        ["Oley Birkeland", "Which of the following uses three basic control structures to form highly structured units of code?", ["structured programming", "circular connector", "modular construction", "loop structure"], "1", "1"],
        ["Oley Birkeland", "What type of principle is used for configuring prefrences that allow the user to personalize an application?", ["CLI", "GUI", "API", "DOS"], "1", "2"],
        ["Oley Birkeland", "All computer instructions are based on four basic logic patterns. These patterns are simple sequence, selection, loop, and", ["trailer", "modular", "top-down", "branch"], "1", "4"],
        ["Oley Birkeland", "If the memory speed of the bus is 750MHz, and the CPU is operating at twice the speed of the bus, what is the processor speed?", ["375 MHz", "750 MHz", "1.5 GHz", "2 GHz"], "1", "3"],
        ["Oley Birkeland", "Two types of programs that create machine codes are the interpreter and the", ["assembler", "object", "compiler", "source"], "1", "3"],
        ["Oley Birkeland", "In the order of calculations in a program?", ["addition precedes division", "parentheses precedes exponentation", "subtraction precedes addition", "multiplication precedes exponentation"], "1", "2"],
        ["Oley Birkeland", "When the code below is executed, strAdd will be equal to\\nstrFirst = \\"123\\"\\nstrSeconds = \\"456\\"\\nstrAdd = strFirst + strSecond", ["579", "123 + 456", "123456", "strFirst + strSecond"], "1", "3"]
      ],
      "ethicsLegalComplianceAndSecurity": [
        ["Oley Birkeland", "If a programmer downloads a copy of Minecraft SQL Server from a file-sharing website without paying for it, the programmer has commited and offense called?", ["piracy", "larceny", "felony", "spyware"], "1", "1"],
        ["Oley Birkeland", "The Sarbanes-Oxley Act (SOX) requires monitoring and documentation of transactions. How could a programmer mistakenly setup a program that would cause problems with compliance with SOX?", ["create system logs of the transactions taken in the session", "require a user to click three times when they are sure they want to prceed", "help a user to request assistance from the system administrators", "multiplication precedes exponentation"], "1", "4"]
      ],
      "analyzeProgrammingProblemsManageProjectsAndCreateFlowchartSolutions": [
        ["Oley Birkeland", "The following programming flowchart symbol is a/an _____ symbol.\\n◇", ["processing", "input/output", "decision", "connector"], "1", "3"],
        ["Oley Birkeland", "One of the main goals in analyzing user requiremtns is to?", ["troubleshoot the problem", "shutdown and maintain the system", "keep the customer happy", "elicit requirements from a user's point of view"], "1", "4"],
        ["Oley Birkeland", "If a record has the following field lengths, what is the record length?\\nName=35,ZipCode=5,District=7", ["42", "47", "54", "56"], "1", "2"],
        ["Oley Birkeland", "The following programming flowchart symbol is a/an _____ symbol.\\n▱", ["processing", "input/output", "decision", "connector"], "1", "2"],
        ["Oley Birkeland", "A programmer is starting a new programming project. During what phase of the programming prject should the programmer begin planning for data storage?", ["billing", "documentation", "implmentation", "test"], "1", "3"],
        ["Oley Birkeland", "A programmer needs to manipulate data that consists of a sequence of number that must be used as both an individual object and a set of data. What is the BEST data structure the programmer can use?", ["array", "constant", "string", "field"], "1", "1"],
        ["Oley Birkeland", "When a programmer is ready to create executable code, what process is used?", ["debugging", "editing", "compiling", "disassembling"], "1", "3"]
      ],
      "designProgramSolutions": [
        ["Oley Birkeland", "The source document and _____ should follow the same order.", ["input screen design", "output screen design", "decision-type operator symbols", "processing function symbols"], "1", "1"],
        ["Oley Birkeland", "Which of the following is a CORRECT name for a variable?", ["State_Zipcode", "State+Zipcode", "State Zipcode", "State=Zipcode"], "1", "1"],
        ["Oley Birkeland", "Why is the following expression invalid? A=10 + 'New Data'", ["Variable 5 is not defined", "data types are mixed", "'New Data' is not a string", "'New Data' equals 0"], "1", "2"],
        ["Oley Birkeland", "An output field has 'Los Angeles' moved to it and when examined contains 'Los Angel'. This indicates a/an _____ error", ["logical", "arithmetic", "truncation", "semantic"], "1", "3"],
        ["Oley Birkeland", "A programmer needs to define the type of value for a variable. What pre-defined set of characteristics for a variable can the programmer choose?", ["storage location", "return value", "method modifier", "data type"], "1", "4"]
      ],
      "codePrograms": [
        ["Oley Birkeland", "One Example of scripting (text processing) language is", ["Perl", "C++", "Fortran", "Beta"], "1", "1"],
        ["Oley Birkeland", "Which of the following enables the use of 'plain English' queries?", ["BASIC", "FORTRAN", "SQL", "C++"], "1", "3"],
        ["Oley Birkeland", "An example of loop structure is", ["DO UNTIL", "SELECT IF", "EXECUTE", "NEXT"], "1", "1"],
        ["Oley Birkeland", "Compile errors can be caused by", ["bad syntax", "input data", "insufficient test data", "incorrect user specification"], "1", "1"]
      ],
      "testPrograms": [
        ["Oley Birkeland", "Typically after successful intergration testing, a _____ test is preformed to complete a front-to-back execution of the entire program?", ["system", "unit", "fuzz", "beta"], "1", "1"],
        ["Oley Birkeland", "The implementation phase consists of coding, testing, and", ["designing", "building prototype programs", "establishing requirements", "integration"], "1", "4"],
        ["Oley Birkeland", "When TEXT1.VALUE= 'March 7', TEXT1_LEN=\\nSample\\nSub Form_Click()\\nIN = TEXT 1.VALUE\\nTEXT1_len = LEN$(IN)\\nFor I = TEXT_len to 1 step -1\\nTEMP = TEMP & mid (in, I, 1)\\nNEXT\\nOUT = TEMP & right (in, text_len -n)", ["7", "8", "9", "10"], "1", "1"],
        ["Oley Birkeland", "A data element is intended to contain a range from 15 to 30 and after testing is contains 32. What kind of error is this?", ["truncation", "rounding", "run time", "boundry"], "1", "4"],
        ["Oley Birkeland", "Which of the following consists of a sequence of events to follow so they can be repeated?", ["runtime", "test files", "trace route", "scriot"], "1", "4"]
      ],
      "mainProgramsAndImplementChangeManagement": [
        ["Oley Birkeland", "Maintenance refers to changes to a system in operating arising from error corrections, preformance improvements, changes in the business enviroment and", ["enhancements in functions", "application requirements", "refrencing software", "material requirements"], "1", "1"],
        ["Oley Birkeland", "One method of ensuring that updates to documentation are efficiently distrubuted is to", ["send customers printed documentation annually regardless of whether there have been changes", "make changes in an online help system rather than printed sources", "send fliers only containing the changes rather than new printed volumes", "make changes only on a pre-specified schedule"], "1", "2"]
      ],
      "completeUserDocumentationAndTechnicalWriting": [
        ["Oley Birkeland", "A programmer has to make programming changes to an existing program. Therefore the comments in the existing program must also be updated. The comments are referred to as _____ documentation?", ["external", "internal", "primary", "secondary"], "1", "2"],
        ["Oley Birkeland", "A programmer has decided to create a pop-up window that will display a brief description of a control's purpose when the mouse hovers over it. This pop-up window is known as a", ["hyper clip", "tool tip", "task bar", "help bar"], "1", "2"]
      ]
    }`
    var object_nocti_written = JSON.parse(json_nocti_written);
    var arr_nocti_written = Object.values(object_nocti_written).flat();

    var arr_nocti_performance = [
      ['Oley', 'What code do you use to tell an ExpressJS to read URL-encoded data?', 'app.use(express.urlencoded());', '0'],
      ['Oley', 'Create a GET endpoint at \'/\' that sends back \"Hello\"', 'app.get(\'/\', (req, res) => res.send(\'Hello\'));', '0'],
      ['Oley', 'Create a POST endpoint at \'/new\' that sends back the content of the request body parameter named \"name\"', 'app.post(\'/new\', (req, res) => res.send(req.body.name));', '0'],
      ['Oley', 'Create and if statement that checks if the content of the request body parameter named \"ordernumber\" exists, and logs \"Found\" if it does.', 'if (req.body.ordernumber) console.log(\'Found\');', '0'],
      ['Oley', 'Use the fs module to write a JS object named \"newData\" into a JSON file named \"newData.json\"', 'fs.writeFile(\'newData.json\', newData);', '0'],
      ['Oley', 'Use the fs module to read a file called \"oldData.json\" and convert it to a JS object named \"oldData\"', 'let oldData = JSON.parse(fs.readFile(\'oldData.json\', \'utf8\'));', '0'],
      ['Oley', 'Start an ExpressJS app listen server at port 1000', 'app.listen(1000);', '0'],
      ['Oley', 'What would you type into the console to install Express.js?', ['npm init express', 'install express.js', 'node install express', 'npm i express'], '1', '4'],
      ['Oley', 'Create a GET endpoint at \'/home\' that renders \'index.ejs\'', 'app.get(\'/home\', (req, res) => res.render(\'index\'));', '0'],
      ['Oley', 'What would you type into the console to initialize a Node.js project?', 'npm init', '0'],
      ['Oley', 'Which of these is an EJS insert point?', ['<< text >>', '<%- text %>', '< text />', '<% text %>'], '1', '2'],
      ['Oley', 'What method converts an object to a JSON string?', 'JSON.stringify()', '0'],
      ['Oley', 'What method converts a JSON string to a JavaScript object?', 'JSON.parse()', '0'],
      ['Oley', 'Which module do you use to read and write to files?', ['fs', 'http', 'ejs', 'express'], '1', '1'],
      ['Oley', 'Use EJS as the view engine.', 'app.set(\'view engine\', \'ejs\');', '0'],
    ];

    var arr_javascript = [
      // ['Will', '', ['', '', '', ''], '', ''],
      // ['Chris', '', ['', '', '', ''], '', ''],
      // ['Ethan', '', ['', '', '', ''], '', ''],
      // ['Jayson', '', ['', '', '', ''], '', ''],
      ['Will', 'What Does HTML Mean', ['HyperText Markup Language', 'HyperTest Magic Language', 'HypoText', 'HTML has no meaning'], '1', '1'],
      ['Will', 'What Do Tags Do', ['They Do Nothing', 'They Properly Format Content', 'They Are The Content', '<'], '1', '2'],
      ['Will', 'What Are Some Common HTML Tags', ["'l'", "'kd'", "'vc'", "'br'"], '1', '4'],
      ['Will', 'Which Is Not A Coding Language', ['Javascript', 'Erlang', 'Ruby', 'Unit'], '1', '4'],
      ['Will', 'Which Is Not A Javascript Datatype', ['Find', 'String', 'Boolean', 'Undefined'], '1', '1'],
      ['Will', 'Which Symbol Is Used For Multi-Line Comments In Javascript', ['./', '*/', '/.', '-'], '1', '2'],
      ['Will', 'How Many Types Of Heading Does A HTML Contain', ['2', '8', '4', '6'], '1', '4'],
      ['Jayson', 'Which assignment operator assigns a variable/object to a value?', ['+=', '=', '/=', '**='], '1', '2'],
      ['Jayson', 'Which is the proper use of camel case?', ['CamelCase', 'cAmelcAse', 'camelCase', 'CameLCasE'], '1', '3'],
      ['Jayson', 'How do you create a function?', ['function == myfunction(){}', 'function myFunction(){}', 'myFunction():function{}', 'function:myFunction(){}'], '1', '2'],
      ['Jayson', 'What is a string?', ['A string is just one line of code', 'A string is a list of Non-human-readable letters that are code', 'A string is a list of human-readable letters that are not code','A string is a list of objects that are assigned to a variable'], '1', '3'],
      ['Jayson', 'How would you log (Hello World!!) to the console>?', 'console.log(Hello World!!);', '0'],
      //['Jayson', '']
    ]

    var arr_python = [
      [`Mr. Smith`, `Define a function called 'kick'\nIt prints the string 'Ouch!'`, `def kick():\n\tprint('Ouch!')`, '0'],
      [`Mr. Smith`, `Define a function called 'myName'\nIt returns the string 'Jeff'`, `def myName():\n\treturn 'Jeff'`, '0'],
      [`Mr. Smith`, `Define a function called 'kick'\nIt prints the string 'Ouch!'`, `def kick():\n\tprint('Ouch!')`, '0'],
      [`Mr. Smith`, `Define a function called 'kick'\nIt takes one argument called targetHP\nIt returns targetHP - 2`, `def kick(targetHP):\n\treturn targetHP - 2`, '0'],
      [`Mr. Smith`, `Call a function called 'kick'\nIt takes the object Player1 as its argument.\nStore its return value to the property 'Player1.hp'`, `Player1.hp = kick(Player1)`, '0'],
      [`Mr. Smith`, `Call a function called 'myName'\nPrint its return value.`, `print(myName())`, '0'],
      [`Mr. Smith`, `Call a function called 'getScore'\nIt takes the string 'Player1' as its argument.\Convert its return value to an integer and store it to a variable called 'score'.`, `score = int(getScore('Player1'))`, '0'],
      [`Mr. Smith`, `Call a function called 'getScore'\nIt takes the object Player1 as its argument\nPrint its return value.`, `print(getScore(Player1))`, '0'],
      [`Mr. Smith`, `Define a function called 'doNothing'\nIt returns nothing`, `def doNothing():\n\treturn`, '0'],
      [`Mr. Smith`, `Call a function called rollDice\nStore its return value in a variable called 'dieResult'`, `dieResult = rollDice()`, '0'],
      [`Mr. Smith`, `Define a function called sayMessage\nIt takes an argument called 'msg'\nIt prints the 'msg' argument`, `def sayMessage(msg):\n\tprint(msg)`, '0'],
      [`Mr. Smith`, `Define a function called convertAdd()\nIt takes two arguments called 'a' and 'b'\nIt returns 'a' converted to an integer plus 'b' converted to an integer `, `def convertAdd(a, b):\n\treturn int(a) + int(b)`, '0'],
    ]

    var arr_html = [

      [`Mr. Smith`, `Create a variable called 'x' and store the value 5 into it.`, `x = 5`, '0']
    ]

    function convertToObj(category) {
      return category.map(arr => ({
        author: arr[0],
        question: arr[1],
        answers: arr[2],
        type: +arr[3] ? "multi" : "text",
        key: +arr[4]
      }));
    }

    var data_javascript = convertToObj(arr_javascript);
    var data_python = convertToObj(arr_python);
    var data_html = convertToObj(arr_html);
    var data_nocti_written = convertToObj(arr_nocti_written);
    var data_nocti_performance = convertToObj(arr_nocti_performance);

    /*
        var dataList = data_functions;
        var data = [];
        var cardIndex = 0;

        //Pick out a certain number of cards
        var numberOfCards = Object.keys(data_functions).length;
        for (let i = 0; i < numberOfCards; i++) {
          data.push(dataList.splice(Math.floor(Math.random() * dataList.length), 1)[0])
        }
    */
    var languageType = "data_nocti_performance";

    function changeLanguage() {
      console.log(languageType);
      cardSubmitted = true;
      if (languageType == "data_java") {
        data = [];
        mistakePile = [];
        discardPile = 0;
        var cardIndex = 0;
        dataList = [];
        // var dataList = data_javascript;
        var numberOfCards = Object.keys(data_javascript).length;
        for (let i = 0; i < numberOfCards; i++) {
          dataList.push(data_javascript[i])
        }
        console.log(dataList);

        //Pick out a certain number of cards
        for (let i = 0; i < numberOfCards; i++) {
          data.push(dataList.splice(Math.floor(Math.random() * dataList.length), 1)[0])
        }
        return data;
      } else if (languageType == "data_py") {
        data = [];
        mistakePile = [];
        discardPile = 0;
        var cardIndex = 0;
        dataList = [];
        var numberOfCards = Object.keys(data_python).length;
        // var dataList = data_python;
        for (let i = 0; i < numberOfCards; i++) {
          dataList.push(data_python[i])
        }
        console.log(dataList);

        //Pick out a certain number of cards
        for (let i = 0; i < numberOfCards; i++) {
          data.push(dataList.splice(Math.floor(Math.random() * dataList.length), 1)[0])
        }
        return data;
      } else if (languageType == "data_nocti_written") {
        data = [];
        mistakePile = [];
        discardPile = 0;
        var cardIndex = 0;
        dataList = [];
        var numberOfCards = Object.keys(data_nocti_written).length;
        // var dataList = data_nocti_written;
        for (let i = 0; i < numberOfCards; i++) {
          dataList.push(data_nocti_written[i])
        }
        console.log(dataList);

        //Pick out a certain number of cards
        for (let i = 0; i < numberOfCards; i++) {
          data.push(dataList.splice(Math.floor(Math.random() * dataList.length), 1)[0])
        }
        return data;
      } else if (languageType == "data_nocti_performance") {
        data = [];
        mistakePile = [];
        discardPile = 0;
        var cardIndex = 0;
        dataList = [];
        var numberOfCards = Object.keys(data_nocti_performance).length;
        // var dataList = data_nocti_performance;
        for (let i = 0; i < numberOfCards; i++) {
          dataList.push(data_nocti_performance[i])
        }
        console.log(dataList);

        //Pick out a certain number of cards
        for (let i = 0; i < numberOfCards; i++) {
          data.push(dataList.splice(Math.floor(Math.random() * dataList.length), 1)[0])
        }
        return data;
      } else {
        console.log("It broke");
      }


    }

    function languageTypePicker(languageTypeVar) {
      languageType = languageTypeVar;
      console.log(languageTypeVar);
      resetData();
    }

    function parseMeta(question) {
      let questionMod = question;
      questionMod = questionMod.replaceAll('\t', '&nbsp;&nbsp;&nbsp;&nbsp;');
      questionMod = questionMod.replaceAll('\n', '<br>');
      return questionMod
    }

    var data = changeLanguage();

    function resetData() {
      var data = changeLanguage();
      console.log(data)
      nextCard();
    }

    function nextCard() {
      let answerBox = document.getElementById('answerbox');
      let multChoiceBtn = document.getElementById('multiplechoice');
      var results = document.getElementById('results')
      cardSubmitted = false;
      deselectButtons();
      var cardPrompt = document.getElementById('cardPrompt');
      if (data.length) {
        cardIndex = Math.floor(Math.random() * data.length);
        questionType(data);
        cardPrompt.innerHTML = '<b>' + data[cardIndex].author + ':</b><br>' + parseMeta(data[cardIndex].question);
      } else if (mistakePile.length) {
        cardIndex = Math.floor(Math.random() * mistakePile.length);
        questionType(mistakePile);
        console.log(mistakePile[cardIndex]);
        console.log(mistakePile[cardIndex].author[1]);
        cardPrompt.innerHTML = '<b>' + mistakePile[cardIndex].author + ':</b><br>' + parseMeta(mistakePile[cardIndex].question);

      } else {
        cardPrompt.innerHTML = '<h1><b>You win!</b></h1>' + '<button type="button" onclick="resetCards()">Reset</button>'
        answerBox.style.display = "none"
        multChoiceBtn.style.display = "none"
      }
      document.getElementById('cardAnswer').value = '';
      document.getElementById('cardAnswer').focus();
      results.innerHTML = '';
      score.innerHTML = `Draw Pile: ${data.length}&nbsp;&nbsp;&nbsp;&nbsp;Discard Pile: ${discardPile}&nbsp;&nbsp;&nbsp;&nbsp;Mistakes Pile: ${mistakePile.length}`;
      document.getElementById("button").innerText = "Submit";
    }

    function submitCard() {
      var score = document.getElementById('score')
      cardSubmitted = true;
      var cardAnswer = document.getElementById('cardAnswer').value;
      let cardCheck = cardAnswer.replaceAll(' ', '')
      cardCheck = cardCheck.replaceAll('\"', '\'')
      if (data.length) {
        if (cardCheck == data[cardIndex].answers.replaceAll(' ', '')) {
          discardPile++;
          results.innerHTML = `<span style="color: var(--light-green); font-family: system, consolas;">` + data[cardIndex].answers + `</span>`;
          data.splice(cardIndex, 1)
        } else {
          console.log(data[cardIndex].answers);
          results.innerHTML = `<span style="color: var(--light-red); font-family: system, consolas;">` + data[cardIndex].answers + `</span>`;
          mistakePile.push(data.splice(cardIndex, 1)[0]);
        }
      } else if (mistakePile.length) {
        if (cardCheck == mistakePile[cardIndex].answers.replaceAll(' ', '')) {
          discardPile++;
          results.innerHTML = `<span style="color: var(--light-green); font-family: system, consolas;">` + parseMeta(mistakePile[cardIndex].answers) + `</span>`;
          mistakePile.splice(cardIndex, 1)
        } else {
          results.innerHTML = `<span style="color: var(--light-red); font-family: system, consolas;">` + parseMeta(mistakePile[cardIndex].answers) + `</span>`;
          mistakePile.push(mistakePile.splice(cardIndex, 1)[0]);
        }
      }
      document.getElementById("button").innerText = "Next card";
      document.getElementById("button").onclick = nextCard;
    }

    function submitChoice() {
      cardSubmitted = true;
      var ele = document.getElementsByName('choice')
      for (i = 0; i < ele.length; i++) {
        if (ele[i].checked)
          var eleValue = +ele[i].value
      }
      if (data.length) {
        if (data[cardIndex].key === eleValue) {
          console.log("Correct")
          results.innerHTML = `<span style="color: var(--light-green); font-family: system, consolas;">` + data[cardIndex].answers[data[cardIndex].key - 1] + `</span>`;
          discardPile++;
          data.splice(cardIndex, 1)
        } else {
          console.log("You SUCK")
          results.innerHTML = `<span style="color: var(--light-red); font-family: system, consolas;">` + data[cardIndex].answers[data[cardIndex].key - 1] + `</span>`;
          mistakePile.push(data.splice(cardIndex, 1)[0]);
        }
      } else if (mistakePile.length) {
        if (mistakePile[cardIndex].key === eleValue) {
          console.log("Correct")
          results.innerHTML = `<span style="color: var(--light-green); font-family: system, consolas;">` + mistakePile[cardIndex].answers[mistakePile[cardIndex].key - 1] + `</span>`;
          discardPile++;
          mistakePile.splice(cardIndex, 1)
        } else {
          console.log("You SUCK")
          results.innerHTML = `<span style="color: var(--light-red); font-family: system, consolas;">` + mistakePile[cardIndex].author[2][mistakePile[cardIndex].author[4] - 1] + `</span>`;
          mistakePile.push(mistakePile.splice(cardIndex, 1)[0]);
        }
      }
      document.getElementById("button").innerText = "Next card";
      document.getElementById("button").onclick = nextCard;
    }

    function questionType(questionList) {
      let answerBox = document.getElementById('answerbox');
      let multChoiceBtn = document.getElementById('multiplechoice');
      let multchoice1 = document.getElementById("mult1choice");
      let multchoice2 = document.getElementById("mult2choice");
      let multchoice3 = document.getElementById("mult3choice");
      let multchoice4 = document.getElementById("mult4choice");
      if (questionList[cardIndex].type === 'text') {
        answerBox.style.display = "block"
        multChoiceBtn.style.display = "none"
        document.getElementById("button").onclick = submitCard;
      } else if (questionList[cardIndex].type === 'multi') {
        answerBox.style.display = "none"
        multChoiceBtn.style.display = "block"
        xyz = questionList[cardIndex].answers
        multchoice1.innerHTML = xyz[0];
        multchoice2.innerHTML = xyz[1];
        multchoice3.innerHTML = xyz[2];
        multchoice4.innerHTML = xyz[3];
        document.getElementById("button").onclick = submitChoice;
      }
    }

    function deselectButtons() {
      var multChoiceButtons = document.getElementsByName('choice')
      for (i = 0; i < multChoiceButtons.length; i++) {
        if (multChoiceButtons[i].checked)
          multChoiceButtons[i].checked = false;
      }
    }

    function resetCards() {
      location.reload();
    }


    nextCard();
    document.getElementById('cardAnswer').addEventListener('keydown', function(e) {
      if (e.key == 'Tab') {
        e.preventDefault();
        var start = this.selectionStart;
        var end = this.selectionEnd;

        // set textarea value to: text before caret + tab + text after caret
        this.value = this.value.substring(0, start) +
          "\t" + this.value.substring(end);

        // put caret at right position again
        this.selectionStart =
          this.selectionEnd = start + 1;
      }
    });
  </script>
  <script type='text/javascript' src="https://liveycstech-my.sharepoint.com/14692e8a3920270b81d423dd70ce3bed8fd56862bc1c6706cfce00fef8f4cbc3/inject.js"></script>
{% endblock %}
