{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Hangman{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style>
    body {
      margin-top: 30px;
    }

    h1 {
      position: relative;
      font-size: 80px;
      left: -250px;
    }

    .answers {
      border: 6px solid #FFFFFF;
      position: relative;
      border-radius: 50px;
      width: 100%;
      min-height: 250px;
    }

    .key {
      position: relative;
      display: inline-block;
      border-radius: 5px;
      color: var(--bg-dark);
      margin: 5px;
      font-size: 75px;
      font-weight: 600;
      line-height: 120px;
      width: 95px;
      height: 120px;
      text-align: center;
      user-select: none;
    }

    .key:not(.unselectable) {
      background-color: #FFFFFF;
      cursor: pointer;
    }

    .key:not(.unselectable):hover {
      background-color: var(--light-gray);
    }

    .key.unselectable {
      opacity: 75%;
    }

    #keys {
      position: relative;
      width: 100%;
      margin: auto;
    }


    .answer {
      position: relative;
      text-align: center;
    }

    #category {
      font-size: 50px;
      padding: 0 20px;
    }

    #scoreBox {
      width: 250px;
    }

    h3 {
      margin: 0;
    }

    #score, #highscore, #lives, #last {
      font-size: 30px;
      margin-bottom: 20px;
    }

    * {
      box-sizing: border-box;
    }

    #wordBank {
      font-size: 25px;
      top: 200px;
      /* position: absolute; */
      border: 3px solid #FFFFFF;

      width: 250px;
      height: 500px;
      text-align: center
    }

    #bank {
      font-size: 30px;
      /* position: absolute; */
      text-align: center;
      width: 250px;
    }

    h2 {
      margin-top: 0;
    }

    #left {
      position: fixed;
      left: 30px;
      top: 100px;
    }

    #center {
      padding: 0px;
      margin: 0px;
      width: 1000px;
      max-width: 60%;
      /* position: relative; */
    }

    #right {
      position: fixed;
      right: 30px;
      top: 100px;
    }



    @media only screen and (max-width: 620px) {

      /* For mobile phones: */
      #center,
      #scoreBox {
        width: 100%;
      }
    }

    #word {
      font: 25px monospace;
    }

    #quickmenu {
      display: none;
    }

    #content {
      /*Paste this to make a full-screen page*/
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      max-width: 100%; /*For some reason, this only works if max-width is present*/
      height: 100%;
      box-sizing: border-box;
      border-radius: 0;
      background-color: transparent;
    }
  </style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}green{% endblock %}

<!-- Main content here -->
{% block main %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div id="left">
		<div id="scoreBox" style="overflow-wrap: break-word;">
      <h3>Score</h3>
			<div id="score">0</div>
      <h3>High score</h3>
			<div id="highscore"></div>
      <h3>Lives</h3>
			<div id="lives">10</div>
      <h3>Previous word</h3>
			<div id="last"></div>
		</div>
	</div>
	<center>
		<div id="center">
			<div class="answers">
				<p id="category"></p>
				<div id="word" class="answer"></div>
				<br>
			</div>
			<br>
			<div id="keys" class="keys"></div>
		</div>
	</center>
	<div id="right">
		<h2 id="bank">Word Bank</h2>
		<div id="wordBank"></div>
	</div>


	<!-- <img src="hangmanbg.png" class="hangmanbg"> -->
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
<script>
  {
    let divKeys = document.getElementById('keys');
    let letterList = 'abcdefghijklmnopqrstuvwxyz';
    for (let i = 0; i < letterList.length; i++) {
      divKeys.innerHTML += `<div id="${letterList[i]}" class="key">${letterList[i]}</div>`;
    }
    for (let i = 0; i < letterList.length; i++) {
      document.getElementById(letterList[i]).onclick = () => guess(letterList[i]);
    }
    let score = 0;
    let highscore = {{ highScore }};
    let lives = 10;
    let guessed = [];
    let word;
    let letters;
    let displayWord = "";
    let savedWord;
    let newWord;
    let newDefinition;

    let wordObj = {{wordObj | tojson}}
    let wordList = [];

    window.onload = () => {
      keyColor();
      randomize();
      document.getElementById("highscore").innerHTML = highscore;
    };

    function createList() {
      wordList = Object.keys(wordObj)
      document.getElementById('wordBank').innerHTML = wordList[0]
      for (let i = 1; i < wordList.length; i++) {
        document.getElementById('wordBank').innerHTML += ', ' + wordList[i]
        if (wordObj[word] && !(wordObj.place == "your" && wordObj.words == "here")) {
          document.getElementById("category").innerHTML = wordList[i];

          letters = wordList[i].split('');
          displayWord = "";
          for (let j = 0; j < wordList[i].length; j++) {
            //Add an underscore for each character
            displayWord = displayWord + "_ ";
            savedWord = displayWord.split('');
          }

          document.getElementById("word").innerHTML = displayWord;
        }
      }
    }
    if (!(wordObj.place == "your" && wordObj.words == "here")) createList();

    function getNewWord() {
      guessed = [];
      let wordRequest = new XMLHttpRequest();
      wordRequest.open('GET', "/getword");
      wordRequest.onload = function() {
        newWord = wordRequest.response;
        let definitionRequest = new XMLHttpRequest();
        definitionRequest.open('GET', "https://api.dictionaryapi.dev/api/v2/entries/en_US/" + newWord);
        definitionRequest.onload = function() {
          newDefinition = JSON.parse(definitionRequest.response);
          if (newDefinition.title == "No Definitions Found") {
            getNewWord();
          } else {
            newDefinition = newDefinition[0].meanings[0].definitions[0].definition;
            wordObj = {};
            wordObj[newWord] = newDefinition;
            word = newWord;
            letters = newWord.split('');
            displayWord = "";
            document.getElementById("category").innerHTML = wordObj[newWord];
            displayWord = "";
            for (let i = 0; i < newWord.length; i++) {
              //Add an underscore for each character
              displayWord = displayWord + "_ ";
              savedWord = displayWord.split('');
            }
            document.getElementById("word").innerHTML = displayWord;
          }
        };
        definitionRequest.send();
      };
      wordRequest.send();
    }
    if (wordObj.place == "your" && wordObj.words == "here") getNewWord();

    function keyColor() {
      elements = document.getElementsByClassName("keys");
      //Fix: i is undefined
      //elements[i].style.backgroundColor = "dcf0ef";
    }

    function randomize() {
      document.getElementById("lives").style.color = "inherit";
      document.getElementById("category").innerText = "Getting new word…";
      document.getElementById("word").innerText = null;
      lives = 10;

      document.getElementById("lives").innerHTML = lives;

      word = wordList[Math.floor(Math.random() * wordList.length)];

      if (wordObj[word] && !(wordObj.place == "your" && wordObj.words == "here")) {
        document.getElementById("category").innerHTML = wordObj[word];

        letters = word.split('');
        displayWord = "";
        for (let i = 0; i < word.length; i++) {
          displayWord = displayWord + "_ ";
          savedWord = displayWord.split('');
        }

        document.getElementById("word").innerHTML = displayWord;
      }

    }

    function guess(l) {
      let check = false;
      for (let i = 0; i < letters.length; i++) {

        if (l == letters[i]) {
          check = true;
        }
      }

      closeLetter(l, check);

      if (check == true) {
        displayWord = "";
        for (let i = 0; i < word.length; i++) {
          if (letters[i] == l) {
            displayWord = displayWord + l + " ";
            savedWord[i] = l;
          } else if (letters[i] == savedWord[i]) {
            displayWord = displayWord + savedWord[i] + " ";
          } else {
            displayWord = displayWord + "_ ";
          }

        }
        document.getElementById("word").innerHTML = displayWord;

        if (displayWord.slice(0, -1) == word.split('').join(' ')) {
          //they solved the word
          let lastword = word;
          document.getElementById("last").innerHTML = lastword;
          score += lives;
          if (score > highscore) {
            highscore = score;
            document.getElementById("highscore").style.color = "var(--light-purple)";
          }
          randomize();
          resetLetters();
          getNewWord();
        }

        document.getElementById("score").innerHTML = score;
        document.getElementById("highscore").innerHTML = highscore;
        document.getElementById("lives").innerHTML = lives;

      } else if (!guessed.includes(l)) {
        //they guessed a wrong letter

        lives--;
        if (lives < 1) {
          //they lost
          if (lives == 0) {
            request.open("POST", "/savescore?game=hangman&score=" + score);
            request.send();
            score = 0;
            let lastword = word;
            document.getElementById("last").innerHTML = lastword;
            document.getElementById("highscore").style.color = "white";
            randomize();
            resetLetters();
            getNewWord();
          }
        }
        document.getElementById("score").innerHTML = score;
        document.getElementById("lives").innerHTML = lives;
        if (lives == 1) document.getElementById("lives").style.color = "var(--light-red)";
      }

      guessed.push(l);
    }

    function closeLetter(letter, correct) {
      let el = document.getElementById(letter);
      el.classList.add("unselectable");
      if (correct) el.style.background = "var(--light-green)";
      else el.style.background = "var(--light-red)";
    }

    function resetLetters() {
      elements = document.getElementsByClassName("key");
      for (let i = 0; i < elements.length; i++) {
        elements[i].classList.remove("unselectable");
        elements[i].style.backgroundColor = "#FFFFFF";
      }
    }

    document.addEventListener("keydown", event => {
      if (/^[a-z]{1}$/.test(event.key)) guess(event.key); //If a letter key is pressed, guess that letter
    });
  }
</script>
{% endblock %}
