<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Defines color variables, e.g. var(--color-red) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    {% block style %}{% endblock %}
</head>

<body>
    <div id="quickmenu">
        <a href="/" id="homebutton">Home</a>
    </div>
    <div id="content">
        {% block main %}{% endblock %}
    </div>
</body>

{% block script %}{% endblock %}
</html>