<!--
███    ███ ██ ███    ██ ███████ ███████ ██     ██ ███████ ███████ ██████  ███████ ██████
████  ████ ██ ████   ██ ██      ██      ██     ██ ██      ██      ██   ██ ██      ██   ██
██ ████ ██ ██ ██ ██  ██ █████   ███████ ██  █  ██ █████   █████   ██████  █████   ██████
██  ██  ██ ██ ██  ██ ██ ██           ██ ██ ███ ██ ██      ██      ██      ██      ██   ██
██      ██ ██ ██   ████ ███████ ███████  ███ ███  ███████ ███████ ██      ███████ ██   ██
-->
<!-- Original code: -->
<!-- https://slicker.me/javascript/mine/minesweeper.htm -->

{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Minesweeper{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style>
    body {
      font-size: 32px;
    }

    #status {
      position: fixed;
      left: calc(50% - 300px);
      top: 32px;
    }

    #timer {
      position: fixed;
      right: calc(50% - 300px);
      top: 32px;
    }

    #best {
      position: fixed;
      right: calc(50% - 300px);
      top: 75px;
      font-size: 24px;
    }

    #button {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      top: 124px;
      font-size: 24px;
    }

    #minebox {
      position: fixed;
      left: calc(50% - 300px);
      top: 20%;
      user-select: none;
    }
  </style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}green{% endblock %}

<!-- Main content here -->
{% block main %}
  <label id='status'></label><br>
  <div id="timer" class="hidden">0:00</div>
  <div id="best" class="hidden">0:00</div>
  <button id="button" class="hidden">Restart</button>
  <br>
  <div id="minebox"></div>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
  <script>
      {
          const rows = {{ rows }};
          const columns = {{ cols }};
          const dense = {{ dense }};
          let mines, remaining, revealed;
          let status = document.getElementById('status');
          let button = document.getElementById('button');
          let minebox = document.getElementById('minebox');
          minebox.setAttribute("oncontextmenu", "return false;")
          button.addEventListener('click', init)
          let bestSeconds = {{ bestTime }};
          let startingSeconds;
          let seconds;
          let time;
          let timer;

          let board = new Array(rows);
          let picture = new Array(rows);
          let tile = new Array(rows);
          for (let i = 0; i < board.length; i++) {
              board[i] = new Array(columns);
              picture[i] = new Array(columns);
              tile[i] = new Array(columns)
          }

          init();

          function check(row, column) {
              if (column >= 0 && row >= 0 && column < columns && row < rows)
                  return board[row][column];
          }

          function init() {
              mines = (rows*columns)/dense;
              remaining = mines;
              revealed = 0;
              clearInterval(timer);
              document.getElementById("timer").classList.add("hidden");
              document.getElementById("timer").innerText = "0:00";
              document.getElementById("best").classList.add("hidden");
              startingSeconds = undefined;
              status.innerHTML = 'Click on the tiles to reveal them';
              document.body.style.background = null;
              button.classList.add('hidden');
              for (let row = 0; row < rows; row++)
                  for (let column = 0; column < columns; column++) {
                      let index = row * columns + column;
                      tile[row][column] = document.createElement('img');
                      tile[row][column].src = '../static/img/mnsw/hidden.png';
                      tile[row][column].style = 'position:absolute;height:30px;width:30px;top:'+(row*30)+'px;left:'+(column*30)+'px;';
                      tile[row][column].draggable = false;
                      // tile[row][column].style.top = 150 + row * 30;
                      // tile[row][column].style.left = 50 + column * 30;
                      tile[row][column].addEventListener('mousedown', click);
                      tile[row][column].id = index;
                      minebox.appendChild(tile[row][column]);
                      picture[row][column] = 'hidden';
                      board[row][column] = '';
                  }

              let placed = 0;
              while (placed < mines) {
                  let column = Math.floor(Math.random() * columns);
                  let row = Math.floor(Math.random() * rows);

                  if (board[row][column] != 'mine') {
                      board[row][column] = 'mine';
                      placed++;
                  }
              }

              for (let column = 0; column < columns; column++)
                  for (let row = 0; row < rows; row++) {
                      if (check(row, column) != 'mine') {
                          board[row][column] =
                              ((check(row + 1, column) == 'mine') | 0) +
                              ((check(row + 1, column - 1) == 'mine') | 0) +
                              ((check(row + 1, column + 1) == 'mine') | 0) +
                              ((check(row - 1, column) == 'mine') | 0) +
                              ((check(row - 1, column - 1) == 'mine') | 0) +
                              ((check(row - 1, column + 1) == 'mine') | 0) +
                              ((check(row, column - 1) == 'mine') | 0) +
                              ((check(row, column + 1) == 'mine') | 0);
                      }
                  }
          }

          function click(event) {
              let source = event.target;
              let id = source.id;
              let row = Math.floor(id / columns);
              let column = id % columns;

              button.classList.remove('hidden');

              if (!startingSeconds) {
                startingSeconds = Date.now();
                document.getElementById("timer").classList.remove("hidden");
                let best = bestSeconds ? `${Math.floor(bestSeconds / 60)}:${bestSeconds % 60 < 10 ? "0" + bestSeconds % 60 : bestSeconds % 60}` : "none";
                document.getElementById("best").innerText = "Best: " + best;
                document.getElementById("best").classList.remove("hidden");
                timer = setInterval(() => {
                  seconds = Math.floor((Date.now() - startingSeconds) / 1000);
                  time = `${Math.floor(seconds / 60)}:${seconds % 60 < 10 ? "0" + seconds % 60 : seconds % 60}`; //Show minutes and seconds since the game started
                  document.getElementById("timer").innerText = time;
                }, 1000);
              }

              if (event.which == 3) {
                  switch (picture[row][column]) {
                      case 'hidden':
                          tile[row][column].src = '../static/img/mnsw/flag.png';
                          remaining--;
                          picture[row][column] = 'flag';
                          break;
                      case 'flag':
                          tile[row][column].src = '../static/img/mnsw/question.png';
                          remaining++;
                          picture[row][column] = 'question';
                          break;
                      case 'question':
                          tile[row][column].src = '../static/img/mnsw/hidden.png';
                          picture[row][column] = 'hidden';
                          break;
                  }
                  event.preventDefault();
              }
              status.innerHTML = 'Mines remaining: ' + remaining;

              if (event.which == 1 && picture[row][column] != 'flag') {
                  if (board[row][column] == 'mine') {
                      for (let row = 0; row < rows; row++)
                          for (let column = 0; column < columns; column++) {
                              if (board[row][column] == 'mine') {
                                  tile[row][column].src = '../static/img/mnsw/mine.png';
                              }
                              if (board[row][column] != 'mine' && picture[row][column] == 'flag') {
                                  tile[row][column].src = '../static/img/mnsw/misplaced.png';
                              }
                          }
                      clearInterval(timer);
                      status.innerHTML = 'GAME OVER';
                      document.body.style.background = "var(--bg-dark-red)";
                      for (let row = 0; row < rows; row++)
                          for (let column = 0; column < columns; column++)
                            tile[row][column].removeEventListener('mousedown', click);
                  } else
                  if (picture[row][column] == 'hidden') reveal(row, column);
              }
              if (revealed == rows * columns - mines) {
                  clearInterval(timer);
                  status.innerHTML = 'YOU WIN!';
                  document.body.style.background = "var(--bg-dark-blue)";
                  if (columns == 20 && rows == 20 && dense == 10) {
                    if (seconds < bestSeconds || !bestSeconds) document.getElementById("best").innerText = "Best: " + time;
                    request.open("POST", "/savescore?game=minesweeper&score=" + seconds);
                    request.send();
                  }
              }
          }

          function reveal(row, column) {
              tile[row][column].src = '../static/img/mnsw/' + board[row][column] + '.png';
              if (board[row][column] != 'mine' && picture[row][column] == 'hidden')
                  revealed++;
              picture[row][column] = board[row][column];

              if (board[row][column] == 0) {
                  if (column > 0 && picture[row][column - 1] == 'hidden') reveal(row, column - 1);
                  if (column < (columns - 1) && picture[row][+column + 1] == 'hidden') reveal(row, +column + 1);
                  if (row < (rows - 1) && picture[+row + 1][column] == 'hidden') reveal(+row + 1, column);
                  if (row > 0 && picture[row - 1][column] == 'hidden') reveal(row - 1, column);
                  if (column > 0 && row > 0 && picture[row - 1][column - 1] == 'hidden') reveal(row - 1, column - 1);
                  if (column > 0 && row < (rows - 1) && picture[+row + 1][column - 1] == 'hidden') reveal(+row + 1, column - 1);
                  if (column < (columns - 1) && row < (rows - 1) && picture[+row + 1][+column + 1] == 'hidden') reveal(+row + 1, +column + 1);
                  if (column < (columns - 1) && row > 0 && picture[row - 1][+column + 1] == 'hidden') reveal(row - 1, +column + 1);
              }
          }
      }
  </script>
{% endblock %}
