<!-- Original Site -->
<!-- https://www.geeksforgeeks.org/design-a-typing-speed-test-game-using-javascript/ -->

{% extends 'header_fullscreen.html' %}
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<!-- Change title here -->
{% block title %}Simple Speed Typer{% endblock %}

<!-- Extra style declarations here -->
{% block style %}
  <style media="screen">
    body {
      text-align: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .heading {
      margin-bottom: 20px;
      font-size: 3rem;
    }

    .header {
      display: flex;
      align-items: center;
    }

    .timer,
    .errors,
    .accuracy,
    .cpm,
    .wpm {
      background-color: var(--dark-gray);
      height: 60px;
      width: 135px;
      min-width: 60px;
      margin: 8px;
      padding: 12px;
    }

    .cpm,
    .wpm {
      display: none;
    }

    .curr_time,
    .curr_errors,
    .curr_accuracy,
    .curr_cpm,
    .curr_wpm {
      font-size: 1.875rem;
    }

    .quote {
      font-size: 1.5rem;
      margin: 10px;
      padding: 25px;
      background: var(--bg-darker);
      border: 1px solid var(--light-yellow);
    }

    .input_area {
      height: 80px;
      width: fit-content;
      min-width: 40%;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 15px;
      padding: 23px;
    }

    button.restart_btn {
      display: none;
      font-size: 1.5rem;
      padding: 6px 18px;
    }

    .incorrect_char {
      color: var(--light-red);
      text-decoration: underline;
    }

    .correct_char {
      color: var(--light-green);
    }
  </style>
{% endblock %}

<!-- Change theme color here -->
{% block color %}green{% endblock %}

<!-- Main content here -->
{% block main %}
  <div class="container">
    <h1 class="heading">
      Simple Speed Typing
    </h1>
    <div class="header">
      <div class="wpm">
        <div class="header_text">Words/minute</div>
        <div class="curr_wpm">100</div>
      </div>
      <div class="cpm">
        <div class="header_text">Characters/minute</div>
        <div class="curr_cpm">100</div>
      </div>
      <div class="errors">
        <div class="header_text">Errors</div>
        <div class="curr_errors">0</div>
      </div>
      <div class="timer">
        <div class="header_text">Time</div>
        <div class="curr_time">60s</div>
      </div>
      <div class="accuracy">
        <div class="header_text">Accuracy</div>
        <div class="curr_accuracy">100%</div>
      </div>
    </div>

    <div class="quote">
      Click on the area below to start the game.
    </div>
    <textarea class="input_area" placeholder="start typing here...">
  </textarea>
    <button class="restart_btn">
      Restart
    </button>
  </div>
{% endblock %}

<!-- Extra JavaScript here -->
{% block script %}
  <script>
    {
      // define the time limit
      let TIME_LIMIT = 60;

      // define quotes to be used
      let quotes_array = [
        "Push yourself, because no one else is going to do it for you.",
        "Failure is the condiment that gives success its flavor.",
        "Wake up with determination. Go to bed with satisfaction.",
        "It's going to be hard, but hard does not mean impossible.",
        "Learning never exhausts the mind.",
        "The only way to do great work is to love what you do."
      ];

      // selecting required elements
      let timer_text = document.querySelector(".curr_time");
      let accuracy_text = document.querySelector(".curr_accuracy");
      let error_text = document.querySelector(".curr_errors");
      let cpm_text = document.querySelector(".curr_cpm");
      let wpm_text = document.querySelector(".curr_wpm");
      let quote_text = document.querySelector(".quote");
      let input_area = document.querySelector(".input_area");
      let restart_btn = document.querySelector(".restart_btn");
      let timer_group = document.querySelector(".timer");
      let cpm_group = document.querySelector(".cpm");
      let wpm_group = document.querySelector(".wpm");
      let error_group = document.querySelector(".errors");
      let accuracy_group = document.querySelector(".accuracy");

      let activeGame = false;
      let timeLeft = TIME_LIMIT;
      let timeElapsed = 0;
      let total_errors = 0;
      let errors = 0;
      let accuracy = 0;
      let accuracyVal = 0;
      let characterTyped = 0;
      let current_quote = "";
      let quoteNo = 0;
      let timer = null;

      input_area.oninput = processCurrentText;
      input_area.onfocus = () => {if (!activeGame) startGame()};
      input_area.onclick = function() {this.selectionStart = this.value.length};
      input_area.onselect = function() {this.selectionStart = this.value.length};
      input_area.onkeydown = () => isValid(event);
      input_area.onpaste = () => false;
      input_area.ondrop = () => false;
      restart_btn.onclick = resetValues;

      function updateQuote() {
        quote_text.textContent = null;
        current_quote = quotes_array[quoteNo];

        // separate each character and make an element
        // out of each of them to individually style them
        current_quote.split('').forEach(char => {
          const charSpan = document.createElement('span')
          charSpan.innerText = char
          quote_text.appendChild(charSpan)
        })

        // roll over to the first quote
        if (quoteNo < quotes_array.length - 1)
          quoteNo++;
        else
          quoteNo = 0;
      }

      function isValid() {
        if (event.key.length == 1) return true;
        else return false;
      }

      function processCurrentText() {
        // scroll to bottom
        input_area.scrollTop = input_area.scrollHeight;

        // get current input text and split it
        let curr_input = input_area.value;
        let curr_input_array = curr_input.split('');

        // increment total characters typed
        characterTyped++;

        errors = 0;

        quoteSpanArray = quote_text.querySelectorAll('span');
        quoteSpanArray.forEach((char, index) => {
          let typedChar = curr_input_array[index]

          // character not currently typed
          if (typedChar == null) {
            char.classList.remove('correct_char');
            char.classList.remove('incorrect_char');

            // correct character
          } else if (typedChar === char.innerText) {
            char.classList.add('correct_char');
            char.classList.remove('incorrect_char');

            // incorrect character
          } else {
            char.classList.add('incorrect_char');
            char.classList.remove('correct_char');

            // increment number of errors
            errors++;
          }
        });

        // display the number of errors
        error_text.textContent = total_errors + errors;

        // update accuracy text
        let correctCharacters = (characterTyped - (total_errors + errors));
        accuracyVal = ((correctCharacters / characterTyped) * 100);
        accuracy_text.textContent = Math.round(accuracyVal) + "%";

        // if current text is completely typed
        // irrespective of errors
        if (curr_input.length == current_quote.length) {
          updateQuote();

          // update total errors
          total_errors += errors;

          // clear the input area
          input_area.value = "";
        }
      }

      function startGame() {

        resetValues();
        updateQuote();

        activeGame = true;

        // clear old and start a new timer
        clearInterval(timer);
        timer = setInterval(updateTimer, 1000);
        timer_group.style.display = "block";
      }

      function resetValues() {
        timeLeft = TIME_LIMIT;
        timeElapsed = 0;
        errors = 0;
        total_errors = 0;
        accuracy = 0;
        accuracyVal = 0;
        characterTyped = 0;
        quoteNo = 0;
        input_area.disabled = false;
        input_area.classList.remove("unselectable");

        input_area.value = "";
        quote_text.textContent = 'Click on the area below to start the game.';
        accuracy_text.textContent = "100%";
        timer_text.textContent = timeLeft + 's';
        error_text.textContent = 0;
        cpm_group.style.display = "none";
        wpm_group.style.display = "none";
        // display restart button
        restart_btn.style.display = "block";
        // stop the timer
        clearInterval(timer);
        activeGame = false;
      }

      function updateTimer() {
        if (timeLeft > 0) {
          // decrease the current time left
          timeLeft--;

          // increase the time elapsed
          timeElapsed++;

          // update the timer text
          timer_text.textContent = timeLeft + "s";
        } else {
          // finish the game
          finishGame();
        }
      }

      function finishGame() {
        // stop the timer
        clearInterval(timer);

        // disable the input area
        input_area.disabled = true;
        input_area.classList.add("unselectable");

        // calculate cpm and wpm
        cpm = Math.round(((characterTyped / timeElapsed) * 60));
        wpm = Math.round((((characterTyped / 5) / timeElapsed) * 60));

        // calculate total score
        score = Math.round(cpm * accuracyVal ** 1.5);

        // update cpm and wpm text
        cpm_text.textContent = cpm;
        wpm_text.textContent = wpm;

        // display the cpm and wpm
        cpm_group.style.display = "block";
        wpm_group.style.display = "block";
        // hide the timer
        timer_group.style.display = "none";

        // show final score
        quote_text.innerHTML = `
          Final score: ${score}<br>
          <span style="font-size: 80%;">Best: ${Math.max({{ highScore }}, score)}</span>
        `;

        activeGame = false;

        request.open("POST", "/savescore?game=speedtype&score=" + score);
        request.send();
      }
    }
  </script>
{% endblock %}
