<%- include('../partials/header_content') %>
  <%- include('../partials/sockets') %>

  <body id='colorContent'>
    <%- include('../partials/formbar_header') %>
    <div id='content' class='contentBox'>
        <h3>Change Password</h3>
        <form action='changepassword' method='post' style='margin-bottom:16px'>
          <input type='hidden' id='sent' name='sent' value='<%=sent%>'>
          <input type='email' id='emailBox' name='email' class='loginBox' placeholder='Email' value='' autocomplete='off'>
          <input type='password' id='newPasswordBox' name='newPassword' class='loginBox' placeholder='New Password' value='' pattern='[a-z0-9A-Z!@#$%^&]+'>
          <input type='password' id='confirmPasswordBox' name='confirmPassword' class='loginBox' placeholder='Confirm Password' value='' pattern='[a-z0-9A-Z!@#$%^&]+'>
          <p style='font-size:small;font-weight:bold' id='passwordInfo'>*passwords may not contain *,(, or )</p>
          <input type='submit' id='submitButton' class='button unselectable quickButton' value='Submit Request'>
        </form>
        <script>
          let emailBox = document.getElementById('emailBox');
          let newPassword = document.getElementById('newPasswordBox');
          let confirmPassword = document.getElementById('confirmPasswordBox');
          let submitButton = document.getElementById('submitButton');
          let sent = document.getElementById('sent').value;

          if (sent === 'false') {
            newPassword.style.display = 'none';
            confirmPassword.style.display = 'none';
            emailBox.required = true;
          } else {
            emailBox.style.display = 'none';
            emailBox.required = false;
            emailBox.required = false;
          };

          function checkIfBlank() {
            if ((newPassword.value && confirmPassword.value) || emailBox.value) {
              submitButton.classList.remove('unselectable');
            } else {
              submitButton.classList.add('unselectable');
            };
          };
          emailBox.oninput = checkIfBlank;
          newPassword.oninput = checkIfBlank;
          confirmPassword.oninput = checkIfBlank;
          
          checkIfBlank();
        </script>
    </div>
  </body>