<%- include('../partials/header_content') %>
  <%- include('../partials/sockets') %>

  <body id="colorContent">
    <%- include('../partials/formbar_header') %>
    <div id="content" class="contentBox">
        <h3>Change Password</h3>
        <form action="changepassword" method="post" style="margin-bottom:16px">
            <input type="text" id="usernameBox" name="username" class="loginBox" placeholder="Username" value="" autocomplete="off" pattern="[a-z0-9]+" required>
            <input type="password" id="newPasswordBox" name="newPassword" class="loginBox" placeholder="New Password" value="" pattern="[a-z0-9A-Z!@#$%^&]+">
            <input type="password" id="confirmPasswordBox" name="confirmPassword" class="loginBox" placeholder="Confirm Password" value="" pattern="[a-z0-9A-Z!@#$%^&]+">
            <p style="font-size:small;font-weight:bold" id="passwordInfo">*passwords may not contain *,(, or )</p>
            <input type="submit" id="submitButton" class="button unselectable quickButton" value="Submit Request">
        </form>
        <script>
            var newPassword = document.getElementById("newPasswordBox");
            var confirmPassword = document.getElementById("confirmPasswordBox");

            var usernameBox = document.getElementById("usernameBox");
            var submitButton = document.getElementById("submitButton");

            function checkIfBlank() {
              if (newPassword.value && confirmPassword.value && usernameBox.value) {
                submitButton.classList.remove("unselectable");
              } else {
                submitButton.classList.add("unselectable");
              };
            };

            usernameBox.oninput = checkIfBlank;
            newPassword.oninput = checkIfBlank;
            confirmPassword.oninput = checkIfBlank;

            checkIfBlank();

        </script>
    </div>
  </body>