<%- include('../partials/header_content') %>
<%- include('../partials/sockets') %>

<body id='colorContent' style="display: flex;">
	<%- include('../partials/formbar_header') %>
        <a href="/" class='backButton quickButton tab revampButton' style="margin-top: 80px;margin-left: 20px;"><img src="/img/chevron-back-outline.svg"><p>Back</p></a>
		<div id='content' class='contentBox' style="margin: auto;width: 100%;">
			<h3>Change Password</h3>
			<form action='changepassword' method='post' style='margin-bottom:16px'>
				<input type='hidden' id='sent' name='sent' value='<%=sent%>'>
				<input type='email' id='emailBox' name='email' class='loginBox revampButton revampWithText' placeholder='Email' value='' autocomplete='off'>
				<input type='password' id='newPasswordBox' name='newPassword' class='loginBox revampButton revampWithText' placeholder='New Password' 
				value='' pattern='[a-zA-Z0-9!@#$%^&*()\-_+=\{\}\[\]<>,.:;'\' ~?/\|\\]+'
				title='Password must be 5-20 characters and contain only letters, numbers, and certain special characters'
				minlength='5' maxlength='20' required>
				<input type='password' id='confirmPasswordBox' name='confirmPassword' class='loginBox revampButton revampWithText' placeholder='Confirm Password'
				value='' pattern='[a-zA-Z0-9!@#$%^&*()\-_+=\{\}\[\]<>,.:;'\' ~?/\|\\]+'
				title='Password must be 5-20 characters and contain only letters, numbers, and certain special characters'
				minlength='5' maxlength='20' required>
				<input type='submit' id='submitButton' class='button unselectable quickButton revampButton' value='Submit Request' style="margin: auto;margin-top: 10px;">
			</form>
			<script>
				const emailBox = document.getElementById('emailBox');
				const newPassword = document.getElementById('newPasswordBox');
				const confirmPassword = document.getElementById('confirmPasswordBox');
				const submitButton = document.getElementById('submitButton');
				const sent = document.getElementById('sent').value;

				if (sent === 'false') {
					newPassword.style.display = 'none';
					newPassword.required = false;
					confirmPassword.style.display = 'none';
					confirmPassword.required = false;
					emailBox.required = true;
				} else {
					emailBox.style.display = 'none';
					emailBox.required = false;
					emailBox.disabled = true;
				};

				function checkIfBlank() {
					if ((newPassword.value && confirmPassword.value) || emailBox.value) {
						submitButton.classList.remove('unselectable');
					} else {
						submitButton.classList.add('unselectable');
					};
				};
				emailBox.oninput = checkIfBlank;
				newPassword.oninput = checkIfBlank;
				confirmPassword.oninput = checkIfBlank;
				
				checkIfBlank();
			</script>
	</div>
</body>