<%- include('../partials/header_content') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body onload="load(<%-pollStatus%>)">
        <header>
            <button id="permissions" onclick="toPermissions()">Permissions</button>
            <button id="polls" onclick="toPolls()">Polls</button>
            <button id="help" onclick="toHelp()">Help Tickets</button>
            <button id="lesson" onclick="toLesson()">Make A Lesson</button>
        </header>

        <div id="permChanges">
            <div id="permChangeKey">

            </div>
            <div id="permFilterBoxes">
                <form>
                    <input type="checkbox" id="helpFilter" onclick="filterPerm()">
                    <label for="helpFilter">Filter by Help</label>
                    <input type="checkbox" id="permSort" onclick="sortPerm()">
                    <label for="permSort" id="permSortLabel">Sort by Permissions 🡅</label>
                </form>
            </div>
            <div id="permChangeList">

            </div>

        </div>
        <div id="pollChanges">
            <h2>Start/End Poll</h2>
            <form id="startPollForm" action="#">
                <label for="resNumber">How many possible responses?</label>
                <input type="number" id="resNumber">
                <label for="resTextBox">Would like to accept text responses?</label>
                <input type="checkbox" id="resTextBox">
                <label for="pollBox">Prompt for the poll?</label>
                <input type="text" id="pollBox">
                <br>
                <input type="button" id="changeNames" value="Change Names" onclick="namePollFunc()">
                <label for="changeNames">Change The Names of The Answers?</label>
                <input type="button" value="Start Poll" onclick="startPollFunc()">
                <br>
            </form>
            <form id="pollAnsForm">
            </form>
            <button id="endPoll" onclick="endPollFunc()" hidden>End Poll</button>
            <br>
            <div id="filterBoxes">
                <form>
                    <input type="checkbox" id="pollFilter" onclick="filterResponses()">
                    <label for="pollFilter">Filter by Poll</label>
                    <input type="checkbox" id="lettFilter" onclick="filterResponses()">
                    <label for="lettFilter">Filter by Letter Response</label>
                    <input type="checkbox" id="textFilter" onclick="filterResponses()">
                    <label for="textFilter">Filter by Text Response</label>
                </form>
            </div>
            <div id="responses">

            </div>
        </div>
        <div id="helpTickets">

        </div>
        <div id="lessonMaker">
            <form>
                <textarea id="learningObj" cols="60" rows="30" placeholder="Lesson Content"></textarea>
                <button type="button" onclick="makeLesson()">Make Lesson</button>
            </form>

        </div>
    </body>

    </html>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var permChanges = document.getElementById('permChanges')
        var permChangeKey = document.getElementById('permChangeKey')
        var permChangeList = document.getElementById('permChangeList')
        var pollChanges = document.getElementById('pollChanges')
        var responses = document.getElementById('responses')
        var startPoll = document.getElementById('startPoll')
        var resNumber = document.getElementById('resNumber')
        var resTextBox = document.getElementById('resTextBox')
        var endPoll = document.getElementById('endPoll')
        var startPollForm = document.getElementById('startPollForm')
        var pollPrompt = document.getElementById('pollBox')
        var filterBoxes = document.getElementById('filterBoxes')
        var permFilterBoxes = document.getElementById('permFilterBoxes')
        var helpTickets = document.getElementById('helpTickets')
        var pollFilter = document.getElementById('pollFilter')
        var lettFilter = document.getElementById('lettFilter')
        var textFilter = document.getElementById('textFilter')
        var permSort = document.getElementById('permSort')
        var permSortLabel = document.getElementById('permSortLabel')
        var helpFilter = document.getElementById('helpFilter')
        var pollAnsForm = document.getElementById('pollAnsForm')
        var lessonMaker = document.getElementById('lessonMaker')

        function deleteUser(e) {
            socket.emit('deleteUser', e.dataset.userid);
            socket.emit('cpupdate')
        }

        // Function runs on page load
        // Checks if poll is active or not and displays correct output
        function load(pollStatus) {
            pollChanges.style.display = 'none'
            permChanges.style.display = 'block'
            helpTickets.style.display = 'none'
            lessonMaker.style.display = 'none'

            if (pollStatus) {
                startPollForm.style.display = 'none'
                endPoll.style.display = 'block'
                responses.style.display = 'block'
                filterBoxes.style.display = 'block'
                lessonMaker.style.display = 'none'
            } else {
                startPollForm.style.display = 'block'
                endPoll.style.display = 'none'
                responses.style.display = 'none'
                filterBoxes.style.display = 'none'
                lessonMaker.style.display = 'none'
            }
        }
        // Changes to the create a poll section of the page
        function toPolls() {
            pollChanges.style.display = 'block'
            permChanges.style.display = 'none'
            helpTickets.style.display = 'none'
            lessonMaker.style.display = 'none'
        }
        // Changes to the permission change section of the page
        function toPermissions() {
            pollChanges.style.display = 'none'
            permChanges.style.display = 'block'
            helpTickets.style.display = 'none'
            lessonMaker.style.display = 'none'
        }

        function toHelp() {
            pollChanges.style.display = 'none'
            permChanges.style.display = 'none'
            helpTickets.style.display = 'block'
            lessonMaker.style.display = 'none'
        }

        function toLesson() {
            pollChanges.style.display = 'none'
            permChanges.style.display = 'none'
            helpTickets.style.display = 'none'
            lessonMaker.style.display = 'block'
        }
        // Starts a new poll that allows students to submit answers
        // Check how many possible responses and if the teacher wants to accept text responses
        function startPollFunc() {
            var pollAnsNames = document.getElementsByName('pollAnsName')
            var pollAnsValues = []
            for (let i = 0; i < pollAnsNames.length; i++) {
                pollAnsValues.push(pollAnsNames[i].value)
            }
            pollAnsForm.style.display = 'none'
            startPollForm.style.display = 'none'
            endPoll.style.display = 'block'
            permChanges.style.display = 'none'
            responses.style.display = 'block'
            filterBoxes.style.display = 'block'
            socket.emit('startPoll', resNumber.value, resTextBox.checked, pollPrompt.value, pollAnsValues);
            socket.emit('reload'); // Reloads the users page
        }



        function namePollFunc() {
            pollAnsForm.style.display = 'block'
            pollAnsForm.innerHTML = ''
            for (let i = 0; i < resNumber.value; i++) {
                pollAnsForm.innerHTML += `<input type="text" name="pollAnsName" id="pollNames" placeholder="answer${i + 1}">`

            }



        }
        // Ends the poll and reloads the users page to stop any more submission
        function endPollFunc() {
            socket.emit('endPoll');
            socket.emit('reload');
            startPollForm.style.display = 'block'
            endPoll.style.display = 'none'
            responses.style.display = 'none'
            filterBoxes.style.display = 'none'
        }

        function buildStudent(room, student) {
            var newStudent = '';
            newStudent += `<p>${student}</p>`
            newStudent += `<select name="permSwitch" id="permSwitch" data-userid="${student}" onchange="updatePerms(this);"> `
            if (room.students[student].permissions == 0) {
                newStudent += `
                        <option value="0" selected>Teacher</option>
                        <option value="1">Bot</option>
                        <option value="2">Student</option>
                        <option value="3">Guest</option>
                    `
            } else if (room.students[student].permissions == 1) {
                newStudent += `
                        <option value="0">Teacher</option>
                        <option value="1" selected>Bot</option>
                        <option value="2">Student</option>
                        <option value="3">Guest</option>
                    `
            } else if (room.students[student].permissions == 2) {
                newStudent += `
                        <option value="0" selected>Teacher</option>
                        <option value="1">Bot</option>
                        <option value="2" selected>Student</option>
                        <option value="3">Guest</option>
                    `
            } else if (room.students[student].permissions == 3) {
                newStudent += `
                        <option value="0" selected>Teacher</option>
                        <option value="1">Bot</option>
                        <option value="2">Student</option>
                        <option value="3" selected>Guest</option>
                    `
            }
            newStudent += `</select>
                <button id="deleteUser" data-userid="${student}" onclick="deleteUser(this)">Delete User</button>`
            return newStudent
        }

        function sortPerm() {
            permChangeList.innerHTML = ''
            var newStudent = '';
            if (permSort.checked) {
                permSortLabel.innerHTML = 'Sort by Permissions 🡇'
                let newRoom = allRoom
                newRoom.students = Object.fromEntries(Object.entries(newRoom.students).sort((a, b) => b[1].permissions - a[1].permissions));
                for (const student of Object.keys(newRoom.students)) {
                    newStudent += buildStudent(newRoom, student)
                }
            } else {
                permSortLabel.innerHTML = 'Sort by Permissions 🡅'
                let newRoom = allRoom
                newRoom.students = Object.fromEntries(Object.entries(allRoom.students).sort((a, b) => a[1].permissions - b[1].permissions));
                for (const student of Object.keys(newRoom.students)) {
                    newStudent += buildStudent(newRoom, student)
                }
            }
            permChangeList.innerHTML += newStudent
        }

        function filterPerm() {
            if (helpFilter.checked) {
                permChangeList.innerHTML = ''
                var newStudent = '';
                if (helpFilter.checked) {
                    for (const student of Object.keys(allRoom.students)) {
                        if (allRoom.students[student].help) {
                            newStudent += buildStudent(allRoom, student)
                        }
                    }
                }

                permChangeList.innerHTML += newStudent
            } else {
                permChangeFunc(allRoom)
            }
        }

        function filterResponses() {
            if (pollFilter.checked || lettFilter.checked || textFilter.checked) {
                responses.innerHTML = ''
                responses.innerHTML += '<h2>Responses</h2>'
                var newResponse = '';
                for (const student of Object.keys(allRoom.students)) {

                    let lettRes;
                    let textRes;
                    if (allRoom.students[student].pollRes) {
                        lettRes = allRoom.students[student].pollRes.toUpperCase()
                    } else {
                        lettRes = "No Response"
                    }
                    if (allRoom.students[student].pollTextRes) {
                        textRes = allRoom.students[student].pollTextRes
                    } else {
                        textRes = "No Response"
                    }
                    if (pollFilter.checked) {
                        if (lettRes != "No Response" || textRes != "No Response") {
                            newResponse += `<h3>${student}</h3>
                        <p><b>Letter Response:</b> ${lettRes} &emsp; <b>Text Response:</b> ${textRes}</p>`
                        }
                    } else if (lettFilter.checked) {
                        if (lettRes != "No Response") {
                            newResponse += `<h3>${student}</h3>
                        <p><b>Letter Response:</b> ${lettRes} &emsp; <b>Text Response:</b> ${textRes}</p>`
                        }
                    } else if (textFilter.checked) {
                        if (textRes != "No Response") {
                            newResponse += `<h3>${student}</h3>
                        <p><b>Letter Response:</b> ${lettRes} &emsp; <b>Text Response:</b> ${textRes}</p>`
                        }
                    }
                }
                responses.innerHTML += newResponse
            } else {
                responsesFunc(allRoom)
            }
        }
        // Used to change permission of user in there class
        // Sends user data and desired permission level of the user
        function updatePerms(e) {
            socket.emit('permChange', e.dataset.userid, e.value);
            socket.emit('cpupdate')
        }

        function permChangeFunc(room) {
            if (helpFilter.checked) {
                filterPerm()
            } else {
                permChangeKey.innerHTML = ''
                permChangeList.innerHTML = ''
                permChangeKey.innerHTML += `<h2 style="text-align:left;">Your class code is ${room.key}</h2>`
                var newStudent = '';
                for (const student of Object.keys(room.students)) {
                    newStudent += `<p>${student}</p>`
                    newStudent += `<select name="permSwitch" id="permSwitch" data-userid="${student}" onchange="updatePerms(this);"> `
                    if (room.students[student].permissions == 0) {
                        newStudent += `
                        <option value="0" selected>Teacher</option>
                        <option value="1">Bot</option>
                        <option value="2">Student</option>
                        <option value="3">Guest</option>
                    `
                    } else if (room.students[student].permissions == 1) {
                        newStudent += `
                        <option value="0">Teacher</option>
                        <option value="1" selected>Bot</option>
                        <option value="2">Student</option>
                        <option value="3">Guest</option>
                    `
                    } else if (room.students[student].permissions == 2) {
                        newStudent += `
                        <option value="0" selected>Teacher</option>
                        <option value="1">Bot</option>
                        <option value="2" selected>Student</option>
                        <option value="3">Guest</option>
                    `
                    } else if (room.students[student].permissions == 3) {
                        newStudent += `
                        <option value="0" selected>Teacher</option>
                        <option value="1">Bot</option>
                        <option value="2">Student</option>
                        <option value="3" selected>Guest</option>
                    `
                    }
                    newStudent += `</select>
                <button id="deleteUser" data-userid="${student}" onclick="deleteUser(this)">Delete User</button>`
                }
                permChangeList.innerHTML += newStudent
            }
        }

        function responsesFunc(room) {
            if (pollFilter.checked || lettFilter.checked || textFilter.checked) {
                filterResponses()
            } else {
                if (room.pollStatus) {
                    startPollForm.style.display = 'none'
                    endPoll.style.display = 'block'
                    responses.style.display = 'block'
                    filterBoxes.style.display = 'block'
                    lessonMaker.style.display = 'none'
                } else {
                    startPollForm.style.display = 'block'
                    endPoll.style.display = 'none'
                    responses.style.display = 'none'
                    filterBoxes.style.display = 'none'
                    lessonMaker.style.display = 'none'
                }
                responses.innerHTML = ''
                responses.innerHTML += '<h2>Responses</h2>'
                var newResponse = '';
                for (const student of Object.keys(room.students)) {
                    let lettRes;
                    let textRes;
                    if (room.students[student].pollRes) {
                        lettRes = room.students[student].pollRes.toUpperCase()
                    } else {
                        lettRes = "No Response"
                    }
                    if (room.students[student].pollTextRes) {
                        textRes = room.students[student].pollTextRes
                    } else {
                        textRes = "No Response"
                    }
                    newResponse += `<h3>${student}</h3>
                <p><b>Letter Response:</b> ${lettRes} &emsp; <b>Text Response:</b> ${textRes}</p>`
                }
                responses.innerHTML += newResponse
            }
        }

        function helpTicketsFunc(room) {
            helpTickets.innerHTML = ''
            helpTickets.innerHTML += '<h2>Help Tickets</h2>'
            var newHelpTicket = '';
            for (const student of Object.keys(room.students)) {
                newHelpTicket += room.students[student].help
            }
            helpTickets.innerHTML += newHelpTicket

        }

        function makeLesson() {
            let learningObj = document.getElementById('learningObj')
            let dueAssigns = document.getElementById('dueAssigns')
            socket.emit('lessonStart', learningObj.value);
            alert('Lesson Created')
        }

        var allRoom = ""
        socket.emit('cpupdate')
        socket.on('cpupdate', function (room) {
            room = JSON.parse(room)
            allRoom = room
            permChangeFunc(room)
            responsesFunc(room)
            helpTicketsFunc(room)
        })
    </script>
    <%- include('../partials/footer_content') %>