<%- include('../partials/header_content') %>

    <body id="colorContent">
        <div id="content" class="contentBox">
            <form action="createclass" method="post">
                <h2 class="headerText">Select a class</h2>
                <select id="classrooms" name="name">
                    <% ownerClasses.forEach(rooms=> { %>
                        <option value="<%- rooms %>">
                            <%- rooms %>
                        </option>
                        <% }) %>
                </select>
                <input type="text" name="submittionType" value="select" hidden>
                <input type="submit" id="submitButton" class="quickButton" value="Go" onsubmit="return false;">
            </form>
            <form action="createclass" method="post">
                <h2 class="headerText">Create a class</h2>
                <input type="text" id="usernameBox" name="name" placeholder="Class Name" value=""
                    autocomplete="off" required>
                <input type="text" name="submittionType" value="create" hidden>
                <input type="submit" id="submitButton" class="quickButton" value="Create" onsubmit="return false;">
            </form>
        </div>
    </body>