<!DOCTYPE html>
<%- include('../partials/header_content') %>
<html lang="en">
<body id="content">
    <form id="eventForm">
        <input type="text" id="ticket" class="quickButton" placeholder="Reason(optional)">
    </form>
    <button onclick="help()" class="quickButton">Send Ticket</button>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var today = new Date();
    
    function help(){
        var reason = document.getElementById('ticket').value
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        socket.emit('help', reason, time)
        socket.emit('cpupdate')
    }
</script>
</html>