<!DOCTYPE html>
<%- include('../partials/header_content') %>
    <html lang="en">

    <body id="colorContent">
        <%- include('../partials/body_sidebar_content') %>
        <form id="eventForm">
            <input type="text" id="ticket" class="quickButton" placeholder="Reason(optional)">
        </form>
        <button onclick="help()" class="quickButton">Send Ticket</button>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const maxCharacters = 150

        var socket = io()
        var today = new Date()

        function help() {
            var reason = document.getElementById('ticket').value
            var time = {
                hours: today.getHours(),
                minutes: today.getMinutes(),
                seconds: today.getSeconds()
            }
            console.log(reason.length)
            if (reason.length <= maxCharacters) {
                alert('Help Ticket Sent')
                socket.emit('help', reason, time)
                socket.emit('cpupdate')
                socket.emit('sfxPlay', "sfx_up04")
            } else alert(`reason is longer then ${maxCharacters} characters`)
        }
    </script>

    </html>