<!DOCTYPE html>
<%- include('../partials/header_content') %>
    <%- include('../partials/sockets') %>
        <html lang="en">

        <body style="font-size: 18px;">
            <%- include('../partials/formbar_header') %>
                <form id="eventForm">
                    <textarea id="ticket" cols="30" rows="5" maxlength="150" placeholder="Reason (optional)"></textarea>
                    <!-- <input type="text" id="ticket" class="quickButton" placeholder="Reason(optional)"> -->
                </form>
                <button onclick="help()" class="quickButton">Send Ticket</button>
                <%- include('../partials/body_content') %>
        </body>

        <script>
            var today = new Date()

            function help() {
                var reason = document.getElementById('ticket').value
                var time = {
                    hours: today.getHours(),
                    minutes: today.getMinutes(),
                    seconds: today.getSeconds()
                }
                console.log(reason.length)
                alert('Help ticket sent')
                socket.emit('help', reason, time)
                socket.emit('cpUpdate')
                socket.emit('sfxPlay', "sfx_up04")
            }
        </script>

        </html>