<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
</head>
<body>
    <form id="eventForm">
        <input type="text" id="ticket" placeholder="Reason(optional)">
    </form>
    <button onclick="help()">Send Ticket</button>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var today = new Date();
    
    function help(){
        var reason = document.getElementById('ticket').value
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        socket.emit('help', reason, time)
        socket.emit('cpupdate')
        socket.emit('sfxPlay', "sfx_up04")
    }
</script>
</html>