<%- include('../partials/header_content') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--Add style sheet-->
<body>
<h1>Formbar</h1>
<!--Use line breaks to seperate links-->
<div style="text-align:center ;">
    <a href="/poll">Poll Submit</a>
    <br>
    <a href="/chat">Chatroom</a>
    <br>
    <a href="/controlpanel">Teacher Controls</a>
</div>
</body>
</html>
<%- include('../partials/footer_content') %>