<%- include('../partials/header_content') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Formbar</h1>
<div style="text-align:center ;">
    <a href="/poll">Poll Submit</a>
    <br>
    <a href="/controlpanel">Teacher Controls</a>
    <br>
    <a href="/virtualbar">Virtual Bar</a>
    <br>
    <a href="/help">Help Ticket Creation</a>
    <br>
    <a href="/quiz">Take a quiz</a>
    <br>
    <a href="/bgm">BGM</a>
    <br>
    <a href="/sfx">SFX</a>
    <br>
    <a href="/lesson">Lesson</a>
</div>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
    var socket = io();
    socket.emit('vbData')
    socket.emit('cpupdate')
</script>
<%- include('../partials/footer_content') %>