<%- include('../partials/header_content') %>
  <!-- ^^ This means add this file into the contents of the header page -->
  <!-- This is where the title, top buttons, and stylesheet is located -->

  <body id="colorContent">
    <div id="content" class="contentBox">
      <button id="logInButton" class="pressed quickButton" onclick="changeloginType(this);">Log in</button>
      <button id="newAccountButton" class="quickButton" onclick="changeloginType(this);">New account</button>
      <button id="guestButton" class="quickButton" onclick="changeloginType(this);">Use as guest</button>
      <br><br>
      <form action="login" method="post" style="margin-bottom: 16px;">
        <input type="text" id="usernameBox" name="username" class="loginBox" placeholder="Name" value=""
          autocomplete="off" pattern="[a-z0-9]+" required>
        <input type="password" id="passwordBox" name="password" class="loginBox" placeholder="Password" value=""
          pattern="[a-zA-Z0-9]+" required>
        <a href="/changepassword" id="forgotPassword" class="quickButton loginBox">Forgot password</a>
        <input type="hidden" id="loginTypeBox" name="loginType" value="login">
        <input type="hidden" id="userTypeBox" name="userType" value="user">
        <br><br>
        <input type="submit" id="submitButton" class="button unselectable quickButton" value="Log in"
          onsubmit="return false;">
      </form>
    </div>
  </body>

  <%- include('../partials/footer_content') %>
    <script type="text/javascript">

      //Prevent submission if a field is blank
      let liButton = document.getElementById("logInButton")
      let naButton = document.getElementById("newAccountButton")
      let gButton = document.getElementById("guestButton")
      let ub = document.getElementById("usernameBox")
      let pb = document.getElementById("passwordBox")
      let fp = document.getElementById("forgotPassword")
      let ut = document.getElementById("loginTypeBox")
      let sb = document.getElementById("submitButton")

      function changeloginType(el) {
        [liButton, naButton, gButton].forEach(button => (button == el) ? button.classList.add("pressed") : button.classList.remove("pressed"))
        switch (el) {
          case liButton:
            pb.classList.remove("hidden")
            pb.required = true
            fp.classList.remove("hidden")
            sb.value = "Log in"
            ut.value = "login"
            break
          case naButton:
            pb.classList.remove("hidden")
            pb.required = true
            fp.classList.add("hidden")
            sb.value = "Create account"
            ut.value = "new"
            break
          case gButton:
            pb.value = null
            pb.classList.add("hidden")
            pb.required = false
            fp.classList.add("hidden")
            sb.value = "Go"
            ut.value = "guest"
        }

        checkIfBlank()

        document.getElementById("usernameBox").focus()
      }

      function checkIfBlank() {
        if (ub.value && (pb.value || ut.value == "guest")) {
          sb.classList.remove("unselectable")
          sb.onsubmit = () => true
        } else {
          sb.classList.add("unselectable")
          sb.onsubmit = () => false
        }
      }

      ub.oninput = checkIfBlank
      pb.oninput = checkIfBlank

      changeloginType(liButton);
    </script>