<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body onload="baseStyle()">
    <form id="quizMaker">
<textarea name="" id="quiz" cols="60" rows="30"></textarea>
<input type="number" id="points" placeholder="How many points is it worth?">
<button type="button" onclick="startQuiz()">Start Quiz</button>
    </form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
     var socket = io();
    function startQuiz(){
        socket.emit('startQuiz', document.getElementById('quiz').value,document.getElementById('points').value );
    }
</script>
</html>