<!DOCTYPE html>
<%- include('../partials/header_content') %>

    <html lang="en">

    <body style="font-size: 18px;">
        <%- include('../partials/formbar_header') %>
            <%- message %><br>
                <br>
                <button onclick="history.back();">Go back</button>
    </body>

    </html>