<!DOCTYPE html>
<%- include('../partials/header_content') %>
<%- include('../partials/sockets') %>
<html lang="en">

<body class="messageBody" role="document" tabindex="0">
    <%- include('../partials/formbar_header') %>
    <div style="white-space: pre; overflow-x: auto; max-width: 100%;"><%- message %></div>
    <button class="revampButton" onclick="history.back();">Go Back</button>
</body>
</html>