<!DOCTYPE html>
<%- include('../partials/header_content') %>
    <%- include('../partials/sockets') %>

        <html lang="en">

        <body class="messageBody" role="document" tabindex="0">
            <%- include('../partials/formbar_header') %>
                <%- message %>
                    <button class="revampButton" onclick="history.back();">Go Back</button>
        </body>

        <script>
            socket.emit('classUpdate')
            socket.emit('vbUpdate')
        </script>

        </html>