<!DOCTYPE html>
<%- include('../partials/header_content') %>
    <%- include('../partials/sockets') %>

        <html lang="en">

        <body style="font-size: 18px;">
            <%- include('../partials/formbar_header') %>
                <%- message %><br>
                    <br>
                    <button onclick="history.back();">Go back</button>
        </body>

        <script>
            socket.emit('cpUpdate')
            socket.emit('vbUpdate')
        </script>

        </html>