<%- include('../partials/header_content') %>
    <%- include('../partials/formbar_header') %>

        <body>
            <h1>News:</h1>  
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim a atque quas quod temporibus doloremque
                suscipit alias asperiores, aliquid deleniti obcaecati voluptates mollitia dolores placeat, iusto quia
                debitis pariatur molestias!</p>

        </body>