<%- include('../partials/header_content') %>
    <%- include('../partials/sockets') %>
    <%- include('../partials/formbar_header') %>

        <body role="document" tabindex="0">
            <div id="news">
                <section>
                    <div class="titleSection">
                        <h1>Patch Notes</h1>
                        <h6>Latest Update: March 11th, 2025 at 8:52 AM</h6>
                    </div>
                    <article>
                        <h3>Version 1.1.0</h3>
                        <ul>
                            <li><b>Email and Password Reset: </b>Accounts now require email verification to register. This prevents spam accounts, but users can now use it to reset their password!</li>
                            <li><b>Google Signin: </b><i>Pending.</i> Users can now use their existing Google accounts to create an account and log in.</li>
                            <li><b>New Teacher Panel: </b>Your student list is going to look a little different. Editting permission levels and selecting tags is now clearer and easier than before. Many of the settings have been moved to a single menu, accesible from the gear icon at the top of the page. From the Settings tab, you can now fast-edit tags, change your class name, and change the class entry code. Sounds now play in the browser on student activity.</li>
                            <li><b>Select Feature: </b>Quickly and easily poll portions of the class. The "Select" section of the panel now auto-fills with all tags students have, and all responses to polls. Now you can ask follow-up questions to only students who replied a certain way, or ask questions to only certain groups of a project.</li>
                            <li><b>Improved API: </b> Build your third party apps to integrate with Formbar. See the <a class="link" href="https://github.com/csmith1188/Formbar.js/wiki" target="_blank">Formbar.js Wiki</a> for more information.</li>
                        </ul>
                    </article>
                </section>
            </div>
        </body>