<%- include('../partials/header_content') %>
    <%- include('../partials/sockets') %>
    <%- include('../partials/formbar_header') %>

        <body>
            <div id="news">
                <section>
                    <h2>Patch Notes</h2>
                    <article>
                        <h3>Version 1.0.0</h3>
                        <h2>Released on: 10/15/2023</h2>
                        <ul>
                            <li>Initial release</li>
                            <li>Added new features</li>
                        </ul>
                    </article>
                    <article>
                        <h2>Upcoming Patch</h2>
                        <h3>Version 1.0.0</h3>
                        <h2>Expected release date: 12/23/2025</h2>
                        <ul>
                            <li>New bug fixes</li>
                            <li>New features</li>
                            <li>Improved performance</li>
                        </ul>
                    </article>
                </section>
            </div>
        </body>