<%- include('../partials/header_content') %>
  <!-- ^^ This means add this file into the contents of the header page -->
  <!-- This is where the title, top buttons, and stylesheet is located -->

  <body id="colorContent">
    <div id="content">
        <form action="oauth" method="post" style="margin-bottom: 16px;">
            <!-- Carries over and submits the redirectURL specified by the user. -->
            <input type="hidden" name="redirectURL" value="<%-redirectURL%>">
        <input type="text" id="usernameBox" name="username" class="box quickButton" placeholder="Name" value=""
          autocomplete="off" required>
        <br>
        <input type="password" id="passwordBox" name="password" class="box quickButton" placeholder="Password" value=""
          required>
        <a href="/changepassword" id="forgotPassword" class="quickButton">Forgot password</a>
        <br><br>
        <input type="submit" id="submitButton" class="button unselectable quickButton" value="Verify"
          onsubmit="return false;">
      </form>
    </div>
  </body>

  <%- include('../partials/footer_content') %>

</html>