<%- include('../partials/header_content') %>
  <!-- ^^ This means add this file into the contents of the header page -->
  <!-- This is where the title, top buttons, and stylesheet is located -->

  <body id="colorContent">
    <div id="indexContent">
        <form action="oauth" method="post" style="margin-bottom: 16px;">
            <!-- Carries over and submits the redirectURL specified by the user. -->
            <input type="hidden" name="redirectURL" value="<%-redirectURL%>">
        <input type="text" id="usernameBox" name="username" class="loginBox" placeholder="Name" value=""
          autocomplete="off" pattern="[a-zA-Z0-9]+" required>
        <input type="password" id="passwordBox" name="password" class="loginBox" placeholder="Password" value="" pattern="[a-zA-Z0-9]+"
          required>
        <a href="/changepassword" id="forgotPassword" class="loginBox quickButton">Forgot password</a>
        <br><br>
        <input type="submit" id="submitButton" class="button unselectable quickButton" value="Verify">
      </form>
    </div>
  </body>

  <script>
    let ub = document.getElementById("usernameBox")
    let pb = document.getElementById("passwordBox")
    let sb = document.getElementById("submitButton")

    function checkIfBlank() {
        if (ub.value && pb.value) {
          sb.classList.remove("unselectable")
          sb.onsubmit = () => true
        } else {
          sb.classList.add("unselectable")
          sb.onsubmit = () => false
        }
      }

      ub.oninput = checkIfBlank
      pb.oninput = checkIfBlank
  </script>

  <%- include('../partials/footer_content') %>

    </html>