<%- include('../partials/header_content') %>
<!-- ^^ This means add this file into the contents of the header page -->
<!-- This is where the title, top buttons, and stylesheet is located -->

<body id="colorContent">
  <%- include('../partials/formbar_header') %>
  <div id="content" class="contentBox">
    <button id="logInButton" class="pressed quickButton" onclick="changeloginType(this);">Log in</button>
    <button id="newAccountButton" class="quickButton" onclick="changeloginType(this);">New account</button>
    <button id="guestButton" class="quickButton" onclick="changeloginType(this);">Use as guest</button>
    <br><br>
    <form action="login" method="post" style="margin-bottom: 16px;">
      <input type="text" id="usernameBox" name="username" class="loginBox" placeholder="Name" value="" autocomplete="off" pattern="[a-zA-Z0-9_]+" required>
      <p style="font-size:small;font-weight:bold;color: black;" id="passwordInfo">*Username may only contain:
        a-z, A-Z, 0-9, and _,.</p>
      <input type="password" id="passwordBox" name="password" class="loginBox" placeholder="Password" value="" pattern="[a-z0-9A-Z!@#$%^&*_?]+" minlength="8" maxlength="32" required>
      <input type="text" id="displayNameBox" name="displayName" class="loginBox" placeholder="Display Name" value="" pattern="[a-zA-Z0-9]+" required>
      <p style="font-size:small;font-weight:bold;color: black;" id="passwordInfo">*passwords may only contain:
        a-z, A-Z, 0-9, !, @, #, $, ^, %, &, *, _, and ?.</p>
      <a href="/changepassword" id="forgotPassword" class="quickButton loginBox">Forgot password</a>
      <input type="hidden" id="loginTypeBox" name="loginType" value="login">
      <input type="hidden" id="userTypeBox" name="userType" value="user">
      <br><br>
      <input type="submit" id="submitButton" class="button unselectable quickButton" value="Log in" onsubmit="return false;">
    </form>
  </div>
</body>

<script>
  let ub = document.getElementById("usernameBox")
  let pb = document.getElementById("passwordBox")
  let sb = document.getElementById("submitButton")

  function checkIfBlank() {
    if (ub.value && pb.value) {
      sb.classList.remove("unselectable")
      sb.onsubmit = () => true
    } else {
      sb.classList.add("unselectable")
      sb.onsubmit = () => false
    }
  }

  ub.oninput = checkIfBlank
  pb.oninput = checkIfBlank
</script>

<%- include('../partials/footer_content') %>

</html>