<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>

<body>
    <form action="/poll" method="post">
        <input type="radio" name="poll" id="a" value="a">
        <label for="a">A</label>
        <input type="radio" name="poll" id="b" value="b">
        <label for="b">B</label>
        <input type="radio" name="poll" id="c" value="c">
        <label for="c">C</label>
        <input type="radio" name="poll" id="d" value="d">
        <label for="d">D</label>
    </form>
    <button onclick="submit()">submit</button>
</body>
<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io();
    var a = document.getElementById('a')
    var b = document.getElementById('b')
    var c = document.getElementById('c')
    var d = document.getElementById('d')
    function submit() {
        if (a.checked) {
            socket.emit('pollResp', '<%-user%>', a.value);
        } else if (b.checked) {
            socket.emit('pollResp', '<%-user%>', b.value);
        } else if (c.checked) {
            socket.emit('pollResp', '<%-user%>', c.value);
        } else if (d.checked) {
            socket.emit('pollResp', '<%-user%>', d.value);
        } else {
            return false;
        }
    };
    io.of("/polls").adapter.on("create-room", (room) => {
        console.log(`room ${room} was created`);
    });

    io.of("/polls").adapter.on("join-room", (room, id) => {
        console.log(`socket ${id} has joined room ${room}`);
    });

</script>

</html>