<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>
<body>
    <form action="/poll" method="post">
        <input type="radio" name="poll" id="a" value="a">
        <label for="a">A</label>
        <input type="radio" name="poll" id="b" value="b">
        <label for="b">B</label>
        <input type="radio" name="poll" id="c" value="c">
        <label for="c">C</label>
        <input type="radio" name="poll" id="d" value="d">
        <label for="d">D</label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>