<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>

<body onload="load(<%-pollStatus%>, <%-posTextRes%>)">
    <%-pollPrompt%>
    <h1 id="noPoll">No Poll Is Active Currently</h1>
    <div id="poll">
    <form id="pollForm">
        
    </form>
    <button onclick="submitPoll()">Submit</button>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
   // io.of("/polls").adapter.on("create-room", (room) => {
   //     console.log(`room ${room} was created`);
   // });
//
   // io.of("/polls").adapter.on("join-room", (room, id) => {
   //     console.log(`socket ${id} has joined room ${room}`);
   // });
            var socket = io();
            var resTextBox = document.getElementById('resTextBox')
            var pollForm = document.getElementById('pollForm')

            // Submits the users answer to the poll
            // Takes the posPollRes value which defines the number of possible answers
            function submitPoll() {
                var radios = document.getElementsByTagName('input')
                var lettRes = ''
                var textRes = ''
                for (var i = 0; i < radios.length; i++) {

                    if (radios[i].type === 'radio' && radios[i].checked) {
                        // Defines the letter response of the user
                        lettRes = radios[i].value; 
                              
                    }
                    if (radios[i].type === 'text') {
                        // Defines the text input of the user
                        textRes = radios[i].value
                    }
                    
                }
                alert('Poll Submitted ' + lettRes)
                // Sends user input to the server
                socket.emit('pollResp', lettRes, textRes);
                socket.emit('vbData');
            }

            
            var poll = document.getElementById('poll')
            var noPoll = document.getElementById('noPoll')
            // Function will run on page load
            // Checks if poll is active
            // Creates any number of responses that were defined by the teacher
            // Checks if teacher wanted text responses or not
            function load(pollStatus, posTextRes) {
                var posPollRes = <%-posPollRes%>
                if (pollStatus) {
                    noPoll.style.display = 'none'
                    poll.style.display = 'block'

                    let keys = Object.keys(posPollRes);

                    // Creates all selectable answers and displays them to the user
                    for (let i = 0; i < keys.length; i++) {
                        pollForm.innerHTML += `<input type="radio" name="poll" id="${keys[i]}" value="${keys[i]}"> <label for="${keys[i]}">${posPollRes[keys[i]]}</label>`
                    }
                    if (posTextRes) {
                        pollForm.innerHTML += `<br><input type="text" name="resText" id="resTextBox">`
                    }
                } else {
                    noPoll.style.display = 'block'
                    poll.style.display = 'none'
                }

            }

            // When new poll is created or ended, this refreshes the page
            socket.on('reload', function() {
                location.reload()
            })
</script>

</html>