<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header_content') %>
<body id="colorContent">

    <form action="/previousLessons" method="post">
    <% for (let i = rows.length-1; i >= 0; i--) {  console.log(rows.length)%>
     <button type="submit" name="data" value="<%=rows[i].content%>" class="quickButton"><%- rows[i].date %></button><br><br>
    <% } %>
    </form>

</body>
</html>