<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header_content') %>

<body onload="load(<%= quiz %>)" id="content">
    <form id="quizForm" method="post" action="/results">
    </form>
</body>
<script>
    function load(quiz) {
        let correctAnswerIndex = []
        let quizForm = document.getElementById('quizForm')
        
        for (let i = 0; i < quiz.questions.length; i++) {
            quizForm.innerHTML += `</br><br><b class="textColorContent">${quiz.questions[i][0]}</b>`
            correctAnswerIndex.push(quiz.questions[i][1])
            for (let u = 2; u < quiz.questions[i].length; u++) {
                console.log(u - 1);
                quizForm.innerHTML += `</br><input type="checkbox" name="question" value="${u-1}"> ${quiz.questions[i][u]}`
            }
        }
        quizForm.innerHTML += `</br><br><button type="submit" class="quickButton">Submit Answers</button>`
        console.log(correctAnswerIndex);

    }

</script>

</html>