<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header_content') %>
<body id="colorContent" role="document" tabindex="0">
    <h1 id="headerText">You scored! <%- totalScore %> out of <%- maxScore %></h1>
</body>
</html>