<%- include('../partials/header_content') %>

<body id="colorContent">
    <form action="selectclass" method="post">
            <input type="text" required="true" name="key" placeholder="class code" class="quickButton">
            <input type="submit" id="submitButton" class="button unselectable quickButton" value="Submit" onsubmit="return false;">
    </form>
</body>