<%- include('../partials/header_content') %>

<body class="<%- color %>">
    <form action="selectclass" method="post">
            <input type="text" required="true" name="key" placeholder="class code">
            <input type="submit" id="submitButton" class="button unselectable" value="Submit" onsubmit="return false;">
    </form>
</body>