<%- include('../partials/header_content') %>

<body class="<%- color %>">
    <form action="selectclass" method="post">
        <input type="text" id="usernameBox" name="name" class="box" placeholder="Class Name" value="" autocomplete="off" required>
        <input type="submit" id="submitButton" class="button unselectable" value="Submit" onsubmit="return false;">
    </form>
</body>