<%- include('../partials/header_content') %>
  <%- include('../partials/sockets') %>
    <!-- ^^ This means add this file into the contents of the header page -->
    <!-- This is where the title, top buttons, and stylesheet is located -->

    <body id='colorContent'>
      <%- include('../partials/formbar_header') %>
        <form action='/verification' method='post'>
            <h1>Verification</h1>
            <button type='submit'>Send Verification Email</button>
        </form>
    </body>

    <%- include('../partials/footer_content') %>