<h1>Reset your password</h1>

<p>You requested to reset your password for Formbar.</p>

<p>Click the link below to change your password</p>

<a href="{{resetUrl}}" style="font-size:16px">Reset Password</a>

<p>If you didn’t request this, you can ignore this email.</p>